<div class="box-inner padding ng-scope" ng-controller="activeController">
    <form name="activeForm" class="panel panel-default ng-scope panel-body b-b b-light">
        <input type="text" class="form-control form-control-1   ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入优惠券码"  name="activeInput" ng-model="ticketNum" required >
        <button  class="md-btn md-raised m-b btn-fw indigo" ng-click="tip()" ng-disabled="activeForm.$invalid">激活</button>
    </form>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'views/partials/modal.html'"></div>
</script>




