<!--中天水云间—买方-->
    <div class="zhongtian_content">
        <p class="h_title">
            <img src="modules/zhongtian_HouseDetail/static/image/shuiyun/logo.png"><span>中天·水云间</span>
        </p>
        <div class="banner">
            <div class="banner1"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/头部图片.png"></div>
            <div class="point"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/当前图片圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"></div>
            <div class="abstract">
                <p>270-643㎡，一环曲靖一中学位房，均价7000元/㎡起；</p>
                <p>商业巨擎-西南家乐福旗舰店、银行欢乐影城、洲际品牌店全线入驻。</p>
            </div>
        </div>
        <div class="P_title"><h1>优惠巨献：1.8万抵6万，3万抵15万</h1></div>
        <div class="main_png">
            <div> <img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图文详情.png"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="foot">
            <a href="#"><span class="advice"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/资讯热线按钮.png" class="btn1">咨询热线</span></a>
        </div>
    </div>
