<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <link href="../static/style/zhongtian_HouseDetail.css" rel="stylesheet" type="text/css"/>
    <title>中天*水云间</title>
</head>
<body>
<div class="window">
    <div class="head">
        <div class="logo fl"><a href=""><img src="../static/image/houseDetail/logo.png"></a> </div>
        <div class="search fr">
            <img src="../static/image/houseDetail/search.png">
            <input id="search_input" name="searchinput" placeholder="搜索楼盘">
            <button>搜索</button>
        </div>
    </div>
    <div class="content">
        <p class="title">
            <img src="../static/image/shuiyun/logo.png"><span>中天·水云间</span>
        </p>
        <div class="banner">
            <div class="banner1"><img src="../static/image/shuiyun/头部图片.png"></div>
            <div class="point"><img src="../static/image/shuiyun/当前图片圆点.png"><img src="../static/image/shuiyun/图片上方圆点.png"><img src="../static/image/shuiyun/图片上方圆点.png"><img src="../static/image/shuiyun/图片上方圆点.png"><img src="../static/image/shuiyun/图片上方圆点.png"></div>
            <div class="abstract">
                <p>270-643㎡，一环曲靖一中学位房，均价7000元/㎡起；</p>
                <p>商业巨擎-西南家乐福旗舰店、银行欢乐影城、洲际品牌店全线入驻。</p>
            </div>
        </div>
        <div class="Ptitle"><h1>优惠巨献：1.8万抵6万，3万抵15万</h1></div>
        <div class="main">
            <div> <img src="../static/image/shuiyun/图文详情.png"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="foot">
            <a href="#"><span class="advice"><img src="../static/image/shuiyun/资讯热线按钮.png" class="btn1">咨询热线</span></a>
        </div>
        <div class="footer">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal">个人中心</span></a>
        </div>
    </div>

</div>

</body>
</html>