<div class="NoviceTask-content">
    <div class="NoviceTask-bg">
        <div class="headImg"><img src="modules/NoviceTask/static/image/NoviceTask/head.png" alt="开启新手任务" width="640" height="654"/></div>
        <div class="flag"><img src="modules/NoviceTask/static/image/NoviceTask/flag.png" alt="旗子" width="91" height="87"/></div>
        <div class="line"><img src="modules/NoviceTask/static/image/NoviceTask/line.png" alt="连接线" width="559" height="2342"/></div>
        <div class="notebook"><img src="modules/NoviceTask/static/image/NoviceTask/notebook.png" alt="笔记" width="187" height="185"/></div>
        <div class="EnterTask">
            <div class="PerfectData">
                注册并完善资料
            </div>
            <p>快速填写，开启致富之旅</p>
            <a href="#/user/NoviceTask-login"><img src="modules/NoviceTask/static/image/NoviceTask/task.png" width="223" height="61" alt="点击进入任务"/></a>
        </div>
        <div class="grass-1"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="56" height="30" alt="小草"/></div>
        <div class="Mobile"><img src="modules/NoviceTask/static/image/NoviceTask/Mobile.png" width="154" height="187" alt="电话"/></div>
        <div class="bind">
            <div class="bindWeixin">
                绑定微信
            </div>
            <p>一键绑定，轻松赚钱</p>
            <a href="#"><img src="modules/NoviceTask/static/image/NoviceTask/task.png" width="223" height="61" alt="点击进入任务"/></a>
        </div>
        <div class="grass-2"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="76" height="38" alt="小草"/></div>
        <div class="grass-3"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="50" height="25" alt="小草"/></div>
        <div class="lead"><img src="modules/NoviceTask/static/image/NoviceTask/lead.png" width="430" height="281" alt="赚钱模式"/></div>
        <div class="person"><img src="modules/NoviceTask/static/image/NoviceTask/person.png" width="237" height="230" alt="房源"/></div>
        <div class="grass-4"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="50" height="25" alt="小草"/></div>
        <div class="grass-5"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="36" height="20" alt="小草"/></div>
        <div class="model-1">
            <div class="tj">
                模式一：推荐
            </div>
            <p>填表推荐，轻松赚钱</p>
            <a href="#"><img src="modules/NoviceTask/static/image/NoviceTask/task.png" width="223" height="61" alt="点击进入任务"/></a>
        </div>
        <div class="grass-6"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="50" height="25" alt="小草"/></div>
        <div class="model-2">
            <div class="dk">
                模式一：带客
            </div>
            <p>快速预约，带客上门</p>
            <a href="#"><img src="modules/NoviceTask/static/image/NoviceTask/task.png" width="223" height="61" alt="点击进入任务"/></a>
        </div>
        <div class="house"><img src="modules/NoviceTask/static/image/NoviceTask/house.png" width="292" height="144" alt="房源"/></div>
        <div class="grass-7"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="50" height="25" alt="小草"/></div>
        <div class="leadL"><img src="modules/NoviceTask/static/image/NoviceTask/leadL.png" width="477" height="314" alt="发展合伙人"/></div>
        <div class="grass-8"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="50" height="25" alt="小草"/></div>
        <div class="three"><img src="modules/NoviceTask/static/image/NoviceTask/three.png" width="235" height="276" alt="小草"/></div>
        <div class="partners">
            <div class="tj">
                推荐合伙人
            </div>
            <p>召集伙伴，坐享现金奖励</p>
            <a href="#"><img src="modules/NoviceTask/static/image/NoviceTask/task.png" width="223" height="61" alt="点击进入任务"/></a>
        </div>
        <div class="red"><img src="modules/NoviceTask/static/image/NoviceTask/red.png" width="469" height="340" alt="红包"/></div>
        <div class="grass-9"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="68" height="36" alt="小草"/></div>
        <div class="grass-10"><img src="modules/NoviceTask/static/image/NoviceTask/grass.png" width="50" height="25" alt="小草"/></div>

    </div>
</div>








