<div class="NoviceTask-content">
    <div class="NoviceTask-bg">
        <div class="headImg"><img src="modules/NoviceTask/static/image/NoviceTask/head.png" alt="开启新手任务" width="640" height="654"/></div>
        <div class="flag"><img src="modules/NoviceTask/static/image/NoviceTask/flag.png" alt="旗子" width="91" height="87"/></div>
        <div class="line"><img src="modules/NoviceTask/static/image/NoviceTask/line.png" alt="连接线" width="559" height="2342"/></div>
        <div class="notebook"><img src="modules/NoviceTask/static/image/NoviceTask/notebook.png" alt="笔记" width="187" height="185"/></div>
        <div class="EnterTask">
            <div class="PerfectData">
                注册并完善资料
            </div>
            <p>快速填写，开启致富之旅</p>
            <a href="#"><img src="modules/NoviceTask/static/image/NoviceTask/task.png" alt=""/></a>
        </div>
    </div>
</div>