body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:205px;
  width:200px;
  height:190px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:190px;
}
#u3 {
  position:absolute;
  left:2px;
  top:87px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:310px;
  top:215px;
  width:180px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4_input:disabled {
  color:grayText;
}
#u5 {
  position:absolute;
  left:310px;
  top:247px;
  width:180px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:310px;
  top:282px;
  width:180px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:310px;
  top:317px;
  width:90px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:410px;
  top:317px;
  width:80px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:310px;
  top:352px;
  width:90px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:410px;
  top:352px;
  width:80px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
