
<form action="#">
    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
    <select name="select" id="select" class="form-control">
        <option value="1">手机号码</option>
        <option value="2">身份证</option>
        <option value="3">姓名</option>
        <option value="4">昵称</option>
        <option value="5">注册时间</option>
        <option value="6">级别</option>
    </select>
    <button>添加管理员</button>
</form>
<div class="list">
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <h4>账户名</h4>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <h4>账户名</h4>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <h4>账户名</h4>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
</div>
<div class="page">分页</div>

