    <div class="row">
    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
    <select name="select" id="select" class="form-control">
        <option value="1">手机号码</option>
        <option value="2">身份证</option>
        <option value="3">姓名</option>
        <option value="4">昵称</option>
        <option value="5">注册时间</option>
        <option value="6">级别</option>
    </select>
        <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
    </div>
    <div class="md-list md-whiteframe-z0 bg-white m-b">
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a0.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a1.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a2.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a3.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a4.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a5.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a6.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a7.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content">
                <h3>Brunch this weekend?</h3>
                <small class="font-thin">Min Li Chan</small>
            </div>
        </div>
    </div>
    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin ng-isolate-scope">
        <!-- ngIf: pages.length >= 2 -->
        <nav ng-if="pages.length >= 2" class="ng-scope">
        <ul class="pagination">
        <!-- ngRepeat: page in pages -->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope active">
            <a ng-click="selectPage(page)" class="ng-binding" tabindex="0">1</a>
        </li>
        <!-- end ngRepeat: page in pages -->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
            <a ng-click="selectPage(page)" class="ng-binding" tabindex="0">2</a>
        </li>
        <!-- end ngRepeat: page in pages -->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
            <a ng-click="selectPage(page)" class="ng-binding" tabindex="0">3</a>
        </li>
        <!-- end ngRepeat: page in pages -->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
            <a ng-click="selectPage(page)" class="ng-binding" tabindex="0">4</a>
        </li>
        <!-- end ngRepeat: page in pages -->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
            <a ng-click="selectPage(page)" class="ng-binding" tabindex="0">5</a>
        </li>
        <!-- end ngRepeat: page in pages -->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
            <a ng-click="selectPage(page)" class="ng-binding" tabindex="0">6</a>
        </li>
        <!-- end ngRepeat: page in pages -->
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="ng-scope">
            <a ng-click="selectPage(page)" class="ng-binding" tabindex="0">7</a>
        </li>
        <!-- end ngRepeat: page in pages -->
        </ul>
        </nav>
        <!-- end ngIf: pages.length >= 2 -->
    </div>
