<!--黄秀宇 短信配置 2015.05.07
自加CSS路径<link rel="stylesheet" href="styles/task.css" type="text/css" />-->
<div class="marginL">
    <div>
        <input style="width:200px;" type="text" class="form-control" placeholder="短信配置名称">
        <input style="width:200px;" type="text" class="form-control" placeholder="短信配置模板">

        <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">检索</button>
       </div>
<div id="divConfig">
    <table class="table m-b-none footable-loaded footable default" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead class="divheard">
        <tr>
            <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
                ID
                <span class="footable-sort-indicator"></span></th>
            <th class="footable-visible footable-sortable footable-sorted-desc">
                短信配置名称
                <span class="footable-sort-indicator"></span></th>
            <th data-hide="phone,tablet" class="footable-sortable footable-visible" style="display: table-cell;">
                短信配置模板
                <span class="footable-sort-indicator"></span></th>
        </tr>
        </thead>
        <tbody>

        <tr class="footable-odd" style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>1003401</td>
            <td class="footable-visible">短信配置名称</td>
            <td class="footable-visible" >短信配置模板</td>

        </tr>
        <tr class="footable-even" style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>1003401</td>
            <td class="footable-visible">短信配置名称</td>
            <td class="footable-visible" >短信配置模板</td>

        </tr>
        <tr class="footable-odd" style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>1003401</td>
            <td class="footable-visible">短信配置名称</td>
            <td class="footable-visible" >短信配置模板</td>

        </tr>
        <tr class="footable-even" style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>1003401</td>
            <td class="footable-visible">短信配置名称</td>
            <td class="footable-visible" >短信配置模板</td>

        </tr>

        </tbody>
        <tfoot class="hide-if-no-paging">
        <tr>
            <td colspan="5" class="text-center footable-visible">
                <ul class="pagination">
                    <li class="footable-page-arrow">
                        <a data-page="first" href="#first">«</a>
                    </li>
                    <li class="footable-page-arrow">
                        <a data-page="prev" href="#prev">‹</a>
                    </li>
                    <li class="footable-page">
                        <a data-page="0" href="#">1</a>
                    </li>
                    <li class="footable-page active">
                        <a data-page="1" href="#">2</a>
                    </li>
                    <li class="footable-page-arrow disabled">
                        <a data-page="next" href="#next">›</a>
                    </li>
                    <li class="footable-page-arrow disabled">
                        <a data-page="last" href="#last">»</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</div>

