
<form action="#">
    <input type="text">
    <select>
        <option value="1">商家名</option>
        <option value="2">联系电话</option>
        <option value="3">组织机构代码</option>
        <option value="4">商家名</option>
    </select>
</form>
<div class="list">
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <p><span>商家名</span><span>联系电话</span></p>
                <p>组织机构代码</p>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <p><span>商家名</span><span>联系电话</span></p>
                <p>组织机构代码</p>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <p><span>商家名</span><span>联系电话</span></p>
                <p>组织机构代码</p>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
</div>
<div class="page">分页</div>
