<ul class="nav nav-tabs">
    <li class="">
        <a href="" data-toggle="tab" data-target="#tab1" aria-expanded="false">个人信息</a>
    </li>
    <li class="active">
        <a href="" data-toggle="tab" data-target="#tab2" aria-expanded="true">出入账</a>
    </li>
    <li class="">
        <a href="" data-toggle="tab" data-target="#tab3" aria-expanded="false">提现明细</a>
    </li>
    <li class="">
        <a href="" data-toggle="tab" data-target="#tab4" aria-expanded="false">银行卡明细</a>
    </li>
    <li class="">
        <a href="" data-toggle="tab" data-target="#tab5" aria-expanded="false">积分明细</a>
    </li>
</ul>
<div class="tab-content p b-a no-b-t bg-white m-b-md">
    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab1">
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="images/a0.jpg" class="w-full circle">
            </div>
            <div class="md-list-item-content details">
                <div><small>都是望角</small><small>白银</small></div>
                <div><small>注册账号</small><small>张杰</small></div>
                <div><small>积分总额</small><small>800元</small></div>
            </div>
        </div>
        <table class="table">


            <tr>
                <td>电话</td>
                <td>QQ</td>
                <td>邮箱</td>
            </tr>
            <tr>
                <td>身份证</td>
                <td>性别</td>
                <td>注册时间</td>

            </tr>
            <tr>
                <td>用户类型</td>
                <td>状态</td>
                <td>所属合伙人</td>
               
            </tr>

        </table>
        <div>详细地址：昆明市盘龙区穿金路金尚国际A座</div>

    </div>
    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab2">
        <div class="row">
            <input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
        </div>
        <div class="row border">
            <div class="col-md-6">
               <div class="col-md-4">1</div>
               <div class="col-md-4">￥4500</div>
               <div class="col-md-4">描述</div>
            </div>
            <div class="col-lg-6">
                <div class="col-md-6">2015.5.12</div>
                <div class="col-md-6">李晓光</div>
            </div>
        </div>
        <div class="row border">
            <div class="col-md-6">
                <div class="col-md-4">2</div>
                <div class="col-md-4">￥4500</div>
                <div class="col-md-4">描述</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">2015.5.12</div>
                <div class="col-md-6">李晓光</div>
            </div>
        </div>
        <div class="row border">
            <div class="col-md-6">
                <div class="col-md-4">3</div>
                <div class="col-md-4">￥4500</div>
                <div class="col-md-4">描述</div>
            </div>
            <div class="col-lg-6">
                <div class="col-md-6">2015.5.12</div>
                <div class="col-md-6">李晓光</div>
            </div>
        </div>
        <div class="row border">
            <div class="col-md-6">
                <div class="col-md-4">4</div>
                <div class="col-md-4">￥4500</div>
                <div class="col-md-4">描述</div>
            </div>
            <div class="col-lg-6">
                <div class="col-md-6">2015.5.12</div>
                <div class="col-md-6">李晓光</div>
            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab3">
        <div class="row">
            <input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
        </div>
        <div class="row border">
            <div class="col-md-3"> 1</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>
        <div class="row border">
            <div class="col-md-3"> 2</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>
        <div class="row border">
            <div class="col-md-3"> 3</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>
        <div class="row border">
            <div class="col-md-3"> 4</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab4">
        <div class="row">
            <input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
        </div>
        <div class="row border">
            <div class="col-md-4">1</div>
            <div class="col-md-4">5624 1235 8652 125</div>
            <div class="col-md-4">中国银行云南盘龙支行</div>
        </div>
        <div class="row border">
            <div class="col-md-4">2</div>
            <div class="col-md-4">5624 1235 8652 125</div>
            <div class="col-md-4">中国银行云南盘龙支行</div>
        </div>
        <div class="row border">
            <div class="col-md-4">3</div>
            <div class="col-md-4">5624 1235 8652 125</div>
            <div class="col-md-4">中国银行云南盘龙支行</div>
        </div>
        <div class="row border">
            <div class="col-md-4">4</div>
            <div class="col-md-4">5624 1235 8652 125</div>
            <div class="col-md-4">中国银行云南盘龙支行</div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab5">
        <div class="row">
            <input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
            <span style="float:right;font-weight: bold;margin-right: 50px;font-size:1.5em;">积分总额</span>
        </div>
        <div class="row border">
            <div class="col-md-3"> 1</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>
        <div class="row border">
            <div class="col-md-3"> 2</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>
        <div class="row border">
            <div class="col-md-3"> 3</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>
        <div class="row border">
            <div class="col-md-3"> 4</div>
            <div class="col-md-3">￥58652 </div>
            <div class="col-md-3">1236 4563 5895 258 </div>
            <div class="col-md-3">2015.5.17</div>
        </div>

    </div>

    </div>
</div>