<div class="row">
    <input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
    <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>基本情况</th>
        <th>注册时间</th>
        <th>操作</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="md-list-item-left">
                <img src="images/a0.jpg" class="w-full circle">
            </div>
            <div class="information">
                <p><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></p>
                <p><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span> </p>
            </div>
        </td>
        <td><time>2015年4月30日</time></td>
        <td>
            <a href="#/app/BusinessManagement" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">注销</button>
        </td>

    </tr>
    <tr>
        <td>
            <div class="md-list-item-left">
                <img src="images/a0.jpg" class="w-full circle">
            </div>
            <div class="information">
                <p><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></p>
                <p><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span> </p>
            </div>
        </td>
        <td><time>2015年4月30日</time></td>
        <td>
            <a href="#/app/DetailsPage1" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">注销</button>
        </td>

    </tr>
    <tr>
        <td>
            <div class="md-list-item-left">
                <img src="images/a0.jpg" class="w-full circle">
            </div>
            <div class="information">
                <p><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></p>
                <p><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span> </p>
            </div>
        </td>
        <td><time>2015年4月30日</time></td>
        <td>
            <a href="#/app/DetailsPage1" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">注销</button>
        </td>

    </tr>
    <tr>
        <td>
            <div class="md-list-item-left">
                <img src="images/a0.jpg" class="w-full circle">
            </div>
            <div class="information">
                <p><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></p>
                <p><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span> </p>
            </div>
        </td>
        <td><time>2015年4月30日</time></td>
        <td>
            <a href="#/app/DetailsPage1" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">注销</button>
        </td>

    </tr>
    <tr>
        <td>
            <div class="md-list-item-left">
                <img src="images/a0.jpg" class="w-full circle">
            </div>
            <div class="information">
                <p><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></p>
                <p><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span> </p>
            </div>
        </td>
        <td><time>2015年4月30日</time></td>
        <td>
            <a href="#/app/DetailsPage1" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">注销</button>
        </td>

    </tr>
    </tbody>
</table>
<div colspan="5" class="text-center footable-visible">
    <ul class="pagination">
        <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
        <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
        <li class="footable-page active"><a data-page="0" href="#">1</a></li>
        <li class="footable-page"><a data-page="1" href="#">2</a></li>
        <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
        <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
    </ul>
</div>