<div>
    <ul>
        <li>短信列表</li>
        <li>配置</li>
    </ul>
    <div>
        <form action="">
            <input type="text" value="开始时间"/>
            <input type="text" value="结束时间"/>
            <select name="" id="">
                <option value="1">类型</option>
            </select>

        </form>
        <ul>
            <li><span>ID</span><span>发送时间</span><span>发送人</span><span>接受人</span><span>内容</span></li>
            <li><span>ID</span><span>发送时间</span><span>发送人</span><span>接受人</span><span>内容</span></li>
            <li><span>ID</span><span>发送时间</span><span>发送人</span><span>接受人</span><span>内容</span></li>
            <li><span>ID</span><span>发送时间</span><span>发送人</span><span>接受人</span><span>内容</span></li>
        </ul>
    </div>
</div>