<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>经纪人专区</title>
    <link href="../static/style/broker.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="hd">
            <div class="header">
                <div class="logo fl"><a href="#">创富宝</a> </div>
                <div class="search fr">
                    <label for="houses">456</label><input name="" id="houses" type="text" 搜索楼盘 placeholder="搜索楼盘"/>
                    <button>搜索</button>
                </div>

            </div>
            <div class="pic">
                <ul>
                    <li><a href="#"> <img src="../static/image/broker/banner.png" alt="成为经纪人轻松赚大钱 "/><div class="page"><span class="white"></span><span></span><span></span><span></span><span></span></div></a></li>
                    <li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>
                    <li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>
                    <li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>
                    <li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="nav-1">
                <a href="takeOff.html"><span class="dk"> 我要带客</span></a>
                <a href="recommend.html"><span class="tj"> 我要推荐</span></a>
                <a href="#"><span class="rw">我的任务</span></a>
                <a href="redPaper-1.html"> <span class="hb">抢红包</span></a>
            </div>
            <div class="activity">
                <div class="sub-nav">创富活动<span class="icon fr"><a class="icon-red" href="#"></a><a href="#"></a><a
                        href="#"></a></span></div>
                <ul class="cf">
                    <li class="one">
                        <a href="redPaper-1.html">
                            <h4 class="red">百万红包等你抢</h4>
                            <h5>创富宝送出100W福利</h5>
                            <img src="../static/image/broker/p1.png" alt="百万红包等你抢"/>
                        </a>
                    </li>
                    <li class="two">
                        <a href="activity.html">
                            <h4>开发商疯了吧</h4>
                            <h5>创富宝送出100W福利</h5>
                            <img src="../static/image/broker/p2.png" alt="开发商疯了吧"/>
                        </a>
                    </li>
                    <li class="three">
                        <a href="activity.html">
                            <h4>名校就在小区里</h4>
                            <h5>最高享受6万元优惠</h5>
                            <img src="../static/image/broker/p3.png" alt="名校就在小区里" />
                        </a>
                    </li>

                </ul>
            </div>
            <div class="hero">
                <div class="hd">创富英雄榜</div>
                <div class="bang">
                    <a href="#"><span class="star1"> 来自星星的你<br/><small>总佣金：15万/元</small></span></a>
                    <a href="#"><span class="star2">来自星星的你<br/><small>总佣金：15万/元</small></span></a>
                    <a href="#"><span class="star3">来自星星的你<br/><small>总佣金：15万/元</small></span></a>
                </div>
            </div>
            <div class="message">
                <div class="recommend">推荐楼房</div>
                <ul>
                    <li class="brand ">
                        <a href="houses.html"> <img src="../static/image/broker/l1.png" alt="中天·水云间"/><div class="summary"><span>[曲靖市&nbsp;中天&nbsp;·&nbsp;水云间</span><span>户型：238m²</span><span>总价：110万</span></div><div class="summaryBg"></div><div class="tiptop">最高佣金：&nbsp;10000元/套</div></a>
                        <div class="nav">
                            <span class="orange"><a href="#">带客佣金</a></span>
                            <span class="orange"><a href="#">推荐佣金</a></span>
                            <span class="blue"><a href="#">抢红包</a></span>
                            <span class="blue last"><a href="#">拿积分</a></span>
                        </div>
                    </li>
                    <li class="brand ">
                        <a href="houses.html"><img src="../static/image/broker/l2.png" alt="实力·壹方城"/><div class="summary"><span>[昆明市]实力·壹方城</span><span>户型：76m²</span><span>总价：55万</span></div><div class="summaryBg"></div><div class="tiptop">最高佣金：&nbsp;10000元/套</div></a>
                        <div class="nav">
                            <span class="orange"><a href="#">带客佣金</a></span>
                            <span class="orange"><a href="#">推荐佣金</a></span>
                            <span class="blue"><a href="#">抢红包</a></span>
                            <span class="blue last"><a href="#">拿积分</a></span>
                        </div>
                    </li>
                    <li> <a href="broker.html"><img  class="img-inner" src="../static/image/broker/l.png" alt="实力·壹方城"/></a></li>
                    <li class="brand ">
                        <a href="houses.html"> <img src="../static/image/broker/l3.png" alt="实力·壹方城"/><div class="summary"><span>[昆明市]实力·壹方城</span><span>户型：76m²</span><span>总价：55万</span></div><div class="summaryBg"></div><div class="tiptop">最高佣金：&nbsp;10000元/套</div></a>
                        <div class="nav">
                            <span class="orange"><a href="#">带客佣金</a></span>
                            <span class="orange"><a href="#">推荐佣金</a></span>
                            <span class="blue"><a href="#">抢红包</a></span>
                            <span class="blue last"><a href="#">拿积分</a></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>
</body>
</html>