
<!--经纪人专区-->
<!--required:../static/style/broker.css-->
<div  ng-controller="BrokerTopThreeController">
            <div class="pic" >
                <carousel interval="3000">
                    <slide ng-repeat="slide in content" active="slide.active">
                        <img src="http://img.yoopoon.com/{{slide.TitleImg}}" class="img-full">
                    </slide>
                </carousel>
                <!--<ul>-->
                    <!--<li><a href="#"> <img src="modules/broker/static/image/broker/banner.png" alt="成为经纪人轻松赚大钱 "/><div class="page"><span class="white"></span><span></span><span></span><span></span><span></span></div></a></li>-->
                    <!--&lt;!&ndash;<li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li style="display: none"><a href="#"> <img src="./Common/static/image/index/" alt="成为经纪人轻松赚大钱 "/></a></li>&ndash;&gt;-->
                <!--</ul>-->
            </div>
            <div class="bj">
            <div class="nav-broker">
                <a href="#/app/nominate" access="broker"><span class="dk"> 我要带客</span></a>
                <a href="#/app/myPurse" access="broker"><span class="tj"> 我的钱包</span></a>
                <a href="#"><span class="rw">新手教程</span></a>
                <a href="#"> <span class="hb">常见问题</span></a>
                <!--<a href="#/app/nominate" access="broker"><span class="tj"> 我要推荐</span></a>-->
                <!--<a href="#/app/task"><span class="rw">我的任务</span></a>-->
                <!--<a href="#/app/redPaper-1"> <span class="hb">抢红包</span></a>-->
            </div>
            <div class="activity-broker">
                <div class="sub-nav">创富活动<span class="yuan-icon fr">
                    <!--<a class="icon-red" href="#"></a><a href="#"></a><a href="#"></a>-->
                </span>
                </div>

                <!--<ul  class="cf">-->


                    <!--<li class="{{$index==0?'one':$index==1?'two':$index==2?'three':$index==3?'four':$index==4?'five':$index==5?'six':''}}"  ng-repeat="item in Actcontent">-->
                        <!--&lt;!&ndash;<a href="#/app/chip">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="http://img.yoopoon.com/{{item.TitleImg}}" alt="开发商疯了"  width="205px" />&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--<a href="#">-->
                            <!--<p class="active_title">{{item.Title}}</p>-->
                            <!--<p class="well">{{item.AdSubTitle}}</p>-->
                            <!--<img src="http://img.yoopoon.com/{{item.TitleImg}}" width="95" height="95">-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <ul class="cf">
                    <li class="one">
                        <a href="#">
                            <p class="red-broker wait">霸王餐</p>
                            <!--<p class="red-broker wait">百万红包等你抢</p>-->
                            <!--<p class="well">创富宝送出100W福利</p>-->
                            <img src="modules/broker/static/image/broker/bawangcan.png" alt="霸王餐"/>
                        </a>
                    </li>
                    <li class="two">
                        <a href="#">
                            <p class="wait">最热电影</p>
                            <!--<p class="wait">开发商疯了吧</p>-->
                            <!--<p class="well">最高折扣70W,白送</p>-->
                            <img src="modules/broker/static/image/broker/movie.png" alt="最热电影"/>
                        </a>
                    </li>
                    <li class="three">
                        <a href="#">
                            <p class="wait">推拿按摩</p>
                            <!--<p class="wait">名校就在小区里</p>-->
                            <!--<p class="well">最高享受6万元优惠</p>-->
                            <img src="modules/broker/static/image/broker/anmo.png" alt="推拿按摩" />
                        </a>
                    </li>

                </ul>
            </div>
            <div class="hero">
                <div class="hd">创富英雄榜</div>

                    <span ng-repeat="item in list" ng-class="{moveBorder: $index==2}"> <img src="modules/broker/static/image/broker/{{$index+1}}.png" alt="" width="43" height="60"/><div>{{item.Brokername}}<br/><small>总佣金：{{item.Amount}}</small></div></span>
                    <!--<span > <img src="modules/broker/static/image/broker/1.png" alt="" width="43" height="60"/><div>来自星星的你<br/><small>总佣金：15万/元</small></div></span>-->
                    <!--<span > <img src="modules/broker/static/image/broker/1.png" alt="" width="43" height="60"/><div>来自星星的你<br/><small>总佣金：15万/元</small></div></span>-->
                    <!--<a href="#"><span class="star2">来自星星的你<br/><small>总佣金：15万/元</small></span></a>-->
                    <!--<a href="#"><span class="star3">来自星星的你<br/><small>总佣金：15万/元</small></span></a>-->

            </div>
           </div>
            <div class="message">
                <!--<div ng-controller="StormRoomController" style="..."></div>-->
                <div class="recommend">推荐楼房</div>
                <!--<!--<div ng-controller="StormRoomController" style="..."></div>-->
                <!--<div class=" message-storeroom" ng-repeat="item in List">-->
                    <!--<div class="main-storeroom cf">-->
                        <!--<a class="fl img" href="#/app/housesPic?productId={{item.Id}}"><img src="http://img.yoopoon.com/{{item.Productimg}}" alt="蓝光&nbsp;·&nbsp;颐明园"width="224" height="170"/></a>-->
                        <!--<div class="detail-storeroom fl ">-->
                            <!--<p class="yhy">{{item.Productname}}</p>-->
                            <!--<p class="yuan">{{item.Price}}/m²</p>-->
                            <!--<p class="bj">{{item.Type}}&nbsp;/&nbsp;{{item.Acreage}}m²&nbsp;/&nbsp;在售{{item.StockRule}}套</p>-->
                            <!--<p class="yh">{{item.Advertisement}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="IWant"><a href="#/app/carry_client?Projectid={{item.Id}}&name={{item.Productname}}&type={{item.Type}}"><button>我要带客</button></a><a href="#/app/groom?Projectid={{item.Id}}&name={{item.Productname}}&type={{item.Type}}"><button>我要推荐</button></a><a class="red-nominate" href="#/app/redPaper-1">红包</a><a  href="#/app/myInt">积分</a> </div>-->
                <!--</div>-->
                <!--<div style="text-align: center;padding-bottom: 20px"><span>{{tipp}}</span></div>-->

                <ul>
                    <li class="brand " ng-repeat="item in List">
                        <a href="#/app/houses?BrandId={{item.BrandId}}&ProductId={{item.ProductId}}"><img src="http://img.yoopoon.com/{{item.Bimg}}" alt="蓝光&nbsp;·&nbsp;颐明园" width="620" height="160"/>
                            <!--<img src="modules/broker//static/image/broker/lp1.png" alt="中天·水云间" width="620" height="160"/>-->
                            <div class="summary"><span>[{{ item.BrandName}}]</span>
                                <span>户型:{{item.HouseType}}</span>
                                <span>价格:{{item.Price}}</span>
                            </div>
                            <div class="summaryBg"></div>
                            <div class="tiptop">最高佣金：&nbsp;{{item.Commition}}/套</div>
                            <div class="depreciate"><span><p ng-bind-html="item.SubTitle|subtitle"></p></span></div>
                            <div class="depreciateBg"></div>
                        </a>
                        <div class="sub-nav-broker">
                            <span class="orange" access="broker"><a href="#/app/carry_client?Projectid={{item.ProductId}}&name={{item.Productname}}&type={{item.HouseType}}">我要带客</a></span>
                            <span class="orange"  access="broker"><a href="#/app/groom?Projectid={{item.ProductId}}&name={{item.Productname}}&type={{item.HouseType}}">我要推荐</a></span>
                            <span class="blue" access="broker"><a href="#/app/redPaper-1">抢红包</a></span>
                            <span class="blue lt" access="broker"><a href="#/app/myInt">拿积分</a></span>
                        </div>
                    </li>
                    <!--<li class="brand ">-->
                        <!--<a href="#/app/houses">-->
                            <!--<img src="modules/broker/static/image/broker/lp2.png" alt="实力·壹方城" width="620" height="160"/>-->
                            <!--<div class="summary"><span>[昆明市]实力·壹方城</span><span>户型：76m²</span><span>总价：55万</span></div>-->
                            <!--<div class="summaryBg"></div>-->
                            <!--<div class="tiptop">最高佣金：&nbsp;10000元/套</div>-->
                            <!--<div class="depreciate"><span>每平米直降</span><br/><b>5000元</b><br/><span>1万还可抵3万</span><br/><span>3万抵15万</span></div>-->
                            <!--<div class="depreciateBg"></div>-->
                        <!--</a>-->
                        <!--<div class="sub-nav-broker">-->
                            <!--<span class="orange"><a href="#">带客佣金</a></span>-->
                            <!--<span class="orange"><a href="#">推荐佣金</a></span>-->
                            <!--<span class="blue"><a href="#/app/redPaper-1">抢红包</a></span>-->
                            <!--<span class="blue lt"><a href="#/app/myInt">拿积分</a></span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li> <a href="broker.html"><img  class="img-inner" src="modules/broker/static/image/broker/l.png" alt="实力·壹方城" width="620" height="142"/></a></li>-->
                    <!--<li class="brand ">-->
                        <!--<a href="#/app/houses.html">-->
                            <!--<img src="modules/broker/static/image/broker/lp3.png" alt="实力·壹方城" width="620" height="160"/>-->
                            <!--<div class="summary"><span>[昆明市]实力·壹方城</span><span>户型：76m²</span><span>总价：55万</span></div>-->
                            <!--<div class="summaryBg"></div>-->
                            <!--<div class="tiptop">最高佣金：&nbsp;10000元/套</div>-->
                            <!--<div class="depreciate"><span>每平米直降</span><br/><b>5000元</b><br/><span>1万还可抵3万</span><br/><span>3万抵15万</span></div>-->
                            <!--<div class="depreciateBg"></div>-->
                        <!--</a>-->
                        <!--<div class="sub-nav-broker">-->
                            <!--<span class="orange"><a href="#">带客佣金</a></span>-->
                            <!--<span class="orange"><a href="#">推荐佣金</a></span>-->
                            <!--<span class="blue"><a href="#/app/redPaper-1">抢红包</a></span>-->
                            <!--<span class="blue lt"><a href="#/app/myInt">拿积分</a></span>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
                </div>
               <div style="text-align: center;padding-bottom: 20px"><span>{{tipp}}</span></div>
            </div>
