
.pic-houses{
    position: relative;
    z-index: 1;
}
.pic-houses .syj-2{
    position: absolute;
    z-index: 2;
    top:0;
    left: 2em;
}
.pic-houses .summary{
    position: absolute;
    top: 9.8em;
    left: 2em;
    color: #fff;
    font-size: 22px;
    z-index: 4;
}
.pic-houses .summary .zt{
    padding:0 50px 0 0;
}
.pic-houses .summary .zt small{
   color: #929292;
}
.pic-houses .summary .lp{
    padding-left: 60px;
}
.pic-houses .summaryBg{
    width: 640px;
    position: absolute;
    z-index: 3;
    height: 100px;
    opacity: 0.4;
    bottom:0.2em;
    left:0;
    background:url("../image/houses/fgx.png") no-repeat 530px 0 #000;
}
.content-houses .zgyj{
    height: 80px;
    line-height: 80px;
    padding-left: 36px;
    color: #f13800;
    background-color:#fff;
    font-size: 20px;
}
.content-houses .nav-houses{
    height: 78px;
    line-height: 78px;
    background: url("../image/houses/sx.png") no-repeat 445px center #f13800;
    padding-left:56px;
}
.content-houses .nav-houses a{
    color: #fff;
    font-size: 18px;
}
.content-houses .nav-houses .dk{
    padding-right: 90px;
}
.content-houses .nav-houses .tj{
    padding-right: 205px;
}
.content-houses .nav-houses .cell{
    padding-left: 25px;
    background: url("../image/houses/cell.png") no-repeat 0 center;
}
.content-houses .type-houses{
    padding:20px;
    position: relative;
    height: 1500px;
}
.content-houses .type-houses .hx1{
    width: 290px;
    height: 426px;
    position:absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
}
.content-houses .type-houses .hx2{
    width: 290px;
    height: 741px;
    position: absolute;
    top: 20px;
    left: 330px;
    background-color: #fff;
}
.content-houses .type-houses .hx3{
    width: 290px;
    height: 426px;
    position: absolute;
    top:468px;
    left: 20px;
    background-color: #fff;
}
.content-houses .type-houses .hx4{
    width: 290px;
    height: 741px;
    position: absolute;
    top:780px;
    left: 330px;
    background-color: #fff;
}
.content-houses .type-houses .hx5{
    width: 290px;
    height: 426px;
    position: absolute;
    top:915px;
    left: 20px;
    background-color: #fff;
}
.content-houses .type-houses .ask{

    background:url("../image/houses/ask.png") no-repeat 90px center;
    font-size: 18px;
    text-align: center;
    margin-top:20px;
    border-top:1px solid #ebebeb;
    line-height: 60px;
}
.content-houses .type-houses .ask a{
    color: #f13800;
}

.content-houses .type-houses .HX{
    font-size:1.2em;
    color: #000;
    padding:20px 0 10px 25px;
    font-weight:bold;
}
.content-houses .type-houses .gift{
    font-size: 0.95em;
    color: #858585;
    line-height: 20px;
    padding-left: 25px;
}
.content-houses .type-houses .JJ{
    font-size: 1.2em;
    color: #f13800;
    padding:20px 0 15px 25px;
}
.content-houses .type-houses .HXT{
    padding-left: 25px;
}
