<div class="password_content">
    <form class="password_form">
        <p class="passwordTip">
            请输入手机号
        </p>
        <input type="" class="ChangePassword" placeholder="请输入绑定手机号码"/>
        <p class="passwordTip">
            验证码
        </p>
        <p class="GetPin">
            <input type="" class="PinPassword" name="PinPassword"/>
            <button>获取验证码</button>
        </p>
        <p class="passwordTip">
            新密码
        </p>
        <input type="" class="ChangePassword" placeholder="请输入新密码"/>
        <p class="passwordTip">
            确认新密码
        </p>
        <input type="" class="ChangePassword" placeholder="请再次输入新密码"/>
        <button class="ChangeConfirm">确认</button>
    </form>
</div>