<div class="password_content">
    <form class="password_form" name="password_form">
        <p class="passwordTip">
            请输入手机号
        </p>
        <input type="" class="ChangePassword" name="BangDing" placeholder="请输入绑定手机号码"  ng-pattern="/[^[1][3-8]+\\d{9}]/" required/>
        <div class="found_error" ng-show="password_form.BangDing.$invalid&&password_form.BangDing.$dirty">请正确输入手机号码</div>
        <p class="passwordTip">
            验证码
        </p>
        <p class="GetPin">
            <input type="text"  placeholder="请输入验证码" class="PinPassword" name="PinPassword" ng-model="userFound.Yzm"/>
            <input type="hidden" ng-model="userFound.Hidm">
            <button id="btnsms">获取验证码</button>
        </p>
        <p class="passwordTip">
            新密码
        </p>
        <input type="" class="ChangePassword" id="first_password"  name="newpassword" placeholder="请输入新密码" ng-model="first_password" required/>
        <div class="found_error" ng-show="password_form.newpassword.$invalid&&password_form.newpassword.$dirty">请填写密码</div>

        <p class="passwordTip">
            确认新密码
        </p>
        <input type="" class="ChangePassword" id="second_password"  name="certainPassword" placeholder="请再次输入新密码" ng-model="second_password"  onchange="check()" required/>
        <p id="errorTip"></p>
        <button class="ChangeConfirm" ng-disabled="password_form.$invalid">确认</button>
    </form>
</div>