<div>
    <div>
        <p><span>一级</span><span>名字</span><span>配置</span></p>
        <p><span>参数值</span><span><button>删除</button></span></p>
    </div>
    <div>
        <p><span>一级</span><span>名字</span><span>配置</span></p>
        <p><span>参数值</span><span><button>删除</button></span></p>
    </div>
    <div>
        <p><span>一级</span><span>名字</span><span>配置</span></p>
        <p><span>参数值</span><span><button>删除</button></span></p>
    </div>
    <div>
        <p><span>一级</span><span>名字</span><span>配置</span></p>
        <p><span>参数值</span><span><button>删除</button></span></p>
    </div>
    <div>
        <p><span>一级</span><span>名字</span><span>配置</span></p>
        <p><span>参数值</span><span><button>删除</button></span></p>
    </div>
    <div>
        <p><span>一级</span><span>名字</span><span>配置</span></p>
        <p><span>参数值</span><span><button>删除</button></span></p>
    </div>
</div>