<div class="panel panel-card ng-scope">
    <div class="row form-control-2">
        <input type="text" class="form-control form-control-1   ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
        <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
    </div>
    <table class="table table-striped table-cms1">
        <thead>
        <tr>
            <th>标题</th>
            <th>所属频道</th>
            <th>状态</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td >大数据</td>
            <td >内容管理</td>
            <td >是</td>
            <td >
                <span class="label bg-success" title="Active">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td >大数据</td>
            <td >内容管理</td>
            <td >是</td>
            <td >
                <span class="label bg-success" title="Active">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td >大数据</td>
            <td >内容管理</td>
            <td >是</td>
            <td >
                <span class="label bg-success" title="Active">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        </tbody>

    </table>
    <div colspan="5" class="text-center footable-visible">
        <ul class="pagination">
            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
            <li class="footable-page"><a data-page="1" href="#">2</a></li>
            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
        </ul>
    </div>
</div>