<div class="panel panel-card ng-scope">
    <div class="row">
        <input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
        <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
    </div>
    <table class="table table-striped table-cms">
        <thead>
        <tr>
            <th class="col-1">标签名</th>
            <th class="col-2">操作</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-1">大数据</td>
            <td class="col-2">
                <a href="md-ink-ripple ui-sref="app.BusinessManagement" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            </td>

        </tr>
        <tr>
            <td class="col-1">大数据</td>
            <td class="col-2">
                <a href="md-ink-ripple ui-sref="app.BusinessManagement" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            </td>

        </tr>
        <tr>
            <td class="col-1">大数据</td>
            <td class="col-2">
                <a href="md-ink-ripple ui-sref="app.BusinessManagement" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></a>
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button>
            </td>
        </tr>
        </tbody>

    </table>
    <div colspan="5" class="text-center footable-visible">
        <ul class="pagination">
            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
            <li class="footable-page"><a data-page="1" href="#">2</a></li>
            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
        </ul>
    </div>
</div>