<div class="content-chipEle">
    <div class="top-content">
        <div class="headline">中天理想城&nbsp;·&nbsp;众筹购房劵</div>
        <div class="kind"><img src="/modules/chipEle/static/image/chipEle/tb_03.png" alt="祥和如意居" width="223" height="92"/></div>
        <div class="code">众筹码</div>
        <div class=" codeNum">666&nbsp;666&nbsp;666</div>
        <div class="Part-in-act">凭众筹参与活动</div>
    </div>
    <div class="time-place-map">
        <p>活动时间：2015年05月29日-2015年05月29日<br/>活动地点：官渡古镇D-10区1幢-4号</p>
        <div class="chipEle-map"><a href="#">查看在线地图</a></div>
    </div>
</div>