<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoopoon.home"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.yoopoon.home.MyApplication_"
        android:allowBackup="true"
        android:icon="@drawable/logo_gray"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 测试配置选项 -->
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.yoopoon.home.ui.login.HomeLoginActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.home.FramMainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.login.HomeRegisterActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.active.BrandDetailActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.product.ProductDetailActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.common.base.photo.PhotoCheck_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.html5.HTML5Activity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.me.SettingActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.me.PersonSettingActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.house.ui.broker.BrokerTakeGuestActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.RecommendActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.house.ui.broker.BrokerRecommendActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.IGuestActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.IPartnerActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.BrokerRankActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.PartnerDetailActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.house.ui.bonus.BrokerBonusActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.house.ui.broker.BrokerScoreActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.IPocketActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.TakeCashActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.BankCashActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.SecuritySettingActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.AddBankActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.IRecommendActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.FindPswActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.IClientActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.active.BrandDetail2Activity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        <activity
            android:name="com.yoopoon.home.ui.agent.AgentBrandDetailActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
  
        <activity
            android:name="com.yoopoon.home.RecBuildActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        
        <activity
            android:name="com.yoopoon.home.MeTaskActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        
        <activity
            android:name="com.yoopoon.home.TakeCash2Activity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        
        <activity
            android:name="com.yoopoon.home.TakeCashStep2Activity_"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" >
        </activity>
        
 
    </application>
    <!-- 测试配置选项 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for yoopoon"
        android:targetPackage="com.yoopoon" />

</manifest>