<!--经纪人楼盘详情-->
<!--required:../static/style/houses.css-->
        <div class="content-houses">
            <div ng-controller="HousesController">
            <div class="pic-houses">
                <a href="#">
                    <img src="http://img.yoopoon.com/{{brand.Parameters['图片banner']}}" alt="中天·水云天" width="640" height="290"/>
                    <div class="syj-2"><img  src="http://img.yoopoon.com/{{brand.Parameters['图片banner']}}" alt="水云间" width="85" height="75"/></div>
                    <div class="summary cf"><span class="zt fl">{{brand.Bname}}<br/><small>{{brand.SubTitle}}</small></span><span class="lp fr">楼盘<br/>详情</span></div>
                    <div class="summaryBg"></div>
                </a>
            </div>
            <p content="center" class="zgyj">最高佣金:{{List.Dealcommission}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 带客佣金:{{List.Commission}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推荐佣金:{{List.RecCommission}}</p>
            <div class="nav-houses">
                <a class="dk" href="#/app/carry_client?Projectid={{List.Id}}&name={{List.Productname}}&type={{List.Type}}" access="broker">我要带客 </a>
                <a class="tj" href="#/app/groom?Projectid={{List.Id}}&name={{List.Productname}}&type={{List.Type}}" access="broker">我要推荐</a>
                <a  class="cell" href="#">需求帮助</a>
            </div>



                <div class="typeHouses">
                <ul class="cf">
                    <li class="fl" ng-repeat="item in ProductList">
                        <a href="#/app/housesPic?BrandId={{item.Id}}">
                            <div class="inside">
                    <p class="housesType">{{item.Productname}}</p>
                    <p class="SubTitle">{{item.SubTitle}}</p>
                    <span class="average">均价{{item.Price}}元/m²起</span>

                    <div><img src="http://img.yoopoon.com/{{item.Productimg}}" alt="户型图" width="231" height="188"/></div>
                                </div>
                                <a href="tel:{{brand.ProductParamater['来电咨询']}}"><span class="ask">咨询热线</span></a>
                            </a>
                    </li>
                    </ul>
            </div>
                </div>
        </div>