<!--买房楼盘详细-->
<!--required:../static/style/housesBuy.css-->
        <div class="content-housesBuy cf">
            <div class="pic-housesBuy">
                <a href="#">
                    <img src="modules/housesBuy/static/image/housesBuy/pic.png" alt="中天·水云天" width="640" height="290"/>
                    <div class="syj-2"><img  src="modules/housesBuy/static/image/housesBuy/logo-syj.png" alt="水云间" width="85" height="75"/></div>
                    <div class="summary cf"><span class="zt fl">中天&nbsp;·&nbsp;水云间<br/><small>270-643m²,一环曲靖一中学位房，均价7000元/m²起</small></span><span class="lp fl">楼盘<br/>详情</span></div>
                    <div class="summaryBg"></div>
                </a>
            </div>
            <div class="di">1.8万抵6万，&nbsp;3万抵15万<a href="#"><button>咨询热线</button></a></div>
            <div class="type">
                <div class="hx1">
                    <a href="#/app/housesPicBuy"><img src="modules/housesBuy/static/image/housesBuy/hx1.png" alt="户型图"width="290" height="426"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx2">
                    <a href="#/app/housesPicBuy"><img src="modules/housesBuy/static/image/housesBuy/hx2.png" alt="户型图"width="290" height="741"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx3">
                    <a href="#/app/housesPicBuy"><img src="modules/housesBuy/static/image/housesBuy/hx1.png" alt="户型图"width="290" height="426"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx4">
                    <a href="#/app/housesPicBuy"> <img src="modules/housesBuy/static/image/housesBuy/hx2.png" alt="户型图"width="290" height="741"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx5">
                   <a href="#/app/housesPicBuy"><img src="modules/housesBuy/static/image/housesBuy/hx1.png" alt="户型图"width="290" height="426"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
            </div>
        </div>
