.pic-housesBuy{
    position: relative;
    z-index: 1;
}
.pic-housesBuy .syj-2{
    position: absolute;
    z-index: 2;
    top:0;
    left: 2em;
}
.pic-housesBuy .summary{
    position: absolute;
    top: 9.8em;
    left: 2em;
    color: #fff;
    font-size: 22px;
    z-index: 4;
}
.pic-housesBuy .summary .zt{
    padding:0 50px 0 0;
}
.pic-housesBuy .summary .zt small{
    color: #929292;
}
.pic-housesBuy .summary .lp{
    padding-left: 65px;
}
.pic-housesBuy .summaryBg{
    width: 640px;
    position: absolute;
    z-index: 3;
    height: 100px;
    opacity: 0.4;
    bottom:0.2em;
    left:0;
    background:url("../image/housesBuy/fgx.png") no-repeat 530px 0 #000;
}
.content-housesBuy .di{
    height: 80px;
    line-height: 80px;
    padding-left: 36px;
    color: #f13800;
    background-color:#fff;
    font-size: 20px;
}
.content-housesBuy .di a{
    margin-left: 225px;

}
.content-housesBuy .di a button{
    width: 130px;
    height: 50px;
    font-size: 1em;
    color: #fff;
    border-radius: 8px;
    background:url("../image/housesBuy/cell.png") no-repeat 10px 15px #f13800;
    padding-left: 20px;
}

.content-housesBuy .type{
    padding:20px;
    position: relative;
    height: 1500px;
}
.content-housesBuy .type .hx1{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 290px;
    height: 426px;
    background-color: #fff;
}
.content-housesBuy .type .hx2{
    width: 290px;
    height: 741px;
    position: absolute;
    top: 20px;
    left: 330px;
    background-color: #fff;
}
.content-housesBuy .type .hx3{
    position: absolute;
    top:468px;
    left: 20px;
    width: 290px;
    height: 426px;
    background-color: #fff;
}
.content .type .hx4{
    position: absolute;
    top:780px;
    left: 330px;
    width: 290px;
    height: 741px;
    background-color: #fff;
}
.content-housesBuy .type .hx5{
    position: absolute;
    top:915px;
    left: 20px;
    width: 290px;
    height: 426px;
    background-color: #fff;
}
.content-housesBuy .type .ask{
    background:url("../image/housesBuy/ask.png") no-repeat 30px center;
    font-size: 18px;
    left: 100px;
    text-align: center;
    margin-top:20px;
    border-top:1px solid #ebebeb;
    line-height: 60px;
}
.content-housesBuy .type .ask a{
    color: #f13800;
}
.content-housesBuy .type .HX{
    font-size:1.2em;
    color: #000;
    padding:20px 0 10px 25px;
    font-weight:bold;
}
.content-housesBuy .type .gift{
    font-size: 0.95em;
    color: #858585;
    line-height: 20px;
    padding-left: 25px;
}
.content-housesBuy .type .JJ{
    font-size: 1.2em;
    color: #f13800;
    padding:20px 0 15px 25px;
}
.content-housesBuy .type .HXT{
    padding-left: 25px;
}



/*瀑布流*/
/*.footer{*/
    /*font-size:1em;*/
    /*text-align:center;*/
    /*margin:1.5em 0;*/
/*}*/
/*.footer div{*/
    /*border:1px solid #eaeaea;*/
    /*color:#000;*/
    /*padding: 0.75em 0.5em;*/
    /*margin: 1em;*/
    /*-webkit-border-radius: 0.3em;*/
    /*border-radius: 0.3em;*/
    /*font-size: 0.8em;*/
    /*text-align: center;*/
    /*background-color:white;*/
/*}*/

/*.footer2{*/
    /*font-size:1em;*/
    /*text-align:center;*/
    /*margin:1.5em 0;*/
/*}*/
/*.footer2 div{*/
    /*border:1px solid #ED7D00;*/
    /*color:#FFF;*/
    /*padding: 0.75em 0.5em;*/
    /*margin: 1em;*/
    /*-webkit-border-radius: 0.3em;*/
    /*border-radius: 0.3em;*/
    /*font-size: 0.8em;*/
    /*text-align: center;*/
    /*background-color:#ED7D00;*/
/*}*/

/*.foot{*/
    /*border:1px solid #ED7D00;*/
    /*color:#FFF;*/
    /*padding: 0.75em 0.5em;*/
    /*margin: 1em 10%;*/
    /*-webkit-border-radius: 0.3em;*/
    /*border-radius: 0.3em;*/
    /*font-size: 0.8em;*/
    /*text-align: center;*/
    /*width:80%;*/
    /*background-color:#ED7D00;*/
/*}*/

/*#forum_list{*/
    /*min-height:25em;*/
/*}*/

/*.footerHide{*/
    /*display:none;*/
/*}*/

/*.outDiv{*/
    /*display:inline;*/
    /*float:left;*/
    /*width:50%;*/
    /*text-align:center;*/
/*}*/


/*列间距*/
/*.outDiv .blockLeft{*/
    /*width:91%;*/
    /*background-color:#FFF;*/
    /*margin:1em 3% 1em 6%;*/
    /*border:1px solid #BBB;*/
    /*height:auto;*/
    /*-moz-box-shadow:0.4em -0.4em 0.3em rgba(100, 100, 100, 0.5);*/
    /*-webkit-box-shadow:0.4em -0.4em 0.3em rgba(100, 100, 100, 0.5);*/
    /*box-shadow:0.4em -0.4em 0.3em rgba(100, 100, 100, 0.5); 阴影特性 */
/*}*/

/*.outDiv .blockRight{*/
    /*width:91%;*/
    /*background-color:#FFF;*/
    /*margin:1em 6% 1em 3%;*/
    /*height:auto;*/
    /*border:1px solid #BBB;*/
    /*-moz-box-shadow:0.4em -0.4em 0.3em rgba(100, 100, 100, 0.5);*/
    /*-webkit-box-shadow:0.4em -0.4em 0.3em rgba(100, 100, 100, 0.5);*/
    /*box-shadow:0.4em -0.4em 0.3em rgba(100, 100, 100, 0.5);阴影特性*/
/*}*/


/*控制图片充满容器*/
/*.outDiv div img{*/
    /*width:96%;*/
    /*height:auto;*/
    /*margin:0.4em 2% 0.2em 2%;*/
/*}*/
/*.outDiv .pictitle{*/
    /*background-color:#E3E3E3;*/
    /*padding-bottom:1em;*/
    /*border-top:1px solid #ccc;*/
/*}*/

/*.subject{*/
    /*text-align: left;*/
    /*padding: 0.5em 0.3em 0em 0.3em;*/
    /*font-size: 0.8em;*/
    /*line-height:1.3em;*/
/*}*/

/*.addinfo {*/
    /*text-align: left;*/
    /*padding: 0.5em 0.5em 0.5em 0.5em;*/
    /*font-size: 0.7em;*/
    /*color: #999;*/
/*}*/
