<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no">
    <title>领取优惠券</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="hd">
            <div class="header cf">
                <div class="logo fl"><a href="#">创富宝</a> </div>
                <div class="search fr">
                    <label for="houses">456</label><input name="" id="houses" type="text" maxlength="10" placeholder="搜索楼盘" ng-model="Condition"/>
                    <!--<button ng-click="getBrandList()">搜索</button>-->
                    <a style="width: 80px;border: none;font-size: 24px;color: #ffffff;background: none;" href="#/app/brand?condition={{Condition}}">搜索</a>
                </div>
            </div>
        </div>

        <div class="content">

            <div class="CouponsOwn-content">
                <div class="successOwn">
                    <div class="Congratulations">恭喜，您已成功领取</div>
                    <div class="juan">7700元劵</div>
                    <div class="specialUse">中天城&nbsp;·&nbsp;天阔专用抵用劵</div>
                </div>
                <div class="Verification-code">
                    <div class="figure">764&nbsp;188&nbsp;812</div>
                    <p>使用验证码</p>
                </div>

                <div class="Carrying">
                    <p>请携带使用验证码<br/>于&nbsp;<span>2015-6-18</span>&nbsp;之前<br/>莅临<span>中天城&nbsp;·&nbsp;天阔售楼部</span>使用</p>
                </div>
                <div class="lookOver"><a href="#">查看项目详情</a><a href="#">在线导航</a></div>
            </div>
        </div>

        <div class="footer">
        <a href="#/app/home" ><span class="act">首页</span></a>
        <a href="#app/storeroom" ><span class="house">房源库</span></a>
        <a href="#app/broker" ><span class="agent">经纪人专区</span></a>
        <a href="#app/personal" > <span class="personal">个人中心</span></a>
        </div>

    </div>
</div>
</div>
</div>
</div>
</body>
</html>