<div class="p-md" ng-app="App" ng-controller="billController">
<div class="panel-default panel panel-card ng-scope" align="center">
    <div class="panel-heading">订单列表</div>
    <table st-table="rowCollectionPage" class="table table-striped m-b-none default footable-loaded footable" ui-jp="footable" data-filter="#filter" align="center">
        <thead>
        <tr>
            <th align="center">经纪人名称</th>
            <th align="center">地产商名称</th>
            <th align="center" ng-click="getList('OrderByAmount')">金额 <span class="fa {{OrderByAmount}}"></span></th>
            <th align="center">是否有发票</th>
            <th align="center">备注</th>
            <th align="center" ng-click="getList('OrderByCheckoutdate')">结算日期 <span class="fa {{OrderByCheckoutdate}}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollectionBasic">
            <td>{{row.Agentname }}</td>
            <td>{{row.Landagentname }}</td>
            <td>{{row.Amount }}</td>
            <td ng-if="row.Isinvoice==true">有</td>
            <td ng-if="row.Isinvoice==false">无</td>
            <td>{{row.Remark }}</td>
            <td>{{row.Checkoutdate|dateFilter }}</td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <pagination boundary-links="true" total-items="totalCount" items-per-page="CFBill.pageSize" ng-model="CFBill.page" ng-change="getList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</div>