<div class="p-md" ng-app="App" ng-controller="billController">
<div class="panel panel-default" align="center">
    <div class="panel-heading">订单列表</div>
    <table st-table="rowCollectionPage" class="table table-striped" align="center">
        <thead>
        <tr>
            <th align="center">经纪人名称</th>
            <th align="center">地产商名称</th>
            <th align="center">金额</th>
            <th align="center">是否有发票</th>
            <th align="center">备注</th>
            <th align="center">结算日期</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollectionBasic">
            <td align="center">{{row.Agentname }}</td>
            <td align="center">{{row.Landagentname }}</td>
            <td align="center">{{row.Amount }}</td>
            <td align="center" ng-if="row.Isinvoice">有</td>
            <td align="center" ng-if="!row.Ordertype">无</td>
            <td align="center">{{row.Remark }}</td>
            <td align="center">{{row.Checkoutdate }}</td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</div>