<div ng-app="App" ng-controller="createBillController" ng-submit="Create()">
    <div class="row">
    <form class="form-horizontal" role="form" name="form"
          enctype="multipart/form-data">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">卡号</label>
        <div class="col-sm-9">
            <input type="text" ng-model="BillModel.beneficiarynumber" style="width: 300px" name="" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">实收金额</label>
        <div class="col-sm-9">
            <input type="text" ng-model="BillModel.Actualamount" style="width: 300px" name="" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">结账备注</label>
        <div class="col-sm-9">
            <textarea ng-model="BillModel.remark" style="width: 300px;height: 150px" name="" required/>
        </div>
    </div>
    <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit" ng-disabled="form.$invalid" aria-disabled="true" disabled="disabled">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
            </div>
        </div>
    </form>
        </div>
</div>