<!--推荐经纪人-->
<!--required：../static/style/partner.css"-->
 <div ng-controller="recommendBrokerController">
<div class="addPartners">
    <p><a href="#/app/addBroker">添加经纪人</a></p>
</div>
<div>
    <p class="Tips" style="text-align:center">{{Tips}}</p>
</div>
<div class="list_content" >
    <ul ng-repeat="item in List">


        <li><a href="#"> <button class="partner"><span class="p_photo"><img src="/modules/partner_list/static/image/partner/photo.png"></span>
            <span class="name">{{item.Brokername}}</span>
            <span class="name">{{item.Agentlevel}}</span>
            <span class="name">{{item.Phone}}</span>
            <span class="jiantou"><img src="/modules/partner_list/static/image/partner/jiantou.png"></span>
        </button>
        </a></li>

    </ul>
</div>
 </div>