<!--中天*水云间-->
<!--required：../static/style/zhongtian_HouseDetail.css-->
         <div class="zhongtian_content">
             <p class="h_title">
                 <img src="modules/zhongtian_HouseDetail/static/image/shuiyun/logo.png"><span>中天·水云间</span>
             </p>
             <div class="banner">
                 <div class="banner1"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/头部图片.png"></div>
                 <div class="point"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/当前图片圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图片上方圆点.png"></div>
                 <div class="abstract">
                     <p>270-643㎡，一环曲靖一中学位房，均价7000元/㎡起；</p>
                     <p>商业巨擎-西南家乐福旗舰店、银行欢乐影城、洲际品牌店全线入驻。</p>
                 </div>
             </div>
            <div class="P_title"><h1>最高佣金1万元，带客佣金1000元，推荐佣金300元</h1></div>
             <div class="main_png">
                  <img src="modules/zhongtian_HouseDetail/static/image/shuiyun/图文详情.png">
             </div>
         </div>
         <div class="bottom">
             <div class="foot">
                 <a href="#"><span class="daike"> 我要带客</span></a>
                 <a href="#"><span class="tuijian"> 我要推荐</span></a>
                 <a href="#"><span class="help"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/质询热线-前方竖线.png"> <img src="modules/zhongtian_HouseDetail/static/image/shuiyun/资讯热线按钮.png" class="btn">需求帮助</span></a>
             </div>
         </div>

