<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px">
    <title>经济人钱包</title>
    <link rel="stylesheet" href="../static/style/agentWallet.css">
</head>
<body>
<div class="content">
    <div id="account">
        <div id="accountBalance"><p><span>账户余额</span></p></div>
        <div id="bankCard"><p><button>银行卡设置</button></p></div>
    </div>
    <br>
    <div id="info"><span>账户相关信息</span></div>
</div>
</body>
</html>