<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=640px"/>
    <meta charset="UTF-8">
    <title>客户列表</title>
    <link href="../static/style/customerList.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="window">
     <div class="bg">
         <div class="header">
             <a class="fl" href="#">返回</a>
             <h1>添加客户</h1>
         </div>

     <div class="content">
         <ul>
             <li class="list">
                 <div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>
                 <div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>
                 <div class="detail" style="display: none">
                     <div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a>  </div>
                         <div class="cf ">
                         <div class="imgList fl" ></div>
                         <ul class="fl">
                             <li>
                                 <p>信息提交，等待审核</p>
                                 <p>2015-04-26 11:57:09</p>
                             </li>
                             <li>
                                 <p>审核成功，等待上访</p>
                                 <p>2015-04-26 18:00:09</p>
                             </li>
                             <li>
                                 <p>上访成功，洽谈中</p>
                                 <p>2015-04-26 11:57:09</p>
                             </li>
                             <li>
                                 <p>交易成功</p>
                                 <p>2015-04-26 11:57:09</p>
                             </li>
                             <li>
                                 <p>返款成功</p>
                                 <p>2015-04-26 11:57:09</p>
                             </li>
                         </ul>
                         </div>


                 </div>
             </li>
             <li class="list">
                <div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>
                <div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>
             </li>
             <li class="list">
                 <div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>
                 <div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>
             </li>
             <li class="list">
                 <div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>
                 <div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>
             </li>
             <li class="list">
                 <div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>
                 <div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>
             </li>
         </ul>
     </div>
         <div class="foot">
             <a href="#"><span class="act"> 活动</span></a>
             <a href="#"><span class="house"> 房源库</span></a>
             <a href="#"><span class="agent"> 经纪人专区</span></a>
             <a href="#"> <span class="personal"> 个人中心</span></a>
         </div>
     </div>
 </div>
</body>
</html>