<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>楼盘详情</title>
    <link href="../static/style/detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="window">
     <div class="bg">
         <div class="header">
             <h1>楼盘详情</h1>
         </div>
         <div class="content">
             <div class="hd cf ">
                 <div class="fl img"><a href="#"><img src="../static/image/detail/p.png" alt="中天·水云间"/><div class="summary">总价：110万</div><div class="summaryBg"></div></a></div>
                 <div class="detailed fl">
                     <h2>[曲靖市]&nbsp;中天·水云间</h2>
                     <h4>147.0m²&nbsp;/&nbsp;8000/m²&nbsp;/&nbsp;111.76万</h4>
                     <div class="money"><span class=" have"><b>10000</b><br/><small>成交佣金</small></span><span><b>500</b><br/><small>带客佣金</small></span><span><b>800</b><br/><small>推荐佣金</small></span><span class="int"><b>10</b><br/><small>积分</small></span></div>
                 </div>
             </div>
             <div class="houseType"><a href="#"><img src="../static/image/detail/p1.png" alt="户型图"/></a><div class="summary">户型图:</div></div>
             <div class="scene">
                 <p>实景图：</p>
                 <a href="#"><img src="../static/image/detail/p2.png" alt="实景图"/></a>
                 <a href="#"><img src="../static/image/detail/p3.png" alt="实景图"/></a>
             </div>
             <div class="btn">
                 <a href="takeOff.html"><button>我要带客</button></a>
                 <a href="recommend.html"><button>我要推荐</button></a>
             </div>

         </div>
         <div class="foot">
             <a href="activity.html"><span class="act"> 活动</span></a>
             <a href="storeroom.html"><span class="house"> 房源库</span></a>
             <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
             <a href="presonal.html"> <span class="personal"> 个人中心</span></a>
         </div>
     </div>
 </div>
</body>
</html>