<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>楼盘详情</title>
    <link href="../static/style/houseDetail.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="header">
            <a class="fl" href="#">返回</a>
            <h1>楼盘详情</h1>
        </div>
        <div class="content">
            <div class="img"><a href="#"><img src="../static/image/houseDetail/p.png" alt="中天水云间"/></a></div>
            <div class="bg-1">
               <p class="title">曲靖首席城市别墅<br/>生态半山美宅</p>
               <p class="mid">中天水云间项目是由曲靖红石地产倾力打<br/>造曲靖首个地中海园林风情的近郊别墅</p>
               <p class="main">
                     项目位于位于曲靖市胜峰路中段。三面临街，紧邻曲靖市<br/>
                  第八中学和已建设完成的凤凰水榭小区，周边基础配套设施完<br/>
                  善，随着规划道路的完工和周边小区建设的完善，你可以从东<br/>
                  西北三个方向进入本小区，交通极为便利。项目充分利用天然<br/>
                  资源，注重自然环境与人文环境的融合，在总体构思上遵循“<br/>
                  以人为本”、“亲近自然”的设计理念，结合本地块坡地优势，<br/>
                  自然形 成了背山面城、上风上水的环境景观特性，建成一个配<br/>
                  套完善、环境优美、建筑类型丰富、舒适安宁的托斯卡纳风情<br/>
                  住宅区。水云间托寥廓山的自然景观和生态环境，采用低密度 <br/>
                  的双拼、联排别墅建筑，随坡地起伏错落有致，形成变化丰富<br/>
                  的建筑轮廓线。项目建筑风格为地中海托斯卡纳风情建筑，时<br/>
                  尚大气，独享双停车位、阳光多功能会客厅、超大景观的入户<br/>
                  花园，空中景观庭院，加上无以复制的自然景观，中天﹒水云<br/>
                  间将在曲靖别墅项目中脱颖而出，展现出别样的魅力风采！</p>
           </div>
        </div>
        <div class="foot">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>

    </div>
</div>

</body>
</html>