<<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>户型图</title>
    <link href="../static/style/housesPicBuy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="hd">
            <div class="header cf">
                <div class="logo fl"><a href="#">创富宝</a> </div>
                <div class="search fr">
                    <label for="houses">456</label><input name="" id="houses" type="text"  placeholder="搜索楼盘"/>
                    <button>搜索</button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="syj cf"><img src="../static/image/housesPicBuy/logo-syj.png" alt="水云间"/><span class="fr A1">A1/A2户型</span></div>
            <div class="price">
                <h5>均价7000元/m²起</h5>
                <p>建筑面积约143m²，赠送面积约7.6m²</p>
                <p>四室、两厅、一厨、双卫、双阳台</p>
            </div>
            <div><img src="../static/image/housesPicBuy/hxt.png" alt="户型图"/></div>
            <h3>图文详情</h3>
            <div class="hjt"><a href="zhongtian_seller.html"><img src="../static/image/housePic/hjt.png" alt="海景图"/></a></div>
            <h2>精品3房</h2>
            <h4>悠享都市的自在阳光</h4>

            <div class="intro">
                <p>经典三房，方正明亮，动静分区明晰</p>
                <p>客厅外接景观阳台，空间更显宽松舒畅</p>
                <p>厨房外接生活阳台，轻松洗晒，优享生活乐趣</p>
                <p>主卧飘窗采光，带你日光浴，温馨舒适</p>
                <div class="summary"><a  href="#">咨询热线</a></div>
                <div class="summaryBg"></div>
            </div>
        </div>
        <div class="footer">
            <a href="../../../index.html"><span class="act">活动</span></a>
            <a href="storeroom.html"><span class="house">房源库</span></a>
            <a href="broker.html"><span class="agent">经纪人专区</span></a>
            <a href="personal.html"> <span class="personal">个人中心</span></a>
        </div>
    </div>
</div>
</body>
</html>