<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>楼盘详情</title>
    <meta name="viewport" content="width=640px"/>
    <link href="../static/style/housesBuy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="hd">
            <div class="header">
                <div class="logo fl"><a href="#">创富宝</a> </div>
                <div class="search fr">
                    <label for="houses">456</label><input name="" id="houses" type="text"  placeholder="搜索楼盘"/>
                    <button>搜索</button>
                </div>

            </div>
            <div class="pic">
                <a href="#">
                    <img src="../static/image/houses/pic.png" alt="中天·水云天"/>
                    <div class="syj"><img  src="../static/image/houses/logo-syj.png" alt="水云间"/></div>
                    <div class="summary cf"><span class="zt fl">中天&nbsp;·&nbsp;水云间<br/><small>270-643m²,一环曲靖一中学位房，均价7000元/m²起</small></span><span class="lp fl">楼盘<br/>详情</span></div>
                    <div class="summaryBg"></div>
                </a>
            </div>
        </div>
        <div class="content cf">
            <p>1.8万抵6万，&nbsp;3万抵15万<a href="#"><button>咨询热线</button></a></p>

            <div class="type">
                <div class="hx1">
                    <a href="housesPicBuy.html"><img src="../static/image/houses/hx1.png" alt="户型图"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx2">
                    <a href="housesPicBuy.html"><img src="../static/image/houses/hx2.png" alt="户型图"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx3">
                    <a href="housesPicBuy.html"><img src="../static/image/houses/hx1.png" alt="户型图"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx4">
                    <a href="housesPicBuy.html"> <img src="../static/image/houses/hx2.png" alt="户型图"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
                <div class="hx5">
                   <a href="housesPicBuy.html"><img src="../static/image/houses/hx1.png" alt="户型图"/></a>
                    <div class="ask"><a href="#">咨询热线</a></div>
                </div>
            </div>
        </div>
        <div class="foot">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>

</body>
</html>