<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>户型</title>
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <link href="../static/style/houseType.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="window">
    <div class="header">
        <div class="logo"><img src="" width="100px" height="100px"/></div>
        <p>项目相关信息</p>
    </div>
    <div class="content">
        <div class=part>
            <div class="A detail">户型A</div>
            <div><a href="#">我要推荐</a>/<a href="">我要带客</a></div>
        </div>
        <div class="part">
            <div class="B detail">户型B</div>
            <div><a href="#">我要推荐</a>/<a href="">我要带客</a></div>
        </div>
        <div class="part">
            <div class="C detail">户型C</div>
            <div><a href="#">我要推荐</a>/<a href="">我要带客</a></div>
        </div>

        <div class="part">
            <div class="D detail">户型D</div>
            <div><a href="#">我要推荐</a>/<a href="">我要带客</a></div>
        </div>
    </div>
</div>

</body>
</html>