<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <title>经纪人登陆状态</title>
    <link href="../static/style/loginStatus.css" type="text/css" rel="stylesheet" />
</head>
<body>
   <div class="window">
       <div class="contain">
           <div class="banner">
              <img src="" width="640px" height="200px">
           </div>
           <div class="content">
                   <div>
                       <img src="" width="80px" height="80px"/>
                       <h2>项目标题1</h2>
                       <ul>
                           <li><a href="#">内容一</a> </li>
                           <li><a href="#">内容二</a> </li>
                           <li><a href="#">内容三</a> </li>
                       </ul>
                   </div>
                   <div>
                       <img src="" width="80px" height="80px"/>
                       <h2>项目标题2</h2>
                       <ul>
                           <li><a href="#">内容一</a> </li>
                           <li><a href="#">内容二</a> </li>
                           <li><a href="#">内容三</a> </li>
                       </ul>
                   </div>
                   <div>
                       <img src="" width="80px" height="80px"/>
                       <h2>项目标题3</h2>
                       <ul>
                           <li><a href="#">内容一</a> </li>
                           <li><a href="#">内容二</a> </li>
                           <li><a href="#">内容三</a> </li>
                       </ul>
                   </div>

           </div>
           <div class="foot">
               <div>我要推荐</div>
               <div>个人中心</div>
               <div>我的合伙人</div>
           </div>
       </div>
   </div>
</body>
</html>