<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>我的积分</title>
    <link href="../static/style/myInt.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="header">
            <a class="fl" href="#">返回</a>
            <h1>我的积分</h1>
        </div>
        <div class="int">
            <h3>创富宝积分</h3>
            <h2>888</h2>
            <p>
                <span>温馨提示：</span><br/>
                <span>1.所赚取积分可到指定积分商城兑换相应商品，积分每年年底（12月31日）系统清零。</span><br/>
                <span>2.积分只能兑换商城商品，不能提现或另作他用</span>
            </p>
        </div>
        <div class="detail">
            <ul>
                <li><span>奖励明细</span><a  class="icon fr" href="#"></a></li>
                <li><span>积分兑换</span><a  class="icon fr" href="#"></a></li
            </ul>
        </div>
        <div class="btn"><button>赚积分</button></div>
        <div class="footer">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>
</body>
</html>