<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>我的钱包</title>
    <link href="../static/style/myPurse.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="header">
            <a class="fl" href="#">返回</a>
            <h1>我的钱包</h1>
        </div>
        <div class="content">
            <div class="money">
                <div class="balance cf"><img class="fl" src="../static/image/myPurse/img.png" alt="余额"/><span class="fl"><small>余额</small><br/>1000.00</span></div>
                <p><button>提现</button></p>
            </div>
            <div class="bank">
                <p class="card"><a href="#"> <img src="../static/image/myPurse/bank1.png" alt="建设银行"/></a></p>
                <p class="card"><a href="#"> <img src="../static/image/myPurse/bank2.png" alt="招商银行"/></a></p>
                <p ><a href="#"><img src="../static/image/myPurse/add_03.png" alt="增加银行卡"/></a></p>
            </div>

        </div>
        <div class="foot">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>
</body>
</html>