<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <link href="../static/style/partner.css" rel="stylesheet" type="text/css"/>
    <title>添加合伙人</title>
</head>
<body>
<div class="window">
    <div class="head">
        <div class="head">
            <p>
                <span class="back"><a href="#"><img src="../static/image/partner/back_01.png">&nbsp;&nbsp;返回</a></span>
                <span class="title">添加合伙人</span>
                <span class="personall"><a href="#" ><img src="../static/image/partner/phto2_03.png"></a></span>
            </p>
        </div>
    </div>
    <div class="add_content">
        <form>
            <p>
                电话
            </p>
            <input type="tel" class="add_blank" placeholder="13629609670"/><br/>
            <span>此用户已在系统中，不能重复邀请！</span>
            <button class="add_button">邀请</button>
        </form>
    </div>
    <div class="footer">
            <a href="activity.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="presonal.html"> <span class="personal"> 个人中心</span></a>
    </div>
</div>
</body>
</html>