<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>合伙人列表</title>
    <link href="../static/style/partner.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="window">
    <div class="head">
        <p>
            <span class="back"><a href="#"><img src="../static/image/partner/back_01.png"> 返回</a></span>
            <span class="title">我的合伙人</span>
            <span class="personal"><a href="#" ><img src="../static/image/partner/phto2_03.png"></a></span>
        </p>
    </div>
    <div class="content">
        <ul>
            <li><p>A</p></li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Angle</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
                </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">ababababa</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">abc</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
        </ul>
        <ul>
            <li><p>B</p></li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Abi锋</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">保利</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Bailey</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Began</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
        </ul>
        <ul>
            <li><p>C</p></li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Called</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">曹飞燕</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">曹蓝</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">蔡飞燕</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">陈金蓝</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
        </ul>

    </div>
    <div class="footer">
        <button class="button_insert">
                <img src="../static/image/partner/button_insert.png"><br/>
                <p>添加合伙人</p>
        </button>
        <div class="bottom">
            <span class="daike"> <a href="#" >我要带客</a></span>
            <span class="tuijian"> <a href="#" >我要推荐</a></span>
            <span class="renwu"> <a href="#" >我的任务</a></span>
        </div>
    </div>
</div>
</body>
</html>