<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <link href="../static/style/person_setting.css" rel="stylesheet" type="text/css"/>
    <title>修改个人资料</title>
</head>
<body>
    <div class="window">
        <div class="head">
            <p>
                <span class="back"><a href="#"><img src="../static/image/partner/back_01.png">&nbsp;&nbsp;返回</a></span>
                <span class="title">修改个人资料</span>
                <span class="personall"><a href="#" ><img src="../static/image/partner/phto2_03.png"></a></span>
            </p>
        </div>
        <div class="person_content">
            <div class="headphoto">
                <div class="touxiang">
                    <a href=""><img src="" alt=""></a>
                </div>
                <p><a href="#">头像修改</a> </p>
            </div>
            <div class="person_revise">
                <form>
                    <p>
                        姓名
                    </p>
                    <input type="" class="password old" placeholder="用户名"/><br/>
                    <p>
                        电话
                    </p>
                    <input type="" class="password old" placeholder="用户手机号码"/><br/>
                    <p>
                        身份证
                    </p>
                    <input type="" class="password old" placeholder="保护账号安全"/><br/>
                    <p>
                        银行卡
                    </p>
                    <input type="" class="password old" placeholder="绑定银行卡"/><br/>
                    <button class="save_button">保存</button>
                </form>
            </div>

        </div>
        <div class="footer">
            <a href="#"><span class="act"> 活动</span></a>
            <a href="#"><span class="house"> 房源库</span></a>
            <a href="#"><span class="agent"> 经纪人专区</span></a>
            <a href="#"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</body>
</html>