<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>经纪人个人中心</title>
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <link href="../static/style/personalCenter.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="window">
    <div class="datum">个人资料</div>
    <div class="recommend">我的推荐</div>
    <div class="Valet">我的带客</div>
    <div class="client">我的客户</div>
    <div class="wallet">我的钱包</div>
    <div class="developer">开发商</div>

</div>

</body>
</html>