<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>推荐经纪人</title>
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <link href="../static/style/recommendedAgent.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="window">
    <form  class="form" action="#">
       <p> <label>电话</label>
           <input type="text" class="Text"  />
       </p>
        <p><button class="button">邀请</button></p>


    </form>
</div>

</body>
</html>