<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>抢红包</title>
    <link href="../static/style/redPaper.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="header">
            <a class="fl" href="#">返回</a>
            <h1>抢红包</h1>
        </div>
        <div class="content">
            <h2>经纪人等级</h2>
            <h3>经纪人等级越高，获得金额越高</h3>
            <div class="bag"><img src="../static/image/redPaper/red.png" alt="红包"/></div>
            <div class="qiang"><button>马上抢</button></div>
        </div>
        <div class="foot">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>

</body>
</html>