<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <link href="../static/style/person_setting.css" rel="stylesheet" type="text/css"/>
    <title>安全设置</title>
</head>
<body>
    <div class="window">
        <div class="head">
            <p>
                <span class="back"><a href="#"><img src="../static/image/partner/back_01.png">&nbsp;&nbsp;返回</a></span>
                <span class="title">安全设置</span>
                <span class="personall"><a href="#" ><img src="../static/image/partner/phto2_03.png"></a></span>
            </p>
        </div>
        <div class="security_content">

            <form>
               <p>
                  旧密码
               </p>
               <input type="" class="password old" placeholder="请输入旧密码"/><br/>
               <p>
                   新密码
                </p>
                <input type="" class="password new" placeholder="请输入新密码"/><br/>
               <p class="found"><a href="#">密码找回</a> </p>
               <button class="save_button">保存</button>
        </form>
        </div>
        <div class="footer">
            <a href="#"><span class="act"> 活动</span></a>
            <a href="#"><span class="house"> 房源库</span></a>
            <a href="#"><span class="agent"> 经纪人专区</span></a>
            <a href="#"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>

</body>
</html>