<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px">
    <title>经纪人信息</title>
    <link type="text/css" href="../static/style/selfInfo.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <div><h2>个人资料</h2></div>
    <br>
    <div id="name"><span>姓名</span></div>
    <br>
    <div id="phone"><span>电话</span></div>
    <br>
    <div id="idCard"><span>身份证</span></div>
    <br>
    <div id="bankCard"><span>银行卡</span></div>
</div>
</body>
</html>