<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <link href="../static/style/person_setting.css" rel="stylesheet" type="text/css"/>
    <title>设置</title>
</head>
<body>
    <div class="window">
        <div class="head">
            <p>
                <span class="back"><a href="#"><img src="../static/image/partner/back_01.png">&nbsp;&nbsp;返回</a></span>
                <span class="title">设置</span>
                <span class="personall"><a href="#" ><img src="../static/image/partner/phto2_03.png"></a></span>
            </p>
        </div>
        <div class="content setting">
            <ul>
                <li>
                    <button name="setting_person" class="partner">
                        <span class="name fl">个人资料</span>
                        <span class="set fl ">设置</span>
                        <span class="jiantou fl"><img src="../static/image/partner/jiantou.png"></span>
                    </button>
                </li>
                <li>
                    <button name="setting_person" class="partner">
                        <span class="name fl">安全设置</span>
                        <span class="set fl ">设置</span>
                        <span class="jiantou fl"><img src="../static/image/partner/jiantou.png"></span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="footer">
            <a href="#"><span class="act"> 活动</span></a>
            <a href="#"><span class="house"> 房源库</span></a>
            <a href="#"><span class="agent"> 经纪人专区</span></a>
            <a href="#"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</body>
</html>