<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>房源库</title>
    <link href="../static/style/storeroom.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="hd">
            <div class="header">
                <div class="logo fl"><a href="#">创富宝</a> </div>
                <div class="search fr">
                    <label for="houses">456</label><input name="" id="houses" type="text"  placeholder="搜索楼盘"/>
                    <button>搜索</button>
                </div>

            </div>
            <div class="nav"><a class="area" href="#">区域<span class="icon"></span></a><a class="type" href="#">类型<span class="icon"></span></a><a class="price" href="#">价格<span class="icon"></span></a><a class="more" href="#">更多<span class="icon"></span></a></div>
            <div class="pic">
                <ul>
                    <li><a href="#"> <img src="../static/image/storeroom/banner.png" alt="成为经纪人轻松赚大钱 "/><div class="page"><span class="white"></span><span></span><span></span><span></span><span></span></div></a></li>
                    <li style="display: none"><a href="#"> <img src="" alt="成为经纪人轻松赚大钱 "/></a></li>
                    <li style="display: none"><a href="#"> <img src="" alt="成为经纪人轻松赚大钱 "/></a></li>
                    <li style="display: none"><a href="#"> <img src="" alt="成为经纪人轻松赚大钱 "/></a></li>
                    <li style="display: none"><a href="#"> <img src="" alt="成为经纪人轻松赚大钱 "/></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <p>共401个楼盘</p>
                <div class=" message">
                    <div class="main cf">
                       <a class="fl img" href="syj.html"><img src="../static/image/storeroom/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园"/></a>
                       <div class="detail fl ">
                           <h2>蓝光&nbsp;·&nbsp;颐明园</h2>
                           <h3>9500元/m²</h3>
                           <h4>三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</h4>
                           <h5>按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</h5>
                       </div>
                    </div>
                    <div class="sub-nav"><a class="red" href="takeOff.html">带客</a><a class="red" href="recommend.html">推荐</a><a href="redPaper-1.html">红包</a><a  class="int" href="myInt.html">积分</a></div>
                </div>
            <div class=" message">
                <div class="main cf">
                    <a class="fl img" href="syj.html"><img src="../static/image/storeroom/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园"/></a>
                    <div class="detail fl ">
                        <h2>蓝光&nbsp;·&nbsp;颐明园</h2>
                        <h3>9500元/m²</h3>
                        <h4>三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</h4>
                        <h5>按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</h5>
                    </div>
                </div>
                <div class="sub-nav"><a  class="red" href="takeOff.html">带客</a><a class="red" href="recommend.html">推荐</a><a href="redPaper-1.html">红包</a><a  class="int" href="myInt.html">积分</a></div>
            </div>
            <div class=" message show-half">
                <div class="main cf">
                    <a class="fl img" href="syj.html"><img src="../static/image/storeroom/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园"/></a>
                    <div class="detail fl ">
                        <h2>蓝光&nbsp;·&nbsp;颐明园</h2>
                        <h3>9500元/m²</h3>
                        <h4>三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</h4>
                        <h5>按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</h5>
                    </div>
                </div>
                <div class="sub-nav"><a  class="red" href="takeOff.html">带客</a><a class="red" href="recommend.html">推荐</a><a href="redPaper-1.html">红包</a><a  class="int" href="myInt.html">积分</a></div>
            </div>
            
        </div>
        <div class="foot">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>

</body>
</html>