<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>三个合伙人</title>
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <link href="../static/style/thirdPartner.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="window">
    <div class="header">目前有三个合伙人</div>
    <div class="detail">
        <ul>
            <li class="one">
                <img src="" width="80px" height="80px"/>
                <div class="introduce">信息</div>
            </li>
            <li class="two">
                <img src="" width="80px" height="80px"/>
                <div class="introduce">信息</div>
            </li>
            <li class="three">
                <img src="" width="80px" height="80px"/>
                <div class="introduce">信息</div>
            </li>
        </ul>
    </div>
    <div class="member">成为钻石会员可邀请十人</div>
</div>

</body>
</html>