<!--房源库-->
<!--required:../static/style/storeroom.css-->

            <div class="nav-storeroom"><a class="area-storeroom" href="#">区域<span class="icon-storeroom"></span></a><a class="type-storeroom" href="#">类型<span class="icon-storeroom"></span></a><a class="price-storer" href="#">价格<span class="icon-storeroom"></span></a><a class="more-storeroom" href="#">更多<span class="icon-storeroom"></span></a></div>
            <p class="zg">共401个楼盘</p>
                <div class=" message-storeroom">
                    <div class="main-storeroom cf">
                       <a class="fl img" href="../../housesBuy/view/housesBuy.html"><img src="modules/storeroom/static/image/storeroom/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园"width="224" height="170"/></a>
                       <div class="detail fl ">
                           <p class="yhy">蓝光&nbsp;·&nbsp;颐明园</p>
                           <p class="yuan">9500元/m²</p>
                           <p class="bj">三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</p>
                           <p class="yh">按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</p>
                       </div>
                    </div>
                    <div class="sub-nav-storeroom"><a class="red-storeroom" href="#">带客</a><a class="red-storeroom" href="#">推荐</a><a href="../../redPaper-1/view/redPaper-1.html">红包</a><a  class="int" href="../../myInt/view/myInt.html">积分</a></div>
                </div>
            <div class=" message-storeroom">
                <div class="main-storeroom cf">
                    <a class="fl img" href="../../housesBuy/view/housesBuy.html"><img src="modules/storeroom/static/image/storeroom/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园"/></a>
                    <div class="detail fl ">
                        <p class="yhy">蓝光&nbsp;·&nbsp;颐明园</p>
                        <h3>9500元/m²</h3>
                        <h4>三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</h4>
                        <h5>按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</h5>
                    </div>
                </div>
                <div class="sub-nav-storeroom"><a  class="red-storeroom" href="#">带客</a><a class="red-storeroom" href="#">推荐</a><a href="../../redPaper-1/view/redPaper-1.html">红包</a><a  class="int-storeroom" href="../../myInt/view/myInt.html">积分</a></div>
            </div>
            <div class=" message-storeroom show-half">
                <div class="main-storeroom cf">
                    <a class="fl img" href="../../housesBuy/view/housesBuy.html"><img src="modules/storeroom/static/image/storeroom/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园"/></a>
                    <div class="detail fl ">
                        <p>蓝光&nbsp;·&nbsp;颐明园</p>
                        <h3>9500元/m²</h3>
                        <h4>三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</h4>
                        <h5>按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</h5>
                    </div>
                </div>
                <div class="sub-nav-storeroom"><a  class="red" href="#">带客</a><a class="red" href="#">推荐</a><a href="../../redPaper-1/view/redPaper-1.html">红包</a><a  class="int" href="../../myInt/view/myInt.html">积分</a></div>
            </div>

