 <form class="form_content" ng-submit="Login"  ng-controller="LoginController">
        <p class="user_tip">
            请输入用户名
        </p>
        <p class="input_blank">
            <span><img src="modules/Login/static/image/login/user.png"  class="UserImg"></span>
            <input type="text" id="Name_blank" placeholder="User name" name="userName" ng-model="user.name"/>
        </p>
        <p class="user_tip">
            密码
        </p>
        <p class="input_blank">
            <span><img src="modules/Login/static/image/login/pword.png" class="UserImg"></span>
            <input type="password" placeholder="Password" name="password" id="password" ng-model="user.password"/>
        </p>
        <p class="MissMe">
            <input type="checkbox" name="box" id="box"/>记住我<span class="fp"><a href="#">忘记密码?</a></span>
        </p>
        <button class="login_button" type="submit">登 录</button>
        <p class="NoAccount">
            没有账号？点此<span><a href="#">注册</a></span>
        </p>
 </form>