<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>注册页面</title>
    <link rel="stylesheet" href="../static/style/register.css">
    <!--<script style="text/javascript" src="../render/jquery-2.1.1.min.js"></script>
    <script style="text/javascript" src="../render/register.js"></script>-->
</head>
<body>
<div class="register">
    <div><span>邮箱</span>&nbsp;&nbsp;<input type="text" id="userName" style="width: 200px"/></div>
    <br>
    <div><span>电话</span>&nbsp;&nbsp;<input type="password" id="password" style="width: 200px"/></div>
    <br>
    <div><span>验证码</span>&nbsp;<input type="text" id="verification" style="width: 80px"/></div>
    <br>
    <!--<div><span id="massage" style="color: red; width: 200px; text-align: center"></span></div>-->
    <div style="text-align: center;"><input id="register"type="button" value="注册"></div>
</div>
</body>
</html>