
<div class="panel panel-default ng-scope">
    <div class="box-inner padding ng-scope" ng-controller="CouponController">
        <div class="ng-scope">
            <div class="panel panel-default ng-scope">
                <div class="panel-body b-b b-light">
                    <input type="text" class="form-control form-control-1   ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入用户名" ng-model="username" required="" tabindex="0" aria-required="true" aria-invalid="true">
                    <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo"ng-click="ti()">确定<div class="md-ripple-container"></div></button>
                </div>
            </div>
        </div>
    </div>
</div>
