<div class="chip-nav"><span class="all">全部</span><span>众筹中</span><span class="selecting">选房中</span></div>
<div class="chip-content">
     <div class="chipIng"><a href="#/app/chipDetail"><img src="modules/chip/static/image/chip/p.png" alt="众筹中" width="610" height="340"/><span class="summary">众筹中</span></a></div>
        <div class="contentIntro">
            <div class="BriefIntroduction">
                <div class="lg">蓝光&nbsp;·&nbsp;颐明园</div>
                <p>270-643m²,一环曲靖一中学位房，均价7000元/m²起；<br/>商业巨擘-西南家乐福旗舰店、欢乐影城、洲际品牌店全线入驻。</p>
            </div>
            <div class="Discount">
                <div class="number-days cf">
                    <span class="fl">已有467人参与众筹</span>
                    <span class="fr">剩余天数：6天</span>
                </div>
                <div class="favourable-nav">
                    <span class="all">9折优惠<br/><small>众筹人数100人</small></span>
                    <span class="all">8折优惠<br/><small>众筹人数200人</small></span>
                    <span class="all">7折优惠<br/><small>众筹人数300人</small></span>
                    <span class="half">5折优惠<br/><small>众筹人数500人</small></span>
                </div>
            </div>
            <div class="partIn"><a href="#/app/chipPartake" ><button>参与众筹</button></a></div>
      </div>
    <div class="contentIntro selectHouses">
        <div class="chipIng"><a href="#"><img src="modules/chip/static/image/chip/p.png" alt="众筹中" width="610" height="340"/><span class="summary">选房中</span></a></div>
        <div class="BriefIntroduction">
            <div class="lg">蓝光&nbsp;·&nbsp;颐明园</div>
            <p>270-643m²,一环曲靖一中学位房，均价7000元/m²起；<br/>商业巨擘-西南家乐福旗舰店、欢乐影城、洲际品牌店全线入驻。</p>
        </div>
        <div class="Discount">
        <div class="number-days cf">
            <span class="fl">已有467人参与众筹</span>
            <span class="fr">已结束</span>
        </div>
        <div class="favourable-nav">
            <span class="all">9折优惠<br/><small>众筹人数100人</small></span>
            <span class="all">8折优惠<br/><small>众筹人数200人</small></span>
            <span class="all">7折优惠<br/><small>众筹人数300人</small></span>
            <span class="half">5折优惠<br/><small>众筹人数500人</small></span>
        </div>
        </div>
    </div>
</div>