<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="vieport" content="width=640px"/>
    <title>登录</title>
    <link href="/app/styles/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<p id="">用户登录</p>
<form>
    <p>请输入用户名</p>
    <input type="text" name="user">
    <p>密码</p>
    <input type="text" name="password">
    <p><input type="checkbox"  name="" />记住我</p>
    <p><a href="#">忘记密码</a></p>
</form>
<button>登录</button>
<p>没有账号？点此<span><a href="#">注册</a></span></p>
</body>
</html>