<!--买房户型图-->
<!--required:../static/style/housesPicBuy.css-->
            <div class="syj cf"><img src="../static/image/housesPicBuy/logo-syj.png" alt="水云间"/><span class="fr A1">A1/A2户型</span></div>
            <div class="price">
                <h5>均价7000元/m²起</h5>
                <p>建筑面积约143m²，赠送面积约7.6m²</p>
                <p>四室、两厅、一厨、双卫、双阳台</p>
            </div>
            <div><img src="../static/image/housesPicBuy/hxt.png" alt="户型图"/></div>
            <h3>图文详情</h3>
            <div class="hjt"><a href="../../zhongtian_seller/view/zhongtian_seller.html"><img src="../static/image/housesPicBuy/hjt.png" alt="海景图"/></a></div>
            <h2>精品3房</h2>
            <h4>悠享都市的自在阳光</h4>

            <div class="intro">
                <p>经典三房，方正明亮，动静分区明晰</p>
                <p>客厅外接景观阳台，空间更显宽松舒畅</p>
                <p>厨房外接生活阳台，轻松洗晒，优享生活乐趣</p>
                <p>主卧飘窗采光，带你日光浴，温馨舒适</p>
                <div class="summary"><a  href="#">咨询热线</a></div>
                <div class="summaryBg"></div>
            </div>
