<!--买房户型图-->
<!--required:../static/style/housesPicBuy.css-->
        <div class="content-housesPicBuy">
            <div class="syj cf"><img src="modules/housesPicBuy/static/image/housesPicBuy/logo-syj.png@85w_75h_70Q" alt="水云间" width="85" height="75"/><span class="fr A1">A1/A2户型</span></div>
            <div class="price">
                <p class="qi">均价7000元/m²起</p>
                <p>建筑面积约143m²，赠送面积约7.6m²</p>
                <p>四室、两厅、一厨、双卫、双阳台</p>
            </div>
            <div><img src="modules/housesPicBuy/static/image/housesPicBuy/hxt.png@640w_535h_70Q" alt="户型图" width="640" height="535"/></div>
            <p class="tw">图文详情</p>
            <div class="hjt"><a href="#/app/zhongtian_seller"><img src="modules/housesPicBuy/static/image/housesPicBuy/hjt.png@515w_338h_70Q" alt="海景图" width="515" height="338"/></a></div>
            <p class="jp">精品3房</p>
            <p class="sun">悠享都市的自在阳光</p>

            <div class="intro">
                <p>经典三房，方正明亮，动静分区明晰</p>
                <p>客厅外接景观阳台，空间更显宽松舒畅</p>
                <p>厨房外接生活阳台，轻松洗晒，优享生活乐趣</p>
                <p>主卧飘窗采光，带你日光浴，温馨舒适</p>
                <div class="summary"><a  href="#">咨询热线</a></div>
                <div class="summaryBg"></div>
            </div>
        </div>