<div class="nav-storeroom"><a class="area-storeroom" href="#">区域<span class="icon-storeroom"></span></a><a class="type-storeroom" href="#">类型<span class="icon-storeroom"></span></a><a class="price-storer" href="#">价格<span class="icon-storeroom"></span></a><a class="more-storeroom" href="#">更多<span class="icon-storeroom"></span></a></div>
<p class="zg">共401个楼盘</p>
<div class=" message-storeroom">
    <div class="main-storeroom cf">
        <a class="fl img" href="#/app/housesBuy"><img src="modules/nominate/static/image/nominate/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园"width="224" height="170"/></a>
        <div class="detail-storeroom fl ">
            <p class="yhy">蓝光&nbsp;·&nbsp;颐明园</p>
            <p class="yuan">9500元/m²</p>
            <p class="bj">三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</p>
            <p class="yh">按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</p>
        </div>
    </div>
  <div class="IWant"><a href="#"><button>我要带客</button></a><a href="#/app/groom"><button>我要推荐</button></a><a class="red-nominate" href="#/app/redPaper-1">红包</a><a  href="#/app/myInt">积分</a> </div>
</div>
<div class=" message-storeroom">
    <div class="main-storeroom cf">
        <a class="fl img" href="#/app/housesBuy"><img src="modules/nominate/static/image/nominate/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园" width="224" height="170"/></a>
        <div class="detail-storeroom fl ">
            <p class="yhy">蓝光&nbsp;·&nbsp;颐明园</p>
            <p class="yuan">9500元/m²</p>
            <p class="bj">三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</p>
            <p class="yh">按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</p>
        </div>
    </div>
    <div class="IWant"><a href="#"><button>我要带客</button></a><a href="#/app/groom"><button>我要推荐</button></a><a class="red-nominate" href="#/app/redPaper-1">红包</a><a href="#/app/myInt">积分</a> </div>
</div>
<div class=" message-storeroom show-half">
    <div class="main-storeroom cf">
        <a class="fl img" href="#/app/housesBuy"><img src="modules/nominate/static/image/nominate/pic1.png" alt="蓝光&nbsp;·&nbsp;颐明园" width="224" height="170"/></a>
        <div class="detail-storeroom fl ">
            <p class="yhy">蓝光&nbsp;·&nbsp;颐明园</p>
            <p class="yuan">9500元/m²</p>
            <p class="bj">三室两厅一卫一厨&nbsp;/&nbsp;128m²&nbsp;/&nbsp;在售15套</p>
            <p class="yh">按揭9%优惠&nbsp;&nbsp;大户型&nbsp;&nbsp;二环边</p>
        </div>
    </div>
    <div class="IWant"><a href="#"><button>我要带客</button></a><a href="#/app/groom"><button>我要推荐</button></a><a class="red-nominate" href="#/app/redPaper-1">红包</a><a href="#/app/myInt">积分</a> </div>
</div>

