<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoopoon.market"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.yoopoon.market.MyApplication_"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yoopoon.market.MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yoopoon.market.PersonalInfoActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.AddressManageActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.AboutUActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.BalanceActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.CleanServeActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.AssuranceActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.AssuranceDetailActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <!-- 产品分类Activity -->
        <activity
            android:name="com.yoopoon.market.ProductClassifyActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <!-- 产品详细信息Activity -->
        <activity
            android:name="com.yoopoon.market.ProductDetailActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <!-- 产品列表Activity -->
        <activity
            android:name="com.yoopoon.market.ProductList_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <activity
            android:name="com.yoopoon.market.ProductList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" >
        </activity>
        <activity
            android:name="com.yoopoon.market.MeOrderActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.MeOrderCommentActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yoopoon.market.PayResultActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.yoopoon.market.PayDemoActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.NewAddressActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.AddressModifyActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.ChooseAddressActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.DeliveryActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.FinancialActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.TravelActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.TaxiActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.PoliticsActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.EducationActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.ChargeActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.CategoryActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity
            android:name="com.yoopoon.market.MaternityMatronActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity android:name="com.yoopoon.market.SearchActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
        <activity android:name="com.yoopoon.market.PayWayActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Activity_Animation" />
    </application>

</manifest>