<div class="content-withdrawals">
    <div class="Savings-card">
        <laber>储蓄卡</laber>
        <select name="card" id="">
            <option value="0">请选择银行</option>
            <option value="1">中国银行</option>
            <option value="2">建设银行</option>
            <option value="3">交通银行</option>
            <option value="4">农业银行</option>
            <option value="5">工商银行</option>
        </select>
    </div>
    <div class="Current-balance">金额（元）<small>当前可体现金额888.08元</small></div>
    <div class=" verification-code"><input type="text"/><button>获取验证码</button></div>
    <div class="next-withdrawals"><a href="#/app/withdrawalsDetail"><button>下一步</button></a></div>
</div>