<div class="auction-content">
    <div><img src="/modules/Auction/static/image/Auction/title.png" alt="主题" width="640" height="376"/></div>
    <div class="auctionLp">
        <ul>
            <li>
                <div class="LpMessage"><img src="/modules/Auction/static/image/Auction/p1.png" alt="楼盘图" width="620px" height="204"/><span>剩余：<small>02</small>:<small>37</small>:<small>05</small></span><a
                    href="#/app/AuctionSpecial">马上参与</a></div>
                <div class="LpDetail cf">
                    <span class="fl apartment">[昆明市]&nbsp;俊发&nbsp;·&nbsp;七彩俊园&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户型：&nbsp;88m²<br/><b>478</b><small>次出价</small><b>99</b><small>人报名</small></span>
                    <span class="fr overTime">06月08日&nbsp;&nbsp;&nbsp;&nbsp;14:00结束</span>
                </div>
            </li>
            <li>
                <div class="LpMessage"><img src="/modules/Auction/static/image/Auction/p1.png" alt="楼盘图" width="620px" height="204"/><a href="#/app/AuctionUserInformation">马上报名</a></div>
                <div class="LpDetail cf">
                    <span class="fl apartment">[昆明市]&nbsp;实力&nbsp;·&nbsp;壹方城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户型：&nbsp;76m²<br/><b>478</b><small>次出价</small><b>99</b><small>人报名</small></span>
                    <span class="fr overTime overTime-green">06月08日&nbsp;&nbsp;&nbsp;&nbsp;14:00结束</span>
                </div>
            </li>
        </ul>
    </div>
</div>