
.main-personal{
    background: #fff;
    padding:25px 0 25px 30px;
}
.img {
    margin-right: 30px;
}
.pm{
    color:#333333;
    font-size: 2em;
}
.pm span{
    color:#996c33;
    margin-right: 20px;
}
.pm small{
    color:#7f7f7f;
    font-weight:normal;
    font-size:22px;
}
.fillInformation{
    color: #fc3b00;
    font-size: 20px;
}
.number{
    padding:5px 0 15px 0;
    border-bottom:1px solid #ebebeb;
    font-size: 20px;
}
.number a{
    color: #666666;
}
.sum{
    color:#f13800;
    padding:10px 0 5px 0;
    font-size: 1.3em;
}
.detail button {
    color: #fff;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: #f13800;
    font-size: 20px;
    margin-top: 5px;
}
.task-personal{
    margin-top:15px;
    background-color: #fff;
}
.task-personal .todayTask{
    height: 60px;
    line-height: 60px;
    padding-left:35px;
    color: #36ac38;
    border-bottom:1px solid #ebebeb;
    font-size: 1.5em;
}
.task-personal li{
    border-bottom:1px solid #ebebeb;
}
.task-personal p{
   padding:15px 0 15px 35px;
    color: #737373;
    font-size: 20px;
    line-height: 30px;
}
.task-personal p span{
    color:#f59683;
}
.task-personal button{
   margin:30px 40px 0 0;
   width: 90px;
   height: 43px;
   background: none;
    border-radius: 5px;
    border: 1px solid #f13800;
    color: #f13800;
    font-size: 20px;
}
.activity-personal{
    padding:15px 10px 20px;
}
.activity-personal li{
    width: 205px;
    float: left;
    background:#ffffff;
    text-align: center;
    padding:45px 0 45px 0;
}
.activity-personal .two{

    margin:0 2px 2px 2px;
}
.activity-personal .four {
   margin: 0 2px 0 0;
}
.activity-personal .five{
    margin-right: 2px;
}

.activity-personal li a{
    line-height: 30px;
    color: #4b6770;
    font-size: 18px;
}
.activity-personal .one a{
    color: #f13800;
}
.activity-personal .two a{
    color: #f13800;
}
#img{
	border-radius:500px;
}

/* 遮罩 */
.masked .Recruit{
    top:5%;
    left: 10%;
}
.masked .btn-partner{
    bottom: 10%;
    left: 32%;
}
.masked .myPartner{
    right:5%;
    top:20%;
}
.masked .nominate{
    top:10%;
    left: 10%;
}
.masked .SecStep{
    top:5%;
    left: 15%;
}
.masked .upWard{
    bottom:5%;
    left: 40%;
}
.masked .ThStep{
    top:5%;
    left: 10%;
}
.masked .nominateBtn{
    bottom:6%;
    left: 28%;
}
.masked .takeOff{
    bottom: 20%;
    left: 6%;
}
.masked .Commission{
    top:10%;
    left: 2%;
}
.masked .cashBtn{
    bottom:18%;
    left: 17%;
}
.masked .Extraction{
    top:10%;
    left: 20%;
}

/*今日楼房推荐*/
.today-property{
    padding:10px 10px 0 10px;
}
.today-property .today-reco{
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    color:#36ac38;
    font-size: 1.3em;
    padding-left: 30px;
}
.today-property  .Incoming-call{
    border-right: none;
}
.today-property .Get-commission{
    text-align:center;
    margin-top: 25px;
}
.today-property .Get-commission p{
    font-size: 1.3em;
}
.today-property .ztrc{
    margin-bottom: 20px;
}
.activity-personal .addStyle a{
    color: #4b6770;
}