<!--黄秀宇 任务列表  2015.05.12
自加CSS路径<link rel="stylesheet" href="styles/task.css" type="text/css" />
angular.js路径app/scrips/controller/CRM/taskList.js-->
<div  ng-controller="taskaddcontroller">
<div id="divTaskListA" class="divTaskD"class="bord" >
    <div class="taskd  bord">
        <div style="text-align: left;margin-left:100px;">
            <p >任务名称<span class="spantask">
        {{addcondition.Taskname}} </span>
                </p>
            <p style="margin-top:50px;">任务目标<span ng-model="addcondition.tagName" class="spantask">
            {{addcondition.tagName}}</span>
                </p>
        </div>
        <div style="text-align: left;margin-left:700px;margin-top:-110px;">
            <p >
                结束时间<span style="margin-left:20px;color:#0088cc;">
            {{addcondition.Endtime}}</span></p>
            <p style="margin-top:50px;">
                任务奖励<span style="margin-left:20px;color:#0088cc;">
            {{addcondition.awardName}}</span></p>
        </div>

    </div>
    <div class="taskd  bord" >
        <div style=" margin-left:100px;">
            <p >
                任务类型<span style="margin-left:20px;color:#0088cc;">
            {{addcondition.TaskType}}</span></p>
            <p style="margin-top:50px;">
                失败惩罚<span style="margin-left:20px;color:#0088cc;">
            {{addcondition.TaskPunishment}}</span></p>
        </div>
        <div style="margin-left: 700px;margin-top:-110px;">
            <p >任务描述<span style="margin-left:10px;margin-right:30px;color:#0088cc;">
            {{addcondition.Describe}}</span>
            </p>
        </div>

    </div>
    <div class="divbt"><button ng-click="detailBind()" onclick="taskDetailUpdate()" md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">修改</button>
        <a href="#page/CRM/TaskList/index"> <button style="margin-left:150px;" md-ink-ripple=""  class="md-btn md-raised m-b btn-fw blue">返回</button></a>
    </div>

</div>

<div id="divTaskListB" class="divTaskD bord" >
        <div class="taskd  bord">
            <div style="text-align: left;margin-left:100px;">
                <p >任务名称<span >

                <input ng-model="addcondition.Taskname" type="text" class="txtwid form-control form-control-1   ng-pristine ng-invalid ng-invalid-required ng-touched" required="" tabindex="0" aria-required="true" aria-invalid="true">
                </span>
                </p>
                <p style="margin-top:50px;">任务目标<span class="spantask">
                 <select  ng-model="addcondition.TaskTagId" class="txtwid  bordhtml form-control" name="" >
                     <option ng-repeat="item in tasktag" value={{item.Id}}>{{item.Name}}</option>
                 </select>
      </span>
                </p>
            </div>
            <div style="text-align: left;margin-left:700px;margin-top:-130px;">
                <p >
                   结束时间
                    <input class="txtwid form-control form-control-1"  ng-model="addcondition.Endtime" datepicker-popup="{{format}}" date-format="{{format}}"is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="ptaska bordhtml form-control" type="text"  placeholder="结束时间"/>
            <span style=" margin-left:-21px;">   <button  type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>

                </p>

                <p style="margin-top:50px;">
                    任务奖励<span style="margin-left:20px;color:#0088cc;">
                    <select ng-model="addcondition.TaskAwardId"  class="txtwid bordhtml form-control" name=""  >
                        <option ng-repeat="item in taskaward"value={{item.Id}}>{{item.Name}}</option>
                    </select>
</span></p>
            </div>

        </div>
    <div class="taskd  bord" >
    <div style=" margin-left:100px;">
        <p >
            任务类型<span  style="margin-left:20px;color:#0088cc;">
           <select ng-model="addcondition.TaskTypeId"   class="txtwid  bordhtml form-control"  name="" >
               <option ng-repeat="item in taskType"  value={{item.Id}}>{{item.Name}}</option>
           </select> </span></p>
        <p style="margin-top:50px;">
            失败惩罚<span style="margin-left:20px;color:#0088cc;">
           <select ng-model="addcondition.TaskPunishmentId" class="txtwid bordhtml form-control" name=""  >
               <option ng-repeat="item in taskpunishment" value={{item.Id}}>{{item.Name}}</option>
           </select> </span></p>
    </div>
    <div style="margin-left: 700px;margin-top:-130px;">
        <p >任务描述<span style="margin-left:10px;margin-right:30px;color:#0088cc;">
             <textarea ng-model="addcondition.Describe"  style="height:150px" class=" txtwid  form-control form-control-1   ng-pristine ng-invalid ng-invalid-required ng-touched" type="text">
                 </textarea></span>
        </p>
    </div>
</div>
        <div class="divbt"><button ng-click="Uptask()"  md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">确定修改</button>
            <a href="#page/CRM/TaskList/index"> <button style="margin-left:150px;" md-ink-ripple=""  class="md-btn md-raised m-b btn-fw blue">返回</button></a>
        </div>

    </div>

</div>

<script type="text/javascript">
    document.getElementById("divTaskListB").style.display = "none";
    function taskDetailUpdate() {
        document.getElementById("divTaskListB").style.display = "";
        document.getElementById("divTaskListA").style.display = "none";


    }

</script>
