<!--个人设置-->
<!--required:../static/style/setting.css" rel="stylesheet-->
           <div class="setting_personal" ng-controller="personsettingController" novalidate>
	               <div class="headphoto">
	               	
	                   <div class="touxiang" id="preview">
	                       <img ng-src="{{imgUrl+olduser.Headphoto}}@174w_174h_70Q" id="imghead">
	                   </div>
	                   <span class="input-file">
	                   	<a id="Uptext">头像设置</a>
	                   	<input name="fileToUpload" type="file" onchange="previewImage(this)"/>
	                   </span>
	               </div>
               <div class="person_revise">
                   <form name="information_form"  ng-submit="save()">

                       <p>昵称</p>
                       <!--<p>{{olduser.Nickname}}</p>-->
                       <input type="text" class="password old" placeholder="昵称" name="information_form_nickName" ng-model="olduser.Nickname" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9_]+$/" ng-maxlength="20" ><br/>
                       <div class="information_error" ng-show="information_form.information_form_nickName.$invalid&&information_form.information_form_nickName.$dirty">请正确输入昵称</div>
                       <p> <span>*</span>姓名</p>
                       <input type="text" class="password old" placeholder="姓名" name="information_name"  ng-model="olduser.Realname" ng-pattern="/^[\u4e00-\u9fa5]+$/" ng-maxlength="5" ng-minlength="2" required/><br/>
                       <div class="information_error" ng-show="information_form.information_name.$invalid&&information_form.information_name.$dirty">请正确输入姓名</div>
                       <p>  <span>*</span>性别</p>
                       <select name="sexy"  class="sexy" ng-model="olduser.Sexy">
                           <option value="先生">先生</option>
                           <option value="女士">女士</option>
                       </select>
                       <p> 电话</p>
                       <p>{{olduser.Phone}}</p>
                       <!--<input type="text" class="password old" placeholder="用户手机号码" name="information_phone" ng-model="olduser.Phone" ng-pattern="/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/" required/><br/>-->
                       <!--<div class="information_error" ng-show="information_form.information_phone.$invalid&&information_form.information_phone.$dirty">请正确输入手机号码</div>-->
                       <p> <span>*</span>身份证</p>
                       <input type="text" class="password old" placeholder="保护账号安全" name="information_sfz" ng-model="olduser.Sfz" ng-pattern="/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/" required/><br/>
                       <div class="information_error" ng-show="information_form.information_sfz.$invalid&&information_form.information_sfz.$dirty">请正确输入身份证号码</div>
                       <p>  <span>*</span>邮箱</p>
                       <input type="email" class="password old" placeholder="请输入用户邮箱" name="information_mail" ng-model="olduser.Email" ng-pattern="/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((.[a-zA-Z0-9_-]{2,3}){1,2})$/" required/><br/>
                       <div class="information_error" ng-show="information_form.information_mail.$invalid&&information_form.information_mail.$dirty" >请正确输入邮箱</div>
                       <p> 微信号</p>
                       <input type="text" class="password old" placeholder="请输入微信账号" name="WeiXinNumber" ng-model="olduser.WeiXinNumber" /><br/>
                       <div class="information_error" ng-show="information_form.WeiXinNumber.$invalid&&information_form.WeiXinNumber.$dirty">请正确输入微信号</div>
                      <div id="InvitedCode">
                       <p> 邀请码</p>
                       <input type="text" class="password old" placeholder="请输入邀请码" name="InvitedCode"  ng-model="olduser.code"/><br/>
                      </div>
                       <p class="errorTip">{{tips}}</p>
                       <button class="save_button" type="submit" ng-disabled="information_form.$invalid">保存</button>

                   </form>
               </div>
           </div>



