<!--个人设置-->
<!--required:../static/style/setting.css" rel="stylesheet-->
           <div class="setting_personal">
               <div class="headphoto">
                   <div class="touxiang">
                       <a href=""><img src="" alt=""></a>
                   </div>
                   <p><a href="#">头像修改</a> </p>
               </div>
               <div class="person_revise" ng-controller="personsettingController">
                   <form>
                       <p>
                           姓名
                       </p>
                       <p><input type="text" class="password old" placeholder="用户名" value="{{users.Brokername}}" required/><br/></p>
                       <p>
                           电话
                       </p>
                       <p><input type="tel" class="password old" placeholder="用户手机号码"value="{{users.Phone}}" required/><br/></p>
                       <p>
                           身份证
                       </p>
                       <p><input type="number" class="password old" placeholder="保护账号安全" value="{{users.Sfz}}" required/><br/></p>
                       <!--<p>-->
                           <!--银行卡-->
                       <!--</p>-->
                       <!--<p> <input type="" class="password old" placeholder="绑定银行卡"/><br/></p>-->
                       <p><button class="save_button" ng-click="save()">保存</button></p>
                   </form>
               </div>
           </div>



