<!--个人设置-->
<!--required:../static/style/person_setting.css" rel="stylesheet-->
            <div class="headphoto">
                <div class="touxiang">
                    <a href=""><img src="" alt=""></a>
                </div>
                <p><a href="#">头像修改</a> </p>
            </div>
            <div class="person_revise">
                <form>
                    <p>
                        姓名
                    </p>
                    <input type="" class="password old" placeholder="用户名"/><br/>
                    <p>
                        电话
                    </p>
                    <input type="" class="password old" placeholder="用户手机号码"/><br/>
                    <p>
                        身份证
                    </p>
                    <input type="" class="password old" placeholder="保护账号安全"/><br/>
                    <p>
                        银行卡
                    </p>
                    <input type="" class="password old" placeholder="绑定银行卡"/><br/>
                    <button class="save_button">保存</button>
                </form>
            </div>


