<!--经纪人户型图-->
<!--required:../static/style/housesPic.css-->
        <div class="content-housesPic" ng-controller="HousesPicController">
            <div class="syj cf"><img src="modules/housesPic/static/image/housePic/logo-syj.png" alt="水云间" width="85" height="75"/><span class="fr A1" ng-bind="ProductDetail.Productname"></span></div>
            <div class="brokerage">最高佣金1万元，带客佣金1000元，推荐佣金300元</div>
            <div class="price">
                <p class="qi">均价{{ProductDetail.Price}}元/m²起</p>
                <p>{{ProductDetail.SubTitle}}</p>
                <!--<p>四室、两厅、一厨、双卫、双阳台</p>-->
            </div>
            <div><img src="{{ProductImg}}" alt="户型图" width="640" height="535"/></div>
                <p class="tw">图文详情</p>
                 <div class="hjt">
                     <img src="http://img.yoopoon.com/{{ProductDetail.Productimg1}}" alt="海景图"width="300" height="200"/>
                     <img src="http://img.yoopoon.com/{{ProductDetail.Productimg2}}" alt="海景图"width="300" height="200"/>
                     <img src="http://img.yoopoon.com/{{ProductDetail.Productimg2}}" alt="海景图"width="300" height="200"/>
                     <img src="http://img.yoopoon.com/{{ProductDetail.Productimg2}}" alt="海景图"width="300" height="200"/>
                 </div>
                <!--<p class="jp"></p>-->
                <p class="sun">{{ProductDetail.ProductDetailed}}</p>

            <div class="intro">
                <!--<p>经典三房，方正明亮，动静分区明晰</p>-->
                <!--<p>客厅外接景观阳台，空间更显宽松舒畅</p>-->
                <div class="summary"><a  class="dk" href="#">我要带客</a><a class="tj" href="#">我要推荐</a><a class="ask" href="#">需求帮助</a></div>
                <div class="summaryBg"></div>
            </div>
            <!--<div class="syj cf"><img src="modules/housesPic/static/image/housePic/logo-syj.png" alt="水云间" width="85" height="75"/><span class="fr A1">A1/A2户型</span></div>-->
            <!--<div class="brokerage">最高佣金1万元，带客佣金1000元，推荐佣金300元</div>-->
            <!--<div class="price">-->
                <!--<p class="qi">均价7000元/m²起</p>-->
                <!--<p>建筑面积约143m²，赠送面积约7.6m²</p>-->
                <!--<p>四室、两厅、一厨、双卫、双阳台</p>-->
            <!--</div>-->
            <!--<div><img src="modules/housesPic/static/image/housePic/hxt.png" alt="户型图" width="640" height="535"/></div>-->
            <!--<p class="tw">图文详情</p>-->
            <!--<div class="hjt"><a href="#/app/zhongtian_HouseDetail"><img src="modules/housesPic/static/image/housePic/hjt.png" alt="海景图"width="515" height="338"/></a></div>-->
            <!--<p class="jp">精品3房</p>-->
            <!--<p class="sun">悠享都市的自在阳光</p>-->

            <!--<div class="intro">-->
                <!--<p>经典三房，方正明亮，动静分区明晰</p>-->
                <!--<p>客厅外接景观阳台，空间更显宽松舒畅</p>-->
                <!--<div class="summary"><a  class="dk" href="#">我要带客</a><a class="tj" href="#">我要推荐</a><a class="ask" href="#">需求帮助</a></div>-->
                <!--<div class="summaryBg"></div>-->
            <!--</div>-->
            </div>