<!--经纪人户型图-->
<!--required:../static/style/housesPic.css-->
            <div class="syj cf"><img src="../static/image/housePic/logo-syj.png" alt="水云间"/><span class="fr A1">A1/A2户型</span></div>
            <div class="brokerage">最高佣金1万元，带客佣金1000元，推荐佣金300元</div>
            <div class="price">
                <h2>均价7000元/m²起</h2>
                <p>建筑面积约143m²，赠送面积约7.6m²</p>
                <p>四室、两厅、一厨、双卫、双阳台</p>
            </div>
            <div><img src="../static/image/housePic/hxt.png" alt="户型图"/></div>
                <h3>图文详情</h3>
                 <div class="hjt"><a href="../../zhongtian_HouseDetail/view/zhongtian_HouseDetail.html"><img src="../static/image/housePic/hjt.png" alt="海景图"/></a></div>
                <h2>精品3房</h2>
                <h4>悠享都市的自在阳光</h4>

            <div class="intro">
                <p>经典三房，方正明亮，动静分区明晰</p>
                <p>客厅外接景观阳台，空间更显宽松舒畅</p>
                <div class="summary"><a  class="dk" href="#">我要带客</a><a class="tj" href="#">我要推荐</a><a class="ask" href="#">需求帮助</a></div>
                <div class="summaryBg"></div>
            </div>