<!--经纪人户型图-->
<!--required:../static/style/housesPic.css-->
        <div class="content-housesPic" ng-controller="HousesPicController">
            <!--{{ProductDetail.Productimg}}-->
            <div class="syj cf">
                <!--<img src="http://img.yoopoon.com/{{ProductDetail.BrandImg}}" alt="水云间" width="85" height="75"/>-->
                <span ng-bind="ProductDetail.Productname"></span></div>
            <!--<div class="brokerage">{{ProductDetail.Advertisement}}</div>-->
            <div class="price">
                <p class="qi">均价{{ProductDetail.Price}}元/m²起</p>
                <p>{{ProductDetail.SubTitle}}</p>
                <!--<p>四室、两厅、一厨、双卫、双阳台</p>-->
            </div>
            <div><img src="http://img.yoopooncom/{{ProductDetail.ProductDetailImg}}" alt="户型图" width="640px"/></div>
            <div><img src="{{imgUrl+ProductDetail.ProductDetailImg}}@640w_70Q" alt="户型图" width="640px"/></div>
              <h3 style="width: 640px; font-weight: 900;">图文详情</h3>
                 <div class="hjt" id="scimg" ng-class="{hideImg:select}">
                     <img src="http://img.yoopoon.com/{{ProductDetail.Productimg1}}"alt="海景图"width="515px"/>
                     <img src="{{imgUrl+ProductDetail.Productimg1}}@515w_70Q" alt="海景图"width="515px"/>
                     <!--<img src="http://img.yoopoon.com/{{ProductDetail.Productimg2}}" alt="海景图"width="300" height="200"/>-->
                     <!--<img src="http://img.yoopoon.com/{{ProductDetail.Productimg3}}" alt="海景图"width="300" height="200"/>-->
                     <!--<img src="http://img.yoopoon.com/{{ProductDetail.Productimg4}}" alt="海景图"width="300" height="200"/>-->
                 </div>
                <!--<p class="jp"></p>-->
                <p class="sun" ng-bind-html="ProductDetail.ProductDetailed|trustHtml"></p>


                <!--<p>经典三房，方正明亮，动静分区明晰</p>-->
                <!--<p>客厅外接景观阳台，空间更显宽松舒畅</p>-->
                 <div access="broker" class="summaryBg">
                    <!--<a  class="dk" href="#app/carry_client?Projectid={{ProductDetail.Id}}&name={{ProductDetail.Productname}}&type={{ProductDetail.Type}}">我要带客</a><a class="tj" href="#app/groom?Projectid={{ProductDetail.Id}}&name={{ProductDetail.Productname}}&type={{ProductDetail.Type}}">我要推荐</a>-->
                     <a  class="dk" href="#app/carry_client?Projectid={{ProductDetail.Id}}&name={{ProductDetail.Productname}}&type={{type}}">我要带客</a><a class="tj" href="#app/groom?Projectid={{ProductDetail.Id}}&name={{ProductDetail.Productname}}&type={{type}}">我要推荐</a>

                     <a class="ask" href="tel:{{ProductDetail.Phone}}">咨询热线:{{ProductDetail.Phone}}</a>
                 </div>

            <!--<div class="syj cf"><img src="modules/housesPic/static/image/housePic/logo-syj.png" alt="水云间" width="85" height="75"/><span class="fr A1">A1/A2户型</span></div>-->
            <!--<div class="brokerage">最高佣金1万元，带客佣金1000元，推荐佣金300元</div>-->
            <!--<div class="price">-->
                <!--<p class="qi">均价7000元/m²起</p>-->
                <!--<p>建筑面积约143m²，赠送面积约7.6m²</p>-->
                <!--<p>四室、两厅、一厨、双卫、双阳台</p>-->
            <!--</div>-->
            <!--<div><img src="modules/housesPic/static/image/housePic/hxt.png" alt="户型图" width="640" height="535"/></div>-->
            <!--<p class="tw">图文详情</p>-->
            <!--<div class="hjt"><a href="#/app/zhongtian_HouseDetail"><img src="modules/housesPic/static/image/housePic/hjt.png" alt="海景图"width="515" height="338"/></a></div>-->
            <!--<p class="jp">精品3房</p>-->
            <!--<p class="sun">悠享都市的自在阳光</p>-->

            <!--<div class="intro">-->
                <!--<p>经典三房，方正明亮，动静分区明晰</p>-->
                <!--<p>客厅外接景观阳台，空间更显宽松舒畅</p>-->
                <!--<div class="summary"><a  class="dk" href="#">我要带客</a><a class="tj" href="#">我要推荐</a><a class="ask" href="#">需求帮助</a></div>-->
                <!--<div class="summaryBg"></div>-->
            <!--</div>-->
            </div>