<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px, initial_scale=1.0">
   <link href="../static/style/houseTyle.css" type="text/css" rel="stylesheet">
  <link href="../static/style/overall.css"rel="stylesheet"type="text/css">
   <title></title>
</head>
<body>
<div id="d2">
    <div style="height:1px;"></div>
    <div id="dlg"><span id="span1"><img id="m1" src="" alt="项目logo" /></span><p id="p1">项目相关信息</p></div>
    <div class="d1"><a>户型A</a></div>
    <div class="d1"><a>户型B</a></div>
    <div class="d1"><a>户型C</a></div>
    <div class="d1"><a>户型D</a></div>
    <div style="height:5px;"></div>
</div>
</body>
</html>