<!DOCTYPE html>
        <html>
<head lang="zh-en">
<meta charset="UTF-8">
    <meta name="viewport" content="width=640px, initial-scale=1.0">
<link href="../static/style/overall.css" rel="stylesheet" type="text/css">
    <link href="../static/style/houseTyle.css"rel="stylesheet"type="text/css">
</head>
<title></title>
<body>
<div id="d2">
    <div style="height:1px;"></div>
    <div id="dlg"><span id="span1"><img id="m1" src="" alt="项目logo" /></span><p id="p1">项目相关信息</p></div>
    <div class="d1"><a>户型介绍</a></div>
    <div class="d1"><a>户型图</a></div>
    <div class="d4"><a>实景图</a></div>
    <div style="height:5px;"></div>
</div>
</body>
        </html>