<!DOCTYPE html>
<html>
<head lang="zh-en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px, initial-scale=1.0">
    <link href="../static/style/overall.css" rel="stylesheet" type="text/css">
    <link href="../static/style/houseTyle.css"rel="stylesheet"type="text/css">
</head>
<title></title>
<body>
<div id="d2">
    <div style="height:1px;"></div>
    <div id="d10">很遗憾！你说推荐信息未能通过审核
        <div id="d6">
            <button id="bt1" >重新提交</button>
        </div>
    </div>
    <div style="height:5px;"></div>
</div>
</body>
</html>