<!DOCTYPE html>
<html>
<head lang="zh-en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px, initial-scale=1.0">
    <link href="../static/style/overall.css" rel="stylesheet" type="text/css">
    <link href="../static/style/houseTyle.css"rel="stylesheet"type="text/css">
</head>
<title></title>
<body>
<div id="d2">
    <div style="height:1px;"></div>
 <div id="d10"><span>恭喜你！推荐信息真实有效</span>
        <div id="d6"><div id="d11"><p>100元</p></div>
            <div id="d12">
                <div class="d13">查看</div>
                <div class="d13">关闭</div>
            </div>
        </div>
 </div>
    <div style="height:5px;"></div>
</div>
</body>
</html>