<!DOCTYPE html>
<html>
<head lang="zh-en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px, initial-scale=1.0">
    <link href="../static/style/overall.css" rel="stylesheet" type="text/css">
    <link href="../static/style/houseTyle.css"rel="stylesheet"type="text/css">
</head>
<title></title>
<body>
<div id="d2">
    <div style="height:1px;"></div>
    <div id="d7"><input type="text"class="text1" id="t1" value="楼盘信息/意向户型" ></div>
    <div id="d7"><input type="text"class="text1" id="t1" value="姓名/电话" ></div>
    <div id="d7"><input type="text"class="text1" id="t1" value="备注信息" ></div>
    <div class="d1"><span>提交</span></div>
    <div style="height:5px;"></div>
</div>
</body>
</html>