<!DOCTYPE html>
<html>
<head lang="zh-en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px, initial-scale=1.0">
    <link href="../static/style/overall.css" rel="stylesheet" type="text/css">
    <link href="../static/style/houseTyle.css"rel="stylesheet"type="text/css">
</head>
<title></title>
<body>
<div id="d2">
    <div style="height:1px;"></div>
    <div class="d1"><a>预约不成功</a></div>
    <div id="d5"><span>预约不成功详细信息</span>
    <div id="d6"><button id="bt1" >重新预约</button></div></div>
    <div style="height:5px;"></div>
</div>
</body>
</html>