<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>注册</title>
    <link href="../static/style/register.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="window">
    <p class="pregister">用户注册</p>
    <form class="content">
        <p class="username">
            用户名
        </p>
        <p class="ublank">
            <span><img src="../static/image/register/user.png" class="ujpg"></span>
            <input type="text"  id="ublank" placeholder="Username" name="ublank"/>
        </p>
        <p class="password">
            密码
        </p>
        <p class="pblank">
            <span><img src="../static/image/register/pass.png" class="pjpg"></span>
            <input type="text"  id="pblank" placeholder="Password" name="pblank"/>
        </p>
        <p class="num">
            手机号码
        </p>
        <p class="nmblank">
            <span><img src="../static/image/register/phone.png" class="nmjpg"></span>
            <input type="tel"  id="nmblank" placeholder="Telephone" name="nmblank"/>
        </p>
        <p class="pin">
            验证码
        </p>
        <p class="pinblank">
            <input type="text"  id="pinblank"  name="pinblank"/>
            <button>发送验证码</button>
        </p>
        <button class="register">注 册</button>
        <p class="login">
            已有账号？点此<span><a href="#">登录</a> </span>
        </p>

    </form>
</div>
</body>
</html>