<div class="register_content">
    <form class="form_register" ng-controller="registerController">
        <p class="register_tip">
            用户名
        </p>
        <p class="register_input">
            <span><img src="modules/Register/static/image/register/user.png" class="registerImg"></span>
            <input type="text"  class="register_blank" placeholder="请输入用户名" name="register_blank" id="username"  ng-model="register.UserName" required/>
        </p>
        <p class="register_tip">
            密码
        </p>
        <p class="register_input">
            <span><img src="modules/Register/static/image/register/pass.png" class="registerImg"></span>
            <input type="password" class="register_blank" placeholder="请输入密码" name="register_blank" id="userPassword"  ng-model="register.Password" required/>
        </p>

        <p class="register_tip">
            确认密码
        </p>
        <p class="register_input">
            <span><img src="modules/Register/static/image/register/pass.png" class="registerImg"></span>
            <input type="password" class="register_blank" placeholder="请输入确认密码" name="register_blank" id="userPassword"  ng-model="register.SecondPassword" required/>
        </p>

        <p class="register_tip">
            手机号码
        </p>
        <p class="register_input">
            <span><img src="modules/Register/static/image/register/phone.png" class="registerImg"></span>
            <input type="tel" class="register_blank" placeholder="请输入手机号码" name="register_blank" id="phoneNumber"  ng-model="register.Phone" required/>
            <input type="hidden" ng-model="register.MobileYzm.Hidm">
        </p>
        <p class="register_tip">
            验证码
        </p>
        <p class="PinBlank">
            <input type="text"  class="PinInput" placeholder="请输入验证码" ng-model="register.MobileYzm"  name="Pin_input"/>
            <button  id="btnsms" name="btnsms"  ng-click="GetSMS()">发送验证码</button>
        </p>
        <p class="register_error">
            {{register_error}}
        </p>
        <button class="register_button"   ng-click="registerSubmit()" >注 册</button>
        <p class="LoginExit">
            已有账号？点此<span><a href="#user/login">登录</a> </span>
        </p>
    </form>
</div>
