
<div ng-controller="withdrawController">

<div class="selectList">
    <table class="Content" align="center">
        <tr>
            <th>选择</th>
            <th>类型</th>
            <th>金额</th>
            <th>时间</th>
        </tr>
        <tr ng-repeat="row in list">
            <td><input type="checkbox" ng-click="toggle(row.Id)"></td>
            <td  ng-if="row.Type==0"><span>带客</span></td>
            <td  ng-if="row.Type==1"><span>推荐</span></td>
            <td  ng-if="row.Type==2"><span>注册佣金</span></td>
            <td><span>{{row.Balancenum}}</span></td>
            <td><span>{{row.Addtime}}</span></td>
        </tr>
    </table>
</div>
    <div class="next"><button ng-click="btnClick(Ids)">下一步</button></div>

</div>