

<div  style="width: 640px;text-align: center;" align="center">
    <table width="640px" align="center">
        <tr style="height: 40px;font-size: 16px" align="center">
            <th>选择</th>
            <th>类型</th>
            <th>金额</th>
            <th>时间</th>
        </tr>
        <tr style="height: 40px;font-size: 16px" align="center">
            <td><input type="checkbox"></td>
            <td><span>带客</span></td>
            <td><span>带客</span></td>
            <td><span>带客</span></td>
        </tr>
    </table>
</div>