.bg-yellow{
    padding: 0 ;
    height: 70px;
    margin-left: 20px;
}
.scroll-home{
    width: 100%;
    background-color:#ffcc00 ;
}
.circle{
    width: 40px;
    height:40px;
    background-color: white;
    border-radius:50% ;
    padding: 5px;
}

.button-service{
    position: absolute;
    top:162px;
    height: 65px;
    width: 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8em;
    z-index: 20;
}
.font-8{
    font-size: 0.5em;
    font-family: "Microsoft YaHei";
}
.p-red{
    color: red;
}
.p-invisible{
   background-color: #111111;
    opacity: 0.8;
    color: white;
    height:20px;
    width: 80px;
    border-radius: 30px;
    line-height: 20px;
    z-index: 999;
    text-align: center;
    font-size: 0.5em;
}
.p-location{
    position: absolute;
    left: 10px;
    top: 10px;
}
.f-show{
    z-index: 1;
}
.activity{
    width: 50%;
    height: 100%;
    background-color: #111111;
    position: absolute;
    top:0;
    right: 0;
    opacity: 0.9;
}

.s-location{
    position: absolute;
    right: 10px;
    top: 10px;
}
.p-relative{
    position: relative;
}
.p-price{
    color: red;
    font-size: 1.1em;
}
.shop-cart{
    font-size:1.5em;
    color: #ffcc00;
}
.activity button{
    height: 20%;
    width: 80%;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}
/*遮罩*/
.p-head{
    background-color: black;
    opacity: 0.8;
    z-index: 99999;
    width: 86.7%;
    margin-left: 55px;
}
.button-location{
    position: absolute;
   bottom: 0;
    right: 10px;
    width: 120px;
    height: 50px;
}


/*商品分类*/
.border-input{
    border-radius: 10px;
    background-color: #eeeeee;
}
.input-size{
    height: 44px;
    width: 100%;
}
.color-orange{
    color: #eb6100;
}

.bar .icon-search:before{
  margin-left: 30%;
    margin-right: 2%;
    font-size: 18px;
}
.list-title{
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 15px;
}
.font-12{
    font-size: 1.2em;
    font-family: "Microsoft YaHei";
}
.font-11{
    font-size: 1em;
    font-family: "Microsoft YaHei";
}
/*商品列表*/
.float-right{
    float: right;
}
.product{
    width: 100%;
    float: left;
}
.lable-size{
    width: 100px;height: 100%
}
.col-offset{
    margin-left: 20px;
}
.border-label{
    border-bottom: 1px  solid #dddddd
}
.padding-top8{
    padding-top: 8px;
}
/*商品详情*/
.icon-size{
    font-size: 2em;
}
.detail-back{
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 999;
}
.detail-car{
    width: 40px;
    height: 40px;
    background-color: #898d93;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    position: absolute;
    left: 85%;
    top: 2%;
    z-index: 99;
}
.gwc-car{
    width: 40px;
    height: 40px;
    background-color: #898d93;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    position: absolute;
    left: 55%;
    bottom: 8%;
    z-index: 99;
    visibility: hidden;
}
.detail-img{
    width: 100%;
    height: 100%;
}
.detail-position{
    position: absolute;
    top: 0;
    z-index: 1;
}
.none-border{
    border: none;
}
.detail-padding{
    padding: 0;
}
.font-16{
    font-size: 16px;
}
.color-Red{
    color: #ff4400;
}
.font-24{
    font-size: 24px;
}
.detail-price{
    font-weight: bold;
    font-size: 1.3em;
    color: red;
}
.font-title{
    font-size: 1.3em;
    font-family: Microsoft YaHei;
}
.detail-line{
    width: 100%;
    height: 3px;
    background-color: black;
}
.p-button{
    font-family: "Microsoft YaHei";
    color: white;
    font-weight: bold;
}
.color-silver{
   color:  #7c7b7b
}
.bottom-border{
    border-bottom: 1px black ;
}
.color-white{
    color: white;
}
.button-position{
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
.div-null{
    width: 100%;
    height: 30px;
}
.div-null1{
    width: 100%;
    height: 78px;
}
.font-weight{
    font-weight: bold;
}
.button-register{
    border:1px solid red;
    width: 130px;
    height: 40px;
    color: red;
}
/*购物车动画开始*/
.Gwcactive{
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-name: Gwc-one;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    bottom: 90%;
    -webkit-transform: translateX(280%);
    opacity: 0;
}
@-webkit-keyframes Gwc-one {
    0% {
        bottom: 7%;
        -webkit-transform: translateX(20%);
        opacity: 1;
    }
    8% {
        bottom: 14%;
        -webkit-transform: translateX(40%);
    }
    16% {
        bottom: 21%;
        -webkit-transform: translateX(60%);
    }
    22% {
        bottom: 28%;
        -webkit-transform: translateX(80%);
    }
    28% {
        bottom: 34%;
        -webkit-transform: translateX(100%);
    }
    34% {
        bottom: 40%;
        -webkit-transform: translateX(120%);
    }
    40% {
        bottom: 46%;
        -webkit-transform: translateX(140%);
    }
    48% {
        bottom: 52%;
        -webkit-transform: translateX(160%);
    }
    56% {
        bottom: 58%;
        -webkit-transform: translateX(180%);
    }
   62% {
        bottom: 64%;
        -webkit-transform: translateX(200%);
    }
    68% {
        bottom: 70%;
        -webkit-transform: translateX(220%);
    }
    76% {
        bottom: 76%;
        -webkit-transform: translateX(240%);
    }
    84% {
        bottom: 82%;
        -webkit-transform: translateX(260%);
    }
    90% {
        bottom: 90%;
        -webkit-transform: translateX(280%);
        opacity: 0;
    }
    100%{
        bottom: 90%;
        -webkit-transform: translateX(280%);
        opacity: 0;
    }

}
/*购物车动画结束*/