<div class="AuctionSpecial-content">
    <div class="specialIntro">
       <div class="toBegin">
           <img src="modules/AuctionSpecial/static/image/AuctionSpecial/pdp.png" alt="即将开始" width="620" height="200"/>
           <span>即将开始&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;05月30日<small class="month"></small>14:00<small class="start"></small>开始<small class="stop"></small>报名截止：&nbsp;2天50时49分34秒</span>
           <!--<img src="modules/AuctionSpecial/static/image/AuctionSpecial/qgt.png" alt="" width="620" height="31"/>-->
       </div>
        <div class="flat equalHigh">中天理想城精装公寓C1-32-103室</div>
        <div class="equalHigh currentPrice">当前价：<small>￥750,000</small><span>99</span>人报名<span class="watch">7432</span>人围观</div>
        <div class="equalHigh">保证金：<span class="Bond">￥1000</span><span>加价幅度：￥1</span></div>
        <div class="StartPrice">起拍价：&nbsp;&nbsp;&nbsp;&nbsp;￥750.000<span class="ReservePrice">保留值：无</span><br/>延时周期：&nbsp;&nbsp;<span>5分钟/次</span></div>
        <div class="equalHigh ">服务保障<a href="#" class="fr"></a></div>
        <div class="equalHigh">保证金须知<a href="#" class="fr"></a></div>
    </div>
    <div><img src="modules/AuctionSpecial/static/image/AuctionSpecial/pmjs.png" alt="拍品详细介绍" width="640" height="774"/></div>
    <div><img src="modules/AuctionSpecial/static/image/AuctionSpecial/detail.jpg" alt="拍品详细介绍" width="640" height="4757"/></div>
</div>