
.content-redPaper-1{
    text-align: center;
}
.dj{
    font-size:40px;
    color: #525252;
    padding-top:48px;
}
.yg{
    font-size: 24px;
    color: #525252;
    padding-top:22px;
    font-weight: normal;
}
.bag{
    padding-top: 76px;
}
.qiang button{
    width: 185px;
    height: 40px;
    background-color: #fc3b00;
    color: #fff;
    font-size:18px;
    border-radius: 5px;
    box-shadow: 0 3px 10px #000;
}
.qiang{
    padding:75px 0;
}

.content-redPaper-2{
    text-align: center;
    background-color: #fff;
}
.congratulations{
    color: #525252;
    font-size: 3em;
    padding-top:80px;
}
 .content-redPaper-2 .qd{
    padding-top:60px;
    color: #525252;
    font-size: 3em;
    font-weight: normal;
}
.money{
    padding-top:20px;
    font-size: 6em;
    color: #ff0000;
}
.red{
    padding-top:20px;
    color: #ff0000;
    font-size:3em;
}
.back button{
    width: 185px;
    height: 52px;
    background-color: #fc3b00;
    color: #fff;
    font-size:20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px #000;
}
.back{
    padding:100px 0 0 0;
}
/*.hd{*/
    /*text-align: center;*/
    /*background-color: #4db132;*/
    /*padding:20px 35px 44px;*/
/*}*/
/*.hd p{*/
    /*margin-top: 10px;*/
    /*color: #fff;*/
    /*font-size:24px;*/
/*}*/
/*.main .check{*/
    /*padding:28px 0 0 20px;*/
    /*color: #c9c9cc;*/
    /*font-size: 18px;*/
/*}*/
/*.btn{*/
   /*padding-top:47px;*/
    /*text-align: center;*/
/*}*/
/*.btn button{*/
    /*width: 610px;*/
    /*height: 65px;*/
    /*background-color:#04be02;*/
    /*font-size: 24px;*/
    /*color: #fff;*/
    /*border-radius: 8px;*/
/*}*/
/*.tz{*/
    /*color: #525252;*/
    /*font-size: 24px;*/
    /*font-weight: normal;*/
    /*padding-top:95px;*/
    /*text-align: center;*/
/*}*/