<!--添加合伙人-->
<!--required：../static/style/partner.css" rel="stylesheet-->

        <div class="add_content">
            <form>
                <p>
                    电话
                </p>
                <p><input type="tel" class="add_blank" placeholder="请输入被邀请人电话"/></p>
                <p><button class="add_button">邀请</button></p>
            </form>
        </div>
        <div class="footer">
            <a href="../../../index..html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
