<!--客户列表-->
<!--required:../static/style/customerList.css-->
<div class="information"ng-controller="cusListController">
    <ul ng-repeat="item in list" >
        <li class="lists">
            <div class="intro cf"><span class="fl name"><b>{{item.StrType}}</b><b>{{item.Clientname}}</b><br/><small style="font-size: 18px;">{{item.Housetype}}&nbsp;&nbsp;{{item.Houses}}</small></span><span class="fr tell">{{item.Phone}}</span></div>
            <div ng-click="toggle(item.Id)" class="last cf">带客进度：{{item.Status}}<a href="#" class="icon fr"></a></div>
        <div id={{item.Id}} style="display: none">
            <div  class="detail-customerList" >
            <div ng-click="toggle(item.Id)" class="last cf">带客进度：{{item.Status}} <a href="#" class="icon fr"></a>  </div>
            <div class="cf ">
            <div class="imgList fl" ></div>
            <ul class="fl">
            <li ng-class="{style:item.Status=='预约中'||item.Status=='审核中'}">
            <p>信息提交，等待审核</p>

            <span></span>
            </li>
            <li ng-class="{style:item.Status=='等待上访'}">
            <p>审核成功，等待上访</p>

                <span></span>
            </li>
            <li ng-class="{style:item.Status=='洽谈中'}">
            <p>上访成功，洽谈中</p>

                <span></span>
            </li>
            <li  ng-class="{style:item.Status=='洽谈成功'}">
            <p>交易成功</p>

                <span></span>
            </li>
            </ul>
            </div>
            </div>
        </div>   </li>
        <!--<li class="lists">-->
        <!--<div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>-->
        <!--<div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>-->
        <!--</li>-->
        <!--<li class="lists">-->
        <!--<div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>-->
        <!--<div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>-->
        <!--</li>-->
        <!--<li class="lists">-->
        <!--<div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>-->
        <!--<div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>-->
        <!--</li>-->
        <!--<li class="lists">-->
        <!--<div class="intro cf"><span class="fl name"><b>杨婷</b><br/><small>50万-90万，五华区官渡区，三室/四室...</small></span><span class="fr tell">13987112345</span></div>-->
        <!--<div class="last cf">带客进度：&nbsp;<small>5、返款成功</small><a href="#" class="icon fr"></a></div>-->
        <!--</li>-->
    </ul>
    <div ng-click="more()" style="line-height: 50px;background-color:#f0ad4e;text-align: center;font-size: 20px;">{{warm}}</div>
</div>

