body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:550px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:52px;
  width:66px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:30px;
  top:30px;
  width:70px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:110px;
  width:550px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:130px;
  top:142px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:30px;
  top:120px;
  width:70px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:200px;
  width:550px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:232px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:30px;
  top:210px;
  width:70px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:160px;
  top:360px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:330px;
  top:360px;
  width:100px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:635px;
  top:52px;
  width:245px;
  height:258px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:258px;
}
#u23 {
  position:absolute;
  left:2px;
  top:121px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:658px;
  top:140px;
  width:200px;
  height:100px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:658px;
  top:108px;
  width:200px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:660px;
  top:265px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:770px;
  top:265px;
  width:88px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:658px;
  top:76px;
  width:200px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28_input:disabled {
  color:grayText;
}
#u29 {
  position:absolute;
  left:250px;
  top:142px;
  width:295px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29_input:disabled {
  color:grayText;
}
