.content{
    width: 640px;
    text-align: center;
    margin: 0 auto;
}
#account,#info{
       background-color: #c0c0c0;
       width:640px ;
       height: 150px;
}
#accountBalance{
    position: relative;
    background-color: #ffffff;
    top: 30px;
    margin-left: 20px;
    width: 380px;
    height: 100px;
    float: left;
}
#bankCard{
    position: relative;
    float: left;
    background-color: #ffffff;
    top: 30px;
    width: 180px;
    height: 100px;
    left: 20px;
}
button{
    height: 50px;
}