*{
    padding:0;
    margin:0;
    border: none;
    list-style: none;
}
.window{
    width:640px;
    margin:0 auto;
}
.header{
    width: 640px;
    height: 100px;
}
.logo{
    float: left;
}
.content .part{
    width: 640px;
    height: 100px;
    margin: 10px;
    background: #f2f2f2;
}
.content .detail{
    float: left;
    width: 400px;
}