*{
    padding:0;
    margin:0;
    border: none;
    list-style: none;
}
.window{
    width:640px;
    margin:0 auto;
}
.content img{float:left;}
.content div{
    width:640px;
    height: 150px;
}
.foot div{
    width: 200px;
    height: 100px;
    float: left;
}