.content{
    width: 640px;
    margin: 0 auto;
    text-align: center;
}
#title{
    background-color: #c0c0c0;
    width: 640px;
    height: 50px;
}
#list{
    background-color: #c0c0c0;
    width: 640px;
    height: 300px;
    text-align: center;
}
#list ul{
    margin: 0;
    padding: 0;
}
#list ul li{
     list-style: none;
     line-height: 30px;
 }