*{
    padding:0;
    margin:0;
    list-style: none;
    border: none;
}
body{
    font-family: 'microsoft yahei';
    font-size: 16px;
    color:#525252;
    padding:67px 0 110px 0;
}
a {
    text-decoration: none;
}
.clear{
    clear:both;
    height: 0;
    overflow: hidden;
}
.cf:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.window{
    width: 640px;
    margin: 0 auto;
}
.bg{
    background: #ebebeb;
}
.header{
    height: 67px;
    line-height: 67px;
    background:  #fc3b00;
    position:fixed;
    top:0;
    width: 640px;
    z-index: 10;
}
.header a{
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin-left:19px;
    padding-left:19px;
    background: url("../image/myInt/icon1_03.png") no-repeat 0 center;
}
h1{
    font-weight: normal;
    color:#fff;
    margin-left: 270px;
    font-size: 22px;
}
.int{
    background-color: #fff;
    margin-bottom:15px;
}
h3{
    color:#626161;
    font-size:24px;
    padding-top:60px;
    text-align: center;
}
h2{
   padding-top:60px;
   text-align: center;
   color:#fc3b00;
   font-size: 8em;
}
p{
    padding:70px 90px 70px 80px;
    line-height: 25px;
    color: #acacac;
    font-size: 14px;
}
.detail li{
   height: 78px;
   line-height: 78px;
    padding:0 40px 0 35px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    font-size:20px;
}
.detail .icon{

    width: 12px;
    height: 28px;
    display: inline-block;
    background: url("../image/myInt/y.png") no-repeat 0 0;
  margin-top:25px;
}
.btn{
    margin-top:135px;
    text-align: center;
    background-color:#f0f0f0;
    height: 80px;
    line-height: 80px;
}
.btn button{
    background-color: #fc3030;
    width:144px;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    font-size:20px;
}
.foot {
    background: #f13800;
    position:fixed;
    bottom:0;
    width: 640px;
    z-index: 10;
}
.foot span{
    display: inline-block;
    text-align: center;
    width:150px;
    padding:70px 0 17px 0;
    color: #fff;
    font-size: 18px;
}
.act{
    background: url("../image/myInt/活动1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
.house{
    background: url("../image/myInt/房源库1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
.agent{
    background: url("../image/myInt/经纪人专区1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
.personal{
    background: url("../image/myInt/个人中心1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
