*{
    padding: 0;
    margin: 0;
}
body{

    font-family: 'microsoft yahei';
    color: #848484;
    background-color: #eeeeee;
    font-size: 18px;
}
.fl{
    float:left;
}
.window{
    width: 640px;
  margin:0 auto;
    clear: both;
}
.content p{
    margin-left: 30px;
    font-weight:600;
}
.head{
    padding: 16px;
    background-color: #fc3b00;
}
.head p {
    line-height: 20px;
    color: #ffffff;
    text-align: center;
}
.head a{
    color:  #ffffff;
    text-decoration: none;
}
.back{
    float: left;
}
.personall{
    float: right;
}
ul li{
    list-style: none;
}
.partner{
    height: 60px;
    width: 640px;
    color: #848484;
    font-family: "microsoft yahei";
    font-size: 18px;
    line-height: 60px;
    background-color: #ffffff;
    border: hidden;
}
.name{
    float: left;
    margin-left: 45px;
}
.jiantou{
    float: right;
    margin-right: 30px;
}
.p_photo{
    float: left;
    margin-left: 30px;
}
.button_insert{
    height: 75px;
    width: 100%;
    font-family: "microsoft yahei";
    font-size: 18px;
    color: #ff4200;
    background-color: #ffffff;
    border: hidden;
}
.footer{
    position: fixed;
    bottom: 0;
    background: #f13800;
    width: 640px;
}

.footer span{
    display: inline-block;
    text-align: center;
    width:150px;
    padding:70px 0 17px 0;
    color: #fff;
    font-size: 20px;
}
.act{
    background: url("../image/partner/huodong.png") no-repeat center 20px;
    background-size: 40px 40px;
    color: #f9e700;
}
.house{
    background: url("../image/partner/fangyuanku.png") no-repeat center 20px;
    background-size: 40px 40px;
}
.agent{
    background: url("../image/partner/jinjiren.png") no-repeat center 20px;
    background-size: 40px 40px;
}
.personal{
    background: url("../image/partner/gerenzhongxin.png") no-repeat center 20px;
    background-size: 40px 40px;
}

/*�ϻ�������*/
.detail_content{
    margin: 56px 25px 0 30px;
    background-color: white;
    color: black;
}

.partner_mark{
    clear: both;
    margin-top: 80px;
}
.information{
   margin-left: 27px;
    margin-right: 106px;
}
.mark{
    margin-left: 75px;
    margin-right: 260px;
    color: #fc3b00;
}
.information span {
    color: #848484;
}
/*��Ӻϻ���*/
.add_content{
    margin: 20px 55px 0 55px;
}
.add_blank{
    width: 516px;
    height: 46px;
    font-size: 16px;
    font-family: "microsoft yahei";
    border: 1px solid #eeeeee;
}
.add_button{
    width: 516px;
    height: 46px;
    background-color: #fc3b00;
    border: hidden;
    margin: 83px 0 0 0;
    font-size: 20px;
    font-family: "microsoft yahei";
    color: white;
}
.add_content span{
    font-size: 14px;
    color: #fc3b00;
}

