*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "microsoft yahei";
    font-size: 18px;
    background-color: #eeeeee;
    color: #848484;
}
.window{
    width: 640px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.head{
    padding: 16px;
    background-color: #fc3b00;
}
.head p {
    line-height: 32px;
    color: #ffffff;
    text-align: center;
}
.back{
    float: left;
}
.personall{
    float: right;
}
ul li {
    width: 100%;
    background-color: #ffffff;

}
ul{
    list-style: none;
}
ul li button{
    width: 640px;
    background-color: #ffffff;
    border: none;
    font-family: "microsoft yahei";
    font-size: 20px;
    color: #626161;
    height: 80px;
    line-height: 80px;
}
.fl{
    float: left;
}
.name{
    margin-left: 34px;
}
.set{
    margin-left: 365px;
    margin-right: 60px;
    color: #aeacac;
    font-size: 16px;
}
.footer{
    position: fixed;
    bottom: 0;
    background: #f13800;
    width: 640px;
}

.footer span{
    display: inline-block;
    text-align: center;
    width:150px;
    padding:60px 0 17px 0;
    color: #fff;
}
.act{
    background: url("../image/partner/huodong.png") no-repeat center 20px;
    color: #f9e700;
}
.house{
    background: url("../image/partner/fangyuanku.png") no-repeat center 20px;
}
.agent{
    background: url("../image/partner/jinjiren.png") no-repeat center 20px;
}
.personal{
    background: url("../image/partner/gerenzhongxin.png") no-repeat center 20px;
}
/*安全设置*/
.security_content{
    margin: 20px 55px 0 55px;
    color: #848484;
    clear: both;
}
form a{
    color: #848484;
}
.password{
    width: 516px;
    height: 46px;
    font-size: 16px;
    font-family: "microsoft yahei";
    border: 1px solid #eeeeee;
}
.old{
    margin-bottom: 20px;
}
.save_button{
    width: 516px;
    height: 46px;
    background-color: #fc3b00;
    border: hidden;
    margin: 83px 0 0 0;
    font-size: 20px;
    font-family: "microsoft yahei";
    color: white;
}
.found{
  float: right;
    margin-right: 10px;
}
/*个人设置*/
.person_revise{
    margin: 20px 55px 0 55px;
    color: #848484;
}
.headphoto{
    text-align: center;
    margin-top: 30px;
}
.headphoto a{
    color: #848484;
    text-decoration: none;
}
.touxiang{
    margin-left: 250px;
    margin-right: 250px;
    width: 128px;
    height: 128px;
    background: url("../image/partner/touxiang.png") no-repeat center center;
    background-color: #ffffff;
}