*{
    padding:0;
    margin:0;
    border: none;
    list-style: none;
}
.window{
    width:640px;
    margin:0 auto;
}
.window div{
    width: 640px;
    height: 100px;
    text-align: center;
    background: #f2f2f2;
    margin:10px;
}