*{
    padding:0;
    margin:0;
    border: none;
    list-style: none;
}
.window{
    width:640px;
    margin:0 auto;
}
.header{
    width: 100%;
    height: 150px;
    background: #f2f2f2;
    text-align: center;
}
.detail{
    margin-top:10px;
    width: 100%;
    height: 500px;
}
.detail li{
    height: 100px;
    background: #f2f2f2;
    margin-top:20px;
}
.detail li img{
    float: left;
}
.detail .introduce{
    text-align: center;
}
.member{
    text-align: center;
    background: #f2f2f2;
    width: 100%;
    height: 100px;
}