*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
body{
    font-family:'Microsoft YaHei';
}
.box{
    width: 100%;
    height: 160px;
}
div > img{
    display: block;
    width: 100%;
    height: 100%;
}
