<div class="content-withdraralsDetail">
    <div class="Submitted">
        <div><img src="modules/withdrawalsDetail/static/image/withdrawalsDetail/ptx.png" width="120" height="120" alt=""/></div>
        <div class="submitted">体现申请已提交</div>
        <div class="Arrival">预计到账时间：2015-06-07&nbsp;12:00</div>

    </div>
    <div class="card-money">
        <div>储蓄卡<small class="fr">中国人民银行&nbsp;尾号1717</small></div>
        <div>体现金额<small class="fr">￥666.66</small></div>
    </div>
    <div class="Finish"><button>完&nbsp;成</button></div>
</div>