<div>
    <ul>
        <li>订单</li>
        <li>账单</li>
    </ul>
    <form>
        <p><input type="text"/><label for="radio1">经纪人：</label><input type="radio" id="radio1"/><label for="radio2">商家：</label><input type="radio" id="radio2"/><input type="button" value="检索"/></p>
    </form>
    <ul>
        <li><span>1236542255</span><span>￥5452</span><span>2015.5.12</span><span><button>审核</button></span></li>
        <li><span>1236542255</span><span>￥5452</span><span>2015.5.12</span><span><button>审核</button></span></li>
        <li><span>1236542255</span><span>￥5452</span><span>2015.5.12</span><span><button>审核</button></span></li>
    </ul>
</div>