<script type="text/javascript" charset="utf-8" src="../libs/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../libs/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="../libs/ueditor/lang/zh-cn/zh-cn.js"></script>

<form name="form" id="form" ng-controller="ContentCreateController" ng-submit="Create()">
    <div class="panel panel-default">

        <div class="panel-body revise">
            <div class="bottom" ><label for="Title">标题： </label> <input id="Title" name="Title" type="text" ng-model="ContentModel.Title" required>
                <span ng-show="form.Title.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
            </div>
            <div class="bottom" ><label for="Content">内容： </label>
                <textarea class="ueditor"  name="Content" id="Content" cols="42" rows="10" ng-model="ContentModel.Content" style="height: 400px" required></textarea>
                <span ng-show="form.Content.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                </div>
            <!--<div class="bottom" ><label for="Status">状态： </label>-->
                <!--<select name="Status" id="Status" ng-model-options="ContentModel.Status">-->
                    <!--<option value="1">发布</option>-->
                    <!--<option value="2">删除</option>-->
                <!--</select>-->
            <!--</div>-->

            <div class="bottom" ><label for="Channel">频道： </label>
                <select name="Channel" id="Channel" ng-model="ContentModel.ChannelId" ng-options="list.Id as list.Name for list in ChannelList"></select>
            </div>
        </div>
            <div id="Message"><span style="font-size:20px;color: #ff0000">{{Message}}</span></div>
            <div>
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green" type="submit" ng-disabled="form.$invalid" aria-disabled="true" disabled="disabled">确认<div class="md-ripple-container"></div></button>
                <a href="#/page/CMS/content/index"><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw pink">取消<div class="md-ripple-container"></div></button></a>
            </div>
        </div>



    </div>

</form>