<script type="text/javascript" charset="utf-8" src="../libs/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../libs/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="../libs/ueditor/lang/zh-cn/zh-cn.js"></script>
<form name="form" id="form" ng-controller="ContentEditController" ng-submit="Save()">
    <div class="panel panel-default">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="panel-body revise">
            <div class="bottom" ><label for="title">标题： </label> <input id="title" type="text" ng-model="ContentModel.Title" required></div>
            <div class="bottom" ><label for="Content">内容： </label>
                <textarea class="ueditor" name="Content" id="Content" cols="42" rows="10" ng-model="ContentModel.Content" style="height: 400px;" required></textarea>
            </div>
            <div class="bottom" ><label for="status">状态： </label>
                <select name="Status" id="Status" ng-model="ContentModel.Status">
                    <option value="2">删除</option>
                    <option value="1">发布</option>
                    <option value="0">新建</option>
                </select>
            </div>
            <div class="bottom" ><label for="ChannelId">频道： </label>
                <!--<select name="ChannelId" id="ChannelId" ng-model="ContentModel.ChannelId">-->
                    <!--<option ng-repeat="list in ChannelList" value="{{list.Id}}" ng-selected="list.Id==ContentModel.ChannelId">{{list.Name}}</option>-->
                <!--</select>-->
                <select name="ChannelId" id="ChannelId" ng-model="ContentModel.ChannelId" ng-options="list.Id as list.Name for list in ChannelList"></select>
            </div>
            <div><img src="{{titleImg}}" > </div>
            <div>
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green" type="submit" ng-disabled="form.$invalid" aria-disabled="true" disabled="disabled">确认<div class="md-ripple-container"></div></button>
                <a href="#/page/CMS/content/index"><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw pink">取消<div class="md-ripple-container"></div></button></a>
            </div>
        </div>
    </div>
</form>