<form name="form" id="form" ng-controller="ContentEditController" ng-submit="Save()">
    <div class="panel panel-default">
        <div class="panel-body revise">
            <div class="bottom" ><label for="title">标题： </label> <input id="title" type="text" ng-model="ContentModel.Title"></div>
            <div class="bottom" ><label for="Content">内容： </label>
                <textarea name="Content" id="Content" cols="42" rows="10" ng-model="ContentModel.Content"></textarea>
            </div>
            <div class="bottom" ><label for="status">状态： </label>
                <select name="Status" id="Status" ng-model="ContentModel.Status">
                    <option value="Deleted">删除</option>
                    <option value="Published">发布</option>
                </select>
            </div>
            <div class="bottom" ><label for="names">频道： </label>
                <select name="" id="names" ng-model="ContentModel.ChannelId" ng-options="list.Id as list.Name in ChannelList"></select>
            </div>
            <div>
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green" type="submit">确认<div class="md-ripple-container"></div></button>
                <a href="#/page/CMS/content/index"><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw pink">取消<div class="md-ripple-container"></div></button></a>
            </div>
        </div>
    </div>
</form>