 <!--2015-6-12 create by yangbo -->
<div class="add_content" ng-controller="invitecontroller">
    <form>
        <p class="inviteCode"> 邀请码</p>
        <p><input type="tel" class="add_blank"   placeholder="请输入邀请码" ng-model="invitecod" required/></p>

        <p><button class="add_button" ng-click="invite()">下一步</button></p>
        <div>{{errorTip}}</div>
    </form>
    <!--<div class="masked" style="display: none">-->
        <!--<a  href="#" class="request location"><img src="modules/partner_list/static/image/partner/request.png" alt="我的合伙人" width="561" height="719"/></a>-->
    <!--</div>-->
    <!--<div class="masked" style="display: none">-->
        <!--<img class="requestFinish location" src="modules/partner_list/static/image/partner/requestFinish.png" alt="我的合伙人" width="522" height="680"/>-->
        <!--<a href="#" class="requestBack location"><img src="modules/partner_list/static/image/partner/btn.png" alt="返回"/></a>-->
    <!--</div>-->
</div>