<!--中天·水云间-->
<!--required:../static/style/broker.css-->
            <div class="hd cf ">
               <div class="fl img"><a href="#"><img src="../static/image/syj/p.png" alt="中天·水云间"/><div class="summary">总价：110万</div><div class="summaryBg"></div></a></div>
               <div class="detailed fl">
                   <h2>[曲靖市]&nbsp;中天·水云间</h2>
                   <h4>8000元/平</h4>
                   <div class="money"><span><b>500</b><br/><small>带客佣金</small></span><span><b>800</b><br/><small>推荐佣金</small></span><span class="int"><b>10</b><br/><small>积分</small></span></div>
                   <div class="btn"><a href="../../redPaper-1/view/redPaper-1.html"><button>抢红包</button></a>
                       <a href="../../detail/view/detail.html"><button>盘楼详情</button></a></div>
               </div>
            </div>
            <div class="main">
                <ul>
                    <li class="cf">
                        <div class="fl img-p1"><img src="../static/image/syj/p1.png" alt="外景"/></div>
                        <div class="intro fl">
                            <h3><span>楼盘户型</span><span>面积</span><span>总价</span><span>佣金金额</span></h3>
                            <div class="sty"><span class="pf">A2-1<br/> 4房2厅3室</span><span class="mj">147.0m²</span><span>111.76万</span><span class="price">10000元</span></div>
                        </div>
                        <div class="fl btn-1"><p><a href="../../takeOff/view/takeOff.html"> <button>我要带客</button></a></p><p><a
                                href="../../recommend/view/recommend.html"><button>我要推荐</button></a></p></div>
                    </li>
                    <li class="cf">
                        <div class="fl img-p1"><img src="../static/image/syj/p2.png" alt="外景"/></div>
                        <div class="intro fl">
                            <h3><span>楼盘户型</span><span>面积</span><span>总价</span><span>佣金金额</span></h3>
                            <div class="sty"><span class="pf">A2-1<br/> 4房2厅3室</span><span class="mj">147.0m²</span><span>111.76万</span><span class="price">10000元</span></div>
                        </div>
                        <div class="fl btn-1"><p><a href="../../takeOff/view/takeOff.html"> <button>我要带客</button></a></p><p><a
                                href="../../recommend/view/recommend.html"><button>我要推荐</button></a></p></div>
                    </li>
                    <li class="cf">
                        <div class="fl img-p1"><img src="../static/image/syj/p3.png" alt="外景"/></div>
                        <div class="intro fl">
                            <h3><span>楼盘户型</span><span>面积</span><span>总价</span><span>佣金金额</span></h3>
                            <div class="sty"><span class="pf">A2-1<br/> 4房2厅3室</span><span class="mj">147.0m²</span><span>111.76万</span><span class="price">10000元</span></div>
                        </div>
                        <div class="fl btn-1"><p><a href="../../takeOff/view/takeOff.html"> <button>我要带客</button></a></p><p><a
                                href="../../recommend/view/recommend.html"><button>我要推荐</button></a></p></div>
                    </li>
                    <li class="cf">
                        <div class="fl img-p1"><img src="../static/image/syj/p4.png" alt="外景"/></div>
                        <div class="intro fl">
                            <h3><span>楼盘户型</span><span>面积</span><span>总价</span><span>佣金金额</span></h3>
                            <div class="sty"><span class="pf">A2-1<br/> 4房2厅3室</span><span class="mj">147.0m²</span><span>111.76万</span><span class="price">10000元</span></div>
                        </div>
                        <div class="fl btn-1"><p><a href="../../takeOff/view/takeOff.html"> <button>我要带客</button></a></p><p><a
                                href="../../recommend/view/recommend.html"><button>我要推荐</button></a></p></div>
                    </li>


                </ul>
            </div>
