
    <div class="panel panel-card ng-scope">

        <table class="table">
            <tbody>
            <tr>
                <td>经纪人名：{{ARDetialModel.Brokername}}</td>
                <td>等级：{{ARDetialModel.Brokerlevel}}</td>

            </tr>
            <tr>
                <td>昵称：{{ARDetialModel.Nickname}}</td>
                <td>电话：{{ARDetialModel.Phone}}</td>

            </tr>
            <tr>
                <td>性别：{{ARDetialModel.Sexy}}</td>
                <td>注册时间：{{ARDetialModel.RegTime}}</td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-card ng-scope">

        <table class="table">
            <tbody>
            <tr>
                <td>客户姓名：{{ARDetialModel.Clientname}}</td>
                <td>意向户型：{{ARDetialModel.HouseType}}</td>

            </tr>
            <tr>
                <td>电话：{{ARDetialModel.Phone}}</td>
                <td>备注信息：{{ARDetialModel.Note}}</td>

            </tr>
            <tr>
                <td>楼盘信息：{{ARDetialModel.Houses}}</td>
                <td></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-card ng-scope">

        <table class="table">
            <tbody>
            <tr>
                <td>项目名称：</td>
                <td>所属行业：</td>

            </tr>

            </tbody>
        </table>
    </div>
    <div class="panel panel-card ng-scope">
        <form name="form" id="form" >
            <div class="panel panel-default">

                <div class="panel-body revise">
                    <div class="bottom" ><label for="name">选择带客人员： </label>
                        <select name="" id="WaiterId">
                            <option  ng-repeat="item in WaiterList" value="{{item.Id}}">{{item.Brokername}}</option>

                        </select></div>
                    <div class="bottom" ><label for="names">选择驻场秘书： </label>
                        <select name="" id="SecretaryId" >
                            <option  ng-repeat="item2 in SecretaryList" value="{{item2.Id}}">{{item2.Brokername}}</option>

                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="text-align: center;">
         <button type="submit" md-ink-ripple="" class="md-btn md-raised m-b btn-fw green" ng-click="passAudit1('等待上访')">审核通过<div class="md-ripple-container"></div></button>
         <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw pink" ng-click="passAudit1('审核不通过')">拒绝<div class="md-ripple-container"></div></button>
         <!--<button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">返回<div class="md-ripple-container"></div></button>-->

    </div>
