<div class="register_content">
    <form class="form_register" ng-controller="registerController">
        <p class="register_tip">
            用户名
        </p>
        <p class="register_input">
            <span><img src="modules/Register/static/image/register/user.png" class="registerImg"></span>
            <input type="text"  class="register_blank" placeholder="Username" name="register_blank" id="username"  ng-model="register.Brokername" required/>
        </p>
        <p class="register_tip">
            密码
        </p>
        <p class="register_input">
            <span><img src="modules/Register/static/image/register/pass.png" class="registerImg"></span>
            <input type="password" class="register_blank" placeholder="Password" name="register_blank" id="userPassword"  ng-model="register.Password" required/>
        </p>
        <p class="register_tip">
            手机号码
        </p>
        <p class="register_input">
            <span><img src="modules/Register/static/image/register/phone.png" class="registerImg"></span>
            <input type="tel" class="register_blank" placeholder="Telephone" name="register_blank" id="phoneNumber"  ng-model="register.Phone" required/>
        </p>
        <p class="register_tip">
            验证码
        </p>
        <p class="PinBlank">
            <input type="text"  class="PinInput"  name="Pin_input"/>
            <button ng-click="pinGet()">发送验证码</button>
        </p>
        <p class="register_error">
        </p>
        <button class="register_button" ng-click="registerSubmit()" >注 册</button>
        <p class="LoginExit">
            已有账号？点此<span><a href="#/user/login">登录</a> </span>
        </p>
    </form>
    <div class="masked">
        <img class="finish" src="modules/NoviceTask-loginEnd/static/image/finish.png" alt="完成了注册任务"/>
        <a class="back" href="#"><img src="modules/NoviceTask-loginEnd/static/image/back.png" alt="返回"/></a>
    </div>
</div>
