
.fl{
    float:left;
}
.content p{
    margin-left: 30px;
    font-weight:600;
}
ul li{
    list-style: none;
}
.partner{
    height: 60px;
    width: 640px;
    color: #848484;
    font-family: "microsoft yahei";
    font-size: 18px;
    line-height: 60px;
    background-color: #ffffff;
    border: hidden;
}
.name{
    float: left;
    margin-left: 45px;
}
.jiantou{
    float: right;
    margin-right: 30px;
}
.p_photo{
    float: left;
    margin-left: 30px;
}
.button_insert{
    height: 75px;
    width: 100%;
    font-family: "microsoft yahei";
    font-size: 18px;
    color: #ff4200;
    background-color: #ffffff;
    border: hidden;
}
/*合伙人详情*/
.detail_content{
    margin: 56px 25px 0 30px;
    background-color: white;
    color: black;
}

.partner_mark{
    clear: both;
    margin-top: 80px;
}
.information{
   margin-left: 27px;
    margin-right: 106px;
}
.mark{
    margin-left: 75px;
    margin-right: 260px;
    color: #fc3b00;
}
.information span {
    color: #848484;
}
/*添加合伙人*/
.add_content{
    margin: 20px 55px 0 20px;
}
.add_blank{
    width: 516px;
    height: 46px;
    font-size: 16px;
    font-family: "microsoft yahei";
    border: 1px solid #eeeeee;
}
.add_button{
    width: 516px;
    height: 46px;
    background-color: #fc3b00;
    border: hidden;
    margin: 83px 0 0 0;
    font-size: 20px;
    font-family: "microsoft yahei";
    color: white;
}
.tips{
    font-size: 16px;
    color: #fc3b00;
}

