<form action="#">
    <input type="text">
</form>
<div class="list">
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <p><span>昵称</span><span>姓名</span><span>手机号</span></p>
                <p><span>身份证</span><span>余额</span><span>等级</span></p>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <p><span>昵称</span><span>姓名</span><span>手机号</span></p>
                <p><span>身份证</span><span>余额</span><span>等级</span></p>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
    <div class="clear">
        <div class="left">
            <div class="img"></div>
            <div class="informations">
                <p><span>昵称</span><span>姓名</span><span>手机号</span></p>
                <p><span>身份证</span><span>余额</span><span>等级</span></p>
            </div>
        </div>
        <div class="content">
            <div><span>注册时间</span><button>详情</button><button>删除</button><button>注销</button></div>
        </div>
    </div>
</div>
<div class="page">分页</div>
