<div class="row">
    <input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
    <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
</div>
<div class="md-list md-whiteframe-z0 bg-white m-b">
    <div class="clear">
        <ul class="header">
            <li>基本信息</li>
            <li>注册时间</li>
            <li>操作</li>
        </ul>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a0.jpg" class="w-full circle">

        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a1.jpg" class="w-full circle">
        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a2.jpg" class="w-full circle">
        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a3.jpg" class="w-full circle">
        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a4.jpg" class="w-full circle">
        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a5.jpg" class="w-full circle">
        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a6.jpg" class="w-full circle">
        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-list-item">
        <div class="md-list-item-left">
            <img src="images/a7.jpg" class="w-full circle">
        </div>
        <div class="md-list-item-content">
            <ul class="content">
                <li>
                    <div><span>昵称：<small class="small">都市角落</small></span><span>姓名：<small>杨庭</small></span><span>手机:<small>15667202214</small></span></div>
                    <div><span>身份证：<small>530129197006040051</small></span><span>余额：<small>￥900.00</small></span><span>等级：<small>白银</small></span></div>
                </li>

                <li class="time"><time>2015年4月30日</time></li>
                <li><ul class="left">
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">详情</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw yellow">删除</button></li>
                    <li><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">注销</button></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div colspan="5" class="text-center footable-visible">
        <ul class="pagination">
            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
            <li class="footable-page"><a data-page="1" href="#">2</a></li>
            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
        </ul>
    </div>
</div>

