<div class="message">
    <ul>
        <li class="brand" ng-repeat="item in BrandList">
            <!--<a href="#/app/housesBuy?BrandId={{item.Id}}">-->
            <a href="#/app/BrandDetail?brandId={{item.Id}}">
                <img src="{{imgUrl+item.Bimg}}@640w_160h_70Q" alt="中天·水云间" width="620" height="160"/>
                <!--<div class="summary"><span>{{ item.Bname }}</span><span>{{item.Adduser}}</span><span>总价：110万</span></div>-->
                <div class="summary">
                    <span>[{{ item.ProductParamater["所属城市"] }}]</span><span>{{item.Bname}}</span></span><span>{{item.ProductParamater["占地面积"] }}</span>
                </div>
                <div class="summaryBg"></div>
                <!--<div class="depreciate"><span>每平米直降</span><br/><b>5000元</b><br/><span>1万还可抵3万</span><br/><span>3万抵15万</span></div>-->
                <div class="depreciate">
                    <p ng-bind-html="item.AdTitle|adtitle"></p>
                </div>
                <div class="depreciateBg"></div>
            </a>
            <h3>{{item.SubTitle}}</h3>
            <!--<div class="nav" >-->
                <!--<span class="orange ng-re" ng-repeat="item1 in item.ProductPramater"><a href="#"> {{item1.Parametername}}:{{item1.Parametervaule}}</a></span>-->
            <!--</div>-->
            <div class="nav" >
                <span class="orange">
                    <a href="">
                        来电咨询:{{item.ProductParamater["来电咨询"]}}
                    </a>
                </span>
                <span class="brokerage">
                    <a href="#">最高享用优惠：{{item.ProductParamater["最高优惠"]}}元/套</a>
                </span>
            </div>
        </li>
    </ul>
    <div style="text-align: center"><span>{{tipp}}</span></div>
</div>
