<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>个人中心</title>
    <link href="../static/style/personal.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="hd">
            <div class="header">
                <div class="logo fl"><a href="#">创富宝</a> </div>
                <div class="search fr">
                    <label for="houses">456</label><input name="" id="houses" type="text"  value="搜索楼盘"/>
                    <button>搜索</button>
                </div>
            </div>
            <div class="main cf">
               <a class="fl img" href="#"><img src="../static/image/personal/t.png" alt=" 头像"/></a>
                <div class="detail fl">
                    <h1>老雷斯 <span>铜牌</span><small>总排名：1922</small></h1>
                    <h4><a href="partner_list.html">合伙人：</a>&nbsp;3&nbsp;/&nbsp;<a href="#">推荐:</a>&nbsp;18&nbsp;/&nbsp;<a
                            href="customerList.html">客户：</a>22</h4>
                    <h3>总佣金：&nbsp;6280.00</h3>
                    <p><a href="myPurse.html"><button>提取佣金</button></a></p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="task">
                <h2>今日任务（2）</h2>
                <ul>
                    <li class="cf">
                        <p class="fl">1/推荐一个朋友成为经济人<br/><span>获得佣金：20.00元&nbsp;/&nbsp;积分：90分</span></p>
                        <button class="fr">去完成</button>

                    </li>
                    <li class="cf">
                       <p class="fl">2/带客上访一次<br/><span>获得佣金：100.00元&nbsp;/&nbsp;积分：300分</p></span>
                        <button class="fr">去完成</button>
                    </li>
                </ul>
            </div>
            <div class="activity">
                <ul class="cf">
                    <li class="one"> <a href="takeOff.html"><img src="../static/image/personal/p1.png" alt="" height="58" /><br/>我要带客</a></li>
                    <li class="two"> <a href="recommend.html"><img src="../static/image/personal/p2.png" alt="" height="58" /><br/>我要推荐</a></li>
                    <li class="three"> <a href="partner_details.html"><img src="../static/image/personal/p3.png" alt=""height="58" /><br/>我的合伙人</a></li>
                    <li class="four"> <a href="#"><img src="../static/image/personal/p4.png" alt="" height="58" /><br/>推荐经纪人</a></li>
                    <li class="five"> <a href="#"><img src="../static/image/personal/p5.png" alt="" height="58" /><br/>经纪人排行</a></li>
                    <li class="six"> <a href="setting.html"><img src="../static/image/personal/p6.png" alt="" height="58" /><br/>设置</a></li>
                </ul>
            </div>
        </div>
        <div class="foot">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>

</body>
</html>