<!--个人中心-->
<!--required:../static/style/personal.css-->
            <div class="main-personal cf">
               <a class="fl img" href="#"><img src="modules/personal/static/image/personal/t.png" alt=" 头像" width="174" height="174"/></a>
                <div class="detail fl">
                    <p class="pm">老雷斯 <span>铜牌</span><small>总排名：1922</small></p>
                    <p class="number"><a href="#/app/partner_list">合伙人：</a>&nbsp;3&nbsp;/&nbsp;<a href="#">推荐:</a>&nbsp;18&nbsp;/&nbsp;<a
                            href="#/app/customerList">客户：</a>22</p>
                    <p class="sum">总佣金：&nbsp;6280.00</p>
                    <p><a href="#/app/myPurse"><button>提取佣金</button></a></p>
                </div>
            </div>
            <div class="task-personal" ng-controller="taskController">
                <div class="todayTask">今日任务({{ttcount}})</div>
                <ul  ng-repeat="item in posts">
                    <li class="cf">
                        <p class="fl">{{item.Taskname}}<br/><span>{{item.awardname}}：{{item.awardvalue}}</span></p>
                        <button ng-click="addTaskList(item.Id)" class="fr">去完成</button>
                    </li>
                    <!--<li class="cf">-->
                       <!--<p class="fl">2/带客上访一次<br/><span>获得佣金：100.00元&nbsp;/&nbsp;积分：300分</span></p>-->
                        <!--<button class="fr">去完成</button>-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="activity-personal">
                <ul class="cf">
                    <li class="one"> <a href="#/app/takeOff"><img src="modules/personal/static/image/personal/p1.png" alt="" width="49" height="58" /><br/>我要带客</a></li>
                    <li class="two"> <a href="#/app/recommend"><img src="modules/personal/static/image/personal/p2.png" alt="" width="49" height="58" /><br/>我要推荐</a></li>
                    <li class="three"> <a href="#/app/partner_list"><img src="modules/personal/static/image/personal/p3.png" alt="" width="49" height="58" /><br/>我的合伙人</a></li>
                    <li class="four"> <a href="#/app/recommendedBroker"><img src="modules/personal/static/image/personal/p4.png" alt="" width="49" height="58" /><br/>推荐经纪人</a></li>
                    <li class="five"> <a href="#/app/hero"><img src="modules/personal/static/image/personal/p5.png" alt="" width="49" height="58" /><br/>经纪人排行</a></li>
                    <li class="six"> <a href="#/app/setting"><img src="modules/personal/static/image/personal/p6.png" alt="" width="49" height="58" /><br/>设置</a></li>
                </ul>
            </div>