
@{
    ViewBag.Title = "coupons";
}
<link href="~/Controllers/Coupons/Static/style/Coupons.css" rel="stylesheet" />
<link href="~/Controllers/Coupons/Static/style/common.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="Coupons-content">
    <div class="saveMoney">距离本场结束：&nbsp;03:47:32</div>
    <div class="couponsList">
        <ul>
            <li class="distance">
                <img src="~/Controllers/Coupons/Static/image/Coupons/1.png" width="630" height="222" alt="抢起来" />
                <div class="lpIntro">
                    <span>均价7000元/m²起；78-345m²</span>
                    <p>一环边，地铁旁，昆一中学区房，家乐福，购物<br />广场，延安医院已入住。</p>
                    <a href="#">了解楼盘详情&nbsp;&nbsp;&gt</a>
                </div>
                <div class="juan">10000元券</div>
                <div class="specialUse">购万科&nbsp;·&nbsp;金域缇香专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <small>还剩1张劵</small>
            </li>
            <li class="distance">
                <img src="~/Controllers/Coupons/Static/image/Coupons/1.png" width="630" height="222" alt="抢起来" />
                <div class="lpIntro">
                    <span>均价7000元/m²起；78-345m²</span>
                    <p>一环边，地铁旁，昆一中学区房，家乐福，购物<br />广场，延安医院已入住。</p>
                    <a href="#">了解楼盘详情&nbsp;&nbsp;&gt</a>
                </div>
                <div class="juan">7700元券</div>
                <div class="specialUse">购中天城&nbsp;·&nbsp;开阔专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <small>还剩6张劵</small>
            </li>
            <li>
                <img src="~/Controllers/Coupons/Static/image/Coupons/1.png" width="630" height="222" alt="抢起来" />
                <div class="lpIntro">
                    <span>均价7000元/m²起；78-345m²</span>
                    <p>一环边，地铁旁，昆一中学区房，家乐福，购物<br />广场，延安医院已入住。</p>
                    <a href="#">了解楼盘详情&nbsp;&nbsp;&gt</a>
                </div>
                <div class="juan">5000元券</div>
                <div class="specialUse">购俊发&nbsp;·&nbsp;金尚俊园专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <small>还剩11张劵</small>
            </li>
        </ul>
    </div>
    @*<div class="fullName">全民惠</div>
    <div class="resources">
        <ul class="cf">
            <li class="fl distance">
                <img src="~/Controllers/Coupons/Static/image/Coupons/2-1.png" width="294" height="234" alt="" />
                <div class="juan">700元劵</div>
                <div class="specialUse">购俊发&nbsp;·&nbsp;金尚俊园专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <a href="#" class="know">了解楼盘详情&nbsp;&nbsp;&gt</a>
            </li>
            <li class="fl">
                <img src="~/Controllers/Coupons/Static/image/Coupons/2-1.png" width="294" height="234" alt="" />
                <div class="juan">700元劵</div>
                <div class="specialUse">购俊发&nbsp;·&nbsp;金尚俊园专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <a href="#" class="know">了解楼盘详情&nbsp;&nbsp;&gt</a>
            </li>
        </ul>
        <ul class="cf">
            <li class="fl distance">
                <img src="~/Controllers/Coupons/Static/image/Coupons/2-2.png" width="294" height="234" alt="" />
                <div class="juan">700元劵</div>
                <div class="specialUse">购俊发&nbsp;·&nbsp;金尚俊园专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <a href="#" class="know">了解楼盘详情&nbsp;&nbsp;&gt</a>
            </li>
            <li class="fl">
                <img src="~/Controllers/Coupons/Static/image/Coupons/2-2.png" width="294" height="234" alt="" />
                <div class="juan">700元劵</div>
                <div class="specialUse">购俊发&nbsp;·&nbsp;金尚俊园专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <a href="#" class="know">了解楼盘详情&nbsp;&nbsp;&gt</a>
            </li>
        </ul>
        <ul class="cf">
            <li class="fl distance">
                <img src="~/Controllers/Coupons/Static/image/Coupons/2-3.png" width="294" height="234" alt="" />
                <div class="juan">700元劵</div>
                <div class="specialUse">购俊发&nbsp;·&nbsp;金尚俊园专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <a href="#" class="know">了解楼盘详情&nbsp;&nbsp;&gt</a>
            </li>
            <li class="fl">
                <img src="~/Controllers/Coupons/Static/image/Coupons/2-3.png" width="294" height="234" alt="" />
                <div class="juan">700元劵</div>
                <div class="specialUse">购俊发&nbsp;·&nbsp;金尚俊园专用</div>
                <a href="#/app/CouponsOwn"><button>抢起来</button></a>
                <a href="#" class="know">了解楼盘详情&nbsp;&nbsp;&gt</a>
            </li>
        </ul>
    </div>*@
</div>

