<!--用户信息-->
<!--required:../static/style/personalPage.css-->
            <div class="intro-personalPage">
                <ul>
                    <li class="cf"><span class="fl">昵称</span><small class="fr">婷婷</small></li>
                    <li class="cf"><span class="fl">真实姓名</span><small class="fr">杨婷</small></li>
                    <li class="cf"><span class="fl">性别</span><small class="fr">女</small></li>
                    <li class="cf"><span class="fl">绑定手机</span><small class="fr">137****7690</small></li>
                    <li class="cf"><span class="fl">QQ</span><small class="fr">123456789</small></li>

                </ul>
            </div>
            <div class="int-personalPage">
                <ul class="">
                    <li class="cf"><span class="fl">积分总额</span><small class="fr">566</small></li>
                    <li class="cf"><span class="fl">账户余额</span><small class="fr">￥888</small></li>
                </ul>
            </div>

