<!--合伙人详情-->
<!--required：../static/style/partner.css-->
<div class="addPartners">
    <p><a href="#/app/partner_insert">添加合伙人</a></p>
</div>

    <div class="detail_content">
    <div class="detail_content" ng-controller="partnerDetailedController">
            <div class="partner_face fl">
                <a href="#" class="fl"><img ng-src=""></a>
                <div class="partner_information fl" ng-repeat="item in list">
                <p>
                  姓名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{item.Brokername}}</span>
                </p>
                <p>
                    电话：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{item.Phone}}</span>
                </p>

                <p>
                    注册日期：<span>{{item.Regtime}}</span>
                </p>
            </div>
                </div>
            <div class="partner_grade fr">
                <img src="modules/partner_list/static/image/partner/grade.png">
            </div>
        </div>




