<!--合伙人详情-->
<!--required：../static/style/partner.css-->

    <div class="detail_content">
            <div class="partner_face fl">
                <a href="#"><img src="modules/partner_list/static/image/partner/face.png"></a>
            </div>
            <div class="information fl">
                <p>
                  姓名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>杨婷</span>
                </p>
                <p>
                    电话：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>13629609670</span>
                </p>
                <p>
                   职业：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>自由职业</span>
                </p>
                <p>
                    注册日期：<span>2015-4-30</span>
                </p>
            </div>
            <div class="partner_grade fl">
                <img src="modules/partner_list/static/image/partner/grade.png">
            </div>
        </div>
        <div class="partner_mark fl">
            <p>
                <span class="devotevalue">贡献值</span>
                <span class="mark">800</span>
                <span class="means">如何提高贡献值？</span>
            </p>
        </div>

