<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>专题活动</title>
    <link href="../static/style/activity.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="header">
            <a class="fl" href="#">返回</a>
            <h1>专题活动</h1>
        </div>
        <div class="content">
            <ul>
                <li class="cf">
                    <a href="#"><img class="fl" src="../static/image/activity/p1.png" alt="大神教你赚钱"/></a>
                    <div>
                    <h2>其实赚钱跟做其他事情一样，需要你做一些比较细致的分解。</h2>
                    <p>1、分解：假如你要年入百万，那么就是月入8万左右，日入3000，看到了吧，是日入3000，百万是一个可以说是天文数字，但分解到日，其实也就3000。</p>
                    <p>2、找到一个路子，这个路子一般就是生意，因为对很多人来讲确实是小本的(笔者本都没有)</p>
                    </div>
                </li>
                <li class="cf">
                    <a href="#"><img class="fl" src="../static/image/activity/p2.png" alt="大神教你赚钱"/></a>
                    <div>
                        <h2>9个另类赚钱的经典案例，赚钱之路有千万条</h2>
                        <p>9个另类赚钱的经典案例，赚钱之路有千万条</p>
                        <p>1、送2/3地皮给整府的精明商人<br/>美国某城30英里以外的山坡上有一块不毛之地，地皮的主人见地皮搁在那里没用，就把它以极低的价格出售。主人灵机一动，跑到当地政府部门说：我有一</p>
                    </div>
                </li>
                <li class="cf">
                    <a href="#"><img class="fl" src="../static/image/activity/p3.png" alt="大神教你赚钱"/></a>
                    <div>
                        <h2>教你如何赚钱-白手起家项目</h2>
                        <p>1、不花一分钱，复制别人的项目赚钱<br/>有一个河南的小伙，在一家超市门口看见别人搭上了个简易台子在卖集团手机充值卡，这种卡就是买100.</p>

                    </div>
                </li>
                <li class="cf">
                    <a href="#"><img class="fl" src="../static/image/activity/p4.png" alt="大神教你赚钱"/></a>
                    <div>
                        <h2>什么方法赚钱最快</h2>
                        <p>现实生活中，大多数的人都是员工，每个月固定工资，虽然解决了温饱问题，但永远不能达到快速致富！对于什么地方赚钱最快，当然要属自己创业了发财了！下面就给创业者六个快速赚钱好经验...</p>

                    </div>
                </li>
            </ul>
        </div>
        <div class="footer">
            <a href="../../../index.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
    </div>
</div>
</body>
</html>