<!--添加银行卡-->
<div class="credit_add" ng-controller="bankAddController">
    <form>
        <p class="">
            卡类型
        </p>
        <p>
<br>
           <strong> 储蓄卡</strong>
        </p>
        <p class="card_choice">
            卡号
        </p>
        <p><input type="" class="card_information" ng-model="bankcard.Num" placeholder="请填写银行卡号"/><br/></p>
        <p class="card_choice">
            开户银行
        </p>
        <select class="card_information" placeholder="请选择开户行" ng-model="bankcard.bankid"  ng-options="item.Id as item.Codeid for item in BankList"></select>

        <p class="card_choice">
            持卡人
        </p>
        <p> <input type="" class="card_information" placeholder="请填写持卡人姓名"/><br/></p>

        <p class="card_choice">
           开户银行地址
        </p>
        <p> <input type="" class="card_information" placeholder="请填写详细开户银行地址"/><br/></p>

        <p class="card_choice">
            验证码
        </p>
        <p> <input type="" class="card_tel" placeholder="请填写验证码"/><button class="bank_button">获取验证码</button></p>

        <button class="add_confirm">确定</button>

    </form>
</div>