
.groom .client_information{
    width: 515px;
    height: 48px;
    font-family: "microsoft yahei";
    font-size: 16px;
}
.groom .client_choice{
    margin-top: 26px;
}
.groom{
    padding: 30px 58px 310px 58px;
    background-color: #eeeeee;
}
.groom button{
    width: 515px;
    height: 48px;
    background-color: #fc3b00;
    font-size: 24px;
    color: #fefefe;
    font-family: "microsoft yahei";
    margin-top: 78px;
}
/* 遮罩 */
.masked .fillIn{
    top: 6%;
    left: 5%;
}
.masked .wantTake{
    top:5%;
    left: 15%;
}
.masked .upWardTake{
    bottom:9%;
    left: 40%;
}
.masked .takeFinish{
    top:10%;
    left: 10%;
}
.masked .takeBack{
    bottom:5%;
    left:35%;
}
