<!--安全设置-->
<!--required:../static/style/setting.css" rel="stylesheet-->
        <div class="security_content" ng-controller="SecuritySettingController">
            <form name="security_form">
                <p><span>*</span><label>旧密码</label></p>
                <p><input type="password" class="form-control" name="oldpassword" placeholder="请输入旧密码" ng-model="password.OldPassword" required/></p>
                <div class="errorTip" ng-show="security_form.oldpassword.$error.required&&security_form.oldpassword.$dirty">请完整填写旧密码</div>
                <div class="form-group">
                    <p><span>*</span><label > 新密码</label></p>
                    <p> <input type="password" id="NewPassword1"  class="form-control" name="newPassword" ng-model="password.Password" ng-maxlength="20" ng-minlength="6" placeholder="请输入密码"  required></p>
                    <div class="errorTip" ng-show="security_form.newPassword.$invalid&&security_form.newPassword.$dirty">请输入6-20位新密码</div>
                </div>
                <div >
                    <p><span>*</span><label>确认密码</label></p>
                    <input type="password" class="form-control" id="NewPassword2" name="confirmPassword" placeholder="请再次输入密码" ng-model="password.SecondPassword" onchange="check()" >
                </div>
                <p class="pin"><input type="text" id="pin_blank" ng-model="password.MobileYzm"  name="YzmPIN" placeholder="请输入验证码" required/>
                <button  ng-click="pwSms()" id="pw_sms">获取验证码</button></p>
                <div class="errorTip" ng-show="security_form.YzmPIN.$error.required&&security_form.YzmPIN.$dirty"></div>
                <input type="hidden" ng-model="password.Hidm">
                <label id="errorTip" class="errorTip"></label>
                <label class="errorTip">{{changeError}}</label>
                <p><button class="save_button" ng-click="saveInfo()" ng-disabled="security_form.$invalid">保存</button></p>
            </form>
        </div>




