<!--设置-->
<!--required:../static/style/setting.css" rel="stylesheet-->

        <div>
            <ul>
                <li>
                    <button name="setting_person" class="set_person">
                        <span class="person">个人资料</span>
                        <span class="setting">设置</span>
                        <span class="jiantou"><img src="modules/security_setting/static/image/jiantou.png"></span>
                    </button>
                </li>
                <li>
                    <button name="setting_person" class="set_person">
                        <span class="person">安全设置</span>
                        <span class="setting">设置</span>
                        <span class="jiantou"><img src="modules/security_setting/static/image/jiantou.png"></span>
                    </button>
                </li>
            </ul>
        </div>