<!--设置-->
<!--required:../static/style/person_setting.css" rel="stylesheet-->

        <div class="content setting">
            <ul>
                <li>
                   <a href="person_setting.html"> <button name="setting_person" class="partner">
                        <span class="name fl">个人资料</span>
                        <span class="set fl ">设置</span>
                        <span class="jiantou fl"><img src="../static/image/partner/jiantou.png"></span>
                    </button></a>
                </li>
                <li>
                    <a href="security_setting.html"> <button name="setting_person" class="partner">
                        <span class="name fl">安全设置</span>
                        <span class="set fl ">设置</span>
                        <span class="jiantou fl"><img src="../static/image/partner/jiantou.png"></span>
                    </button></a>
                </li>
            </ul>
        </div>