<!--设置-->
<!--required:../static/style/setting.css" rel="stylesheet-->

        <div class="setting_person">
            <ul>
                <li>
                    <a href="#/app/person_setting"><button name="setting_person" class="set_person">
                        <span class="person">个人资料</span>
                        <span class="setting">设置</span>
                        <span class="jiantou"><img src="modules/security_setting/static/image/jiantou.png"></span>
                    </button></a>
                </li>
                <li>
                    <a href="#/app/security_setting"><button name="setting_person" class="set_person">
                        <span class="person">安全设置</span>
                        <span class="setting">设置</span>
                        <span class="jiantou"><img src="modules/security_setting/static/image/jiantou.png"></span>
                    </button></a>
                </li>
            </ul>
        </div>