<!--我的钱包-->
<!--required:../static/style/myPurse.css-->
 <div ng-controller="myPurseController">
<div class="money-myPurse">
    <div class="balance cf"><img class="fl" src="/modules/myPurse/static/image/myPurse/img.png" alt="余额" width="113" height="113"/><span class="fl"><small>可用佣金</small><br/>{{AmountMoney+"元"}}</span></div>
    <p><a href="#/app/presentProcess"><button>提现</button></a></p>
</div>
<div class="bank" >
    <ul >
        <li ng-repeat="item in List">
            <span class="pull-right"  ng-click="DeleteBand(item.Id)"><img src="/modules/myPurse/static/image/myPurse/remove.png" alt="" width="20" height="20"/></span>
            <div class="bankName">{{item.bankName}}</div>
            <div class="card">储蓄卡</div>
            <div class="cardNum">****&nbsp;****&nbsp;****&nbsp;{{item.Num}}</div>

        </li>
    </ul>
    <p ><a href="#/app/credit_add"><img src="/modules/myPurse/static/image/myPurse/add_03.png" alt="增加银行卡"/></a></p>
</div>
 </div>

