<!--我的钱包-->
<!--required:../static/style/myPurse.css-->
            <div class="money-myPurse">
                <div class="balance cf"><img class="fl" src="modules/myPurse/static/image/myPurse/img.png" alt="余额" width="113" height="113"/><span class="fl"><small>余额</small><br/>1000.00</span></div>
                <p><button>提现</button></p>
            </div>
            <div class="bank">
                <p class="card"><a href="#"> <img src="modules/myPurse/static/image/myPurse/bank1.png" alt="建设银行" width="508" height="148"/></a></p>
                <p class="card"><a href="#"> <img src="modules/myPurse/static/image/myPurse/bank2.png" alt="招商银行"width="508" height="148"/></a></p>
                <p ><a href="#"><img src="modules/myPurse/static/image/myPurse/add_03.png" alt="增加银行卡"/></a></p>
            </div>

