*{
    padding:0;
    margin:0;
    list-style: none;
    border: none;
}
body{
    color:#686868;
    font-family: 'microsoft yahei';
    padding: 70px 0 110px 0;
}
.clear{
    clear:both;
    height: 0;
    overflow: hidden;
}
.cf:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.fl{
    float: left;
}
a{
    text-decoration: none;
}

.cf{
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.window{
    width: 640px;
    margin: 0 auto;
}
.bg{
    background: #ebebeb;
}
.header{
    height: 70px;
    background:#f13800 ;
    position: fixed;
    width:640px;
    top:0;
    z-index: 10;
}
.logo{
    margin:13px 0 0 27px;
    background: url("../image/logo.png") no-repeat 0 0;
    width: 82px;
    height: 41px;
}
.logo a{
    text-indent: -999em;
    display: block;
    width: 100%;
    height: 100%;
}
.search{
    width:436px;
    height: 45px;
    line-height: 45px;
    margin:10px 20px 0 0;
    background: url("../image/ssk.png") no-repeat 0 bottom ;

}
.search label{
    text-indent: -999em;
    display: inline-block;
    background: url("../image/search.png") no-repeat center center ;
    width: 50px;
}
.search input{
    width: 297px;
    color: #f1aa94;
    font-size: 24px;
    background: none;
    border: none;

}
.search button{
    width: 80px;
    border: none;
    font-size: 24px;
    color: #ffffff;
    background: none;
}
.footer {
    background: #f13800;
    width:640px;
    position:fixed;
    bottom:0;
    z-index: 10;
}
.footer span{
    display: inline-block;
    text-align: center;
    width:150px;
    padding:70px 0 17px 0;
    color: #fff;
    font-size: 20px;
}
.act{
    background: url("../image/hd1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
/*.footer .act{*/
    /*color: #f9e700;*/
/*}*/
.house{
    background: url("../image/fyk1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
.agent{
    background: url("../image/jjrzq1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
.personal{
    background: url("../image/grzx1.png") no-repeat center 20px;
    background-size: 40px 40px;
}
#imghead{
	border-radius: 500px;
	height: 128px;
	width: 128px;
}



