.content-housesPic{
    padding-bottom: 90px;
}
.content-housesPic .syj{
    height: 74px;
    line-height: 74px;
    background-color: #fff;
    padding: 0 10px;
}
.content-housesPic .syj span{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.content-housesPic .brokerage{
    height: 90px;
    line-height: 90px;
    margin-top: 10px;
    background-color: #fff;
    font-size: 1.3em;
    color: #f15100;
    padding-left: 30px;
    border-bottom:1px solid #ebebeb;
}
.content-housesPic .price{
    background-color: #fff;
    padding-left: 30px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}
.content-housesPic .price .qi{
    font-size: 1.5em;
    color:#f15100;
    line-height: 60px;

}
.content-housesPic .price p{
   font-size: 1.4em;
    color: #414141;
    line-height: 40px;
}
.content-housesPic .tw{
   height: 70px;
  line-height: 70px;
  color: #666666;
  background-color: #f9f9f9;
  margin-top: 15px;
    padding-left: 30px;
}
.content-housesPic .hjt{
    padding:43px 65px 30px 65px;
    background-color: #fff;
}
.content-housesPic .jp{
    padding-left: 77px;
    color: #f13800;
    font-size: 1.5em;
    background-color: #fff;
}
.content-housesPic .sun{
    padding:28px 0 0 77px;
    color: #333333;
    background-color: #fff;
    font-size: 1.3em;
}

.content-housesPic a{
    position: absolute;
    color: #fff;
    font-size: 1.4em;
    z-index: 9;
}
.content-housesPic .dk{
   left: 50px;
   top:0;
}
.content-housesPic .tj{
    left: 200px;
    top:0;
}
.content-housesPic .ask{
    padding-left: 30px;
    left: 400px;
    top:0;
    background:url("../image/housePic/cell.png") no-repeat 0 center;
}
.content-housesPic .summaryBg{
    position: fixed;
    height: 90px;
    line-height: 90px;
    width: 640px;
    opacity: 0.65;
    bottom: 110px;
    background: url("../image/housePic/sx.png") no-repeat 350px 33px #000;
    z-index: 8;
}
