<div class="sendPacket_content">
    <div class="sendPacket_title cf">
        <img src="/modules/sendPacket/static/image/logo.png" alt="水云间logo" class="titleLogo fl">
        <p class="titleHead fr">中天·水云间</p>
    </div>
    <div class="sendPacket_banner">
        <img src="/modules/sendPacket/static/image/banner.png" alt="中天·水云间" class="banner_image">
        <div class="banner_point"><img src="/modules/zhongtian_HouseDetail/static/image/shuiyun/circle.png"><img src="/modules/zhongtian_HouseDetail/static/image/shuiyun/circle.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/circle.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/circle.png"><img src="modules/zhongtian_HouseDetail/static/image/shuiyun/circle.png"></div>

    </div>
    <div class="sendPacket_main">

        <div class="sendPacket_rebate">
            <div class="zhongtian_introduce">
                <p>270-643㎡，一环曲靖一中学位房，均价7000元/㎡起；</p>
                <p>商业巨擎-西南家乐福旗舰店、银行欢乐影城、洲际品牌店全线入驻。</p>
            </div>
            <p class="rebate_zhongtian">
                <span>优惠巨献：</span><br>
                <span>1.8万抵6万，3万抵15万</span>
            </p>
            <p>还在犹豫什么，机不可失哦！</p>
        </div>
        <img src="/modules/sendPacket/static/image/grabBag.png" alt="抢红包" class="redbag_background"/>
        <div class="redbag_out cf">
            <img src="/modules/sendPacket/static/image/redbag.png" alt="红包" class="redbag_logo fl">
            <P class="redbag_word fl">红包正在努力飞向您···</P>
        </div>
    </div>
</div>