
.header{
    height: 67px;
    line-height: 67px;
    background: #fc3b00;
    position:fixed;
    top:0;
    width:640px;
    z-index:10;
}
.header a{
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin-left:19px;
    padding-left:19px;
    background: url("../image/customerList/icon1_03.png") no-repeat 0 center;
}
h1{
    font-weight: normal;
    color:#fff;
    margin-left: 270px;
    font-size: 22px;
}
.content .list {
    margin-bottom: 20px;
}

.content .intro{
    background-color: #fff;
    padding:16px 0 16px 35px;
}
.content .intro .name{
    line-height: 30px;
}
.content .intro b{
    color: #000;
    font-weight: normal;
    font-size:24px;
}
.content .intro small, .content .intro .tell{
    color:#626161;
    font-size: 20px;
}
.content .intro .tell{
    padding:20px 30px 0 0;
}
.content .last{
    background-color: #f8f8f8;
    height: 64px;
    line-height: 64px;
    color: #b2b2b2;
    font-size: 20px;
    padding-left: 35px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.last small{
    font-size:20px;
    color: #fc3b00;
}
.icon{
    display: inline-block;
    width: 28px;
    height: 12px;
    background: url("../image/customerList/t.png") no-repeat 0 0;
    margin:26px 30px 0 0;
}
.content .detail{
    background-color: #f8f8f8;
}
.detail .last small{
    color: #b2b2b2;
}
.detail .last .icon{
    background: url("../image/customerList/t2_03.png") no-repeat 0 0;
}
.detail .imgList{
    width: 17px;
    height: 328px;
    margin:0 30px 0 62px;
    background: url("../image/customerList/list.png") no-repeat 0 0;
}
.detail li {
    border-top: 1px solid #ebebeb;
    width: 503px;
    padding:15px 0;
    line-height: 20px;
}
.detail li p{
    font-size: 16px;
    color: #b5b4b4;
}
