<div ng-controller="configureDetailedController">
<ul class="nav nav-tabs">
    <li class="">
        <a href="" data-toggle="tab" data-target="#tab1" aria-expanded="false">个人信息</a>
    </li>
    <li class="active">
        <a href="" data-toggle="tab" data-target="#tab2" aria-expanded="true">出入账</a>
    </li>
    <li class="">
        <a href="" data-toggle="tab" data-target="#tab3" aria-expanded="false">提现明细</a>
    </li>
    <li class="">
        <a href="" data-toggle="tab" data-target="#tab4" aria-expanded="false">银行卡明细</a>
    </li>
    <li class="">
    <a href="" data-toggle="tab" data-target="#tab5" aria-expanded="false">积分明细</a>
</li>
    <li class="">
        <a href="#page/CRM/AgentManager/index" ><span class="label bg-success" title="Active">返回</span></a>
    </li>
</ul>
<div class="tab-content p b-a no-b-t bg-white m-b-md">

    <div role="tabpanel" class="tab-pane animated fadeIn " id="tab1">
        <div class="md-list-item">
            <div class="md-list-item-left">
                <img src="{{BrokerModel.Headphoto}}" class="w-full circle">
            </div>
            <div class="md-list-item-content details"  >
                <div><small>{{BrokerModel.Nickname}}</small><small> {{BrokerModel.Brokername}}</small></div>
                <div><small>{{BrokerModel.Realname}}</small><small>{{BrokerModel.Sexy}}</small></div>
                <div><small>积分总额：{{BrokerModel.Totalpoints}}</small><small>账户余额：{{BrokerModel.Amount}}</small></div>
            </div>
        </div>
        <table class="table">


            <tr>
                <td>电话：{{BrokerModel.Phone}}</td>
                <td>QQ：{{BrokerModel.Qq}}</td>
                <td>邮箱：{{BrokerModel.Email}}</td>
            </tr>
            <tr>
                <td>身份证：{{BrokerModel.Sfz}}</td>
                <td>性别：{{BrokerModel.Sexy}}</td>
                <td>注册时间：{{BrokerModel.Regtime1}}</td>

            </tr>
            <tr>
                <td>用户类型：{{BrokerModel.Usertype1}}</td>
                <td>状态：{{BrokerModel.State}}</td>
                <td>所属合伙人：{{BrokerModel.PartnersName}}</td>

            </tr>

        </table>
        <div>{{BrokerModel.Address}}</div>

    </div>

    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab2">
        <!--<div class="row"  style="display: none">-->
            <!--<input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>-->
        <!--</div>-->
        <div ng-show="visibleAccount">
        <div class="row border" style="background-color:#EFEFEF;">
            <div class="col-md-6">
                <div class="col-md-4">ID</div>
                <div class="col-md-4">新增金额</div>
                <div class="col-md-4">金额变动描述</div>
            </div>
            <div class="col-lg-6">
                <div class="col-md-6">增加时间</div>
                <div class="col-md-6">经纪人名</div>
            </div>
        </div>
        <div class="row border" ng-repeat="item in listCRZ">
            <div class="col-md-6">
                <div class="col-md-4">ID:{{item.Id}}</div>
                <div class="col-md-4">￥{{item.Balancenum}}</div>
                <div class="col-md-4">{{item.MoneyDesc}}</div>
            </div>
            <div class="col-lg-6">
                <div class="col-md-6">{{item.Addtime}}</div>
                <div class="col-md-6">{{item.brokername}}</div>
            </div>
        </div>
        <div colspan="5" class="text-center footable-visible">
            <pagination boundary-links="true" total-items="totalCountCRZ" items-per-page="searchCRZCondition.pageSize" ng-model="searchCRZCondition.page" ng-change="getCRZList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>
             </div>
            </div>
        <div class="posonfont" ng-bind="tipsAccount"></div>
    </div>

   <div role="tabpanel" class="tab-pane animated fadeIn" id="tab3">
        <!--<div class="row">-->
            <!--<input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>-->
        <!--</div>-->
       <div ng-show="visibleDraw">
       <div class="row border" style="background-color:#EFEFEF;">
           <div class="col-md-6">
              <div class="col-md-4" >ID</div>
              <div class="col-md-4" >提现金额</div>
              <div class="col-md-4" >银行卡号 </div>
           </div>
           <div class="col-lg-6">
               <div class="col-md-6" >银行名称 </div>
               <div class="col-md-6"  >提现时间</div>
           </div>
       </div>
       <div class="row border"ng-repeat="item in listTX" >
           <div class="col-md-6">
           <div class="col-md-4" >{{item.Id}}</div>
           <div class="col-md-4" >￥{{item.Withdrawnum}} </div>
           <div class="col-md-4" >{{item.banknumber}}</div>
               </div>
           <div class="col-lg-6">
           <div class="col-md-6" >{{item.bankname}}</div>
           <div class="col-md-6"  >{{item.Withdrawtime}}</div>
               </div>
       </div>
       <div colspan="6" class="text-center footable-visible">
           <pagination boundary-links="true" total-items="totalCountTX" items-per-page="searchTXCondition.pageSize" ng-model="searchTXCondition.page" ng-change="getTXList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>
       </div>
</div>
       <div class="posonfont" ng-bind="tipsDraw"></div>
    </div>

    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab4">
        <!--<div class="row">-->
            <!--<input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>-->
        <!--</div>-->
        <div ng-show="visibleBank">
        <div class="row border"style="background-color:#EFEFEF;" >
            <div class="col-md-4">ID</div>
            <div class="col-md-4">银行卡号</div>
            <div class="col-md-4">银行卡名称</div>
        </div>
        <div class="row border" ng-repeat="item in listBank" >
            <div class="col-md-4">{{item.Id}}</div>
            <div class="col-md-4">{{item.Num}}</div>
            <div class="col-md-4">{{item.bankName}}</div>
        </div>
        <div colspan="5" class="text-center footable-visible">
            <pagination boundary-links="true" total-items="totalCountBank" items-per-page="searchBankCondition.pageSize" ng-model="searchBankCondition.page" ng-change="getBankList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>
        </div>
            </div>
        <div class="posonfont" ng-bind="tipsBank"></div>
    </div>

    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab5">
       <div ng-show="visibleJF">
        <div class="row">
            <!--<input type="text" class="form-control form-control-1 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入电话号码" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">-->
            <!--<button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>-->
            <span style="float:right;font-weight: bold;margin-right: 50px;font-size:1.5em;">积分总额:{{BrokerModel.Totalpoints}}</span>
        </div>
        <div class="row border" style="background-color: #EFEFEF">
            <div class="col-md-3">ID</div>
            <div class="col-md-3">增加积分</div>
            <div class="col-md-3">积分描述</div>
            <div class="col-md-3">增加日期</div>
        </div>
        <div class="row border"ng-repeat="item in listJF" >
            <div class="col-md-3">{{item.Id}}</div>
            <div class="col-md-3">{{item.Addpoints}}</div>
            <div class="col-md-3">{{item.Pointsds}}</div>
            <div class="col-md-3">{{item.Addtime}}</div>
        </div>
        <div colspan="5" class="text-center footable-visible">
            <pagination boundary-links="true" total-items="totalCountJF" items-per-page="searchJFCondition.pageSize" ng-model="searchJFCondition.page" ng-change="getJFList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>
        </div>
       </div>
        <div class="posonfont" ng-bind="tipsJF"></div>
          </div>

</div>
</div>
