<form name="form" id="form" ng-controller="ChannelCreateController" ng-submit="Create()">
    <div class="panel panel-default">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="panel-body revise">
            <div class="bottom" ><label for="name">频道名称： </label> <input id="name" type="text" ng-model="ChannelModel.Name" name="Name" required>
                <span ng-show="form.Name.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
            </div>
            <!--<div class="bottom" ><label for="names">所属频道： </label>-->
                <!--<select name="" id="names">-->
                    <!--<option value="">频道1</option>-->
                    <!--<option value="">频道2</option>-->
                    <!--<option value="">频道3</option>-->
                <!--</select>-->
            <!--</div>-->
            <div class="bottom" ><label for="name">状态：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
                <select name="Status" ng-model="ChannelModel.Status" id="name1">
                    <option value="0">正常</option>
                    <option value="1">不可用</option>
                </select>
            </div>
            <div>
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw orange" style="margin-right:20px" type="submit">保存<div class="md-ripple-container"></div></button>
                <a href="#/page/CMS/channel/index"><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw pink">取消<div class="md-ripple-container"></div></button></a>
            </div>
        </div>



    </div>

</form>