<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>微信登陆</title>
    <link href="../static/style/redPaper.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="hd">
        <div class="img"><img src="../static/image/redPaper/wx.png" alt="微信"/></div>
        <p>该网页由优朋科技开发，向其提供以下权限即可继续操作</p>
    </div>
    <div class="main">
        <p class="check"><label><input name="" type="checkbox" value="" />&nbsp; 获得你的公开信息（昵称、头像等）</label> </p>
        <p class="btn"><button>确认登陆</button></p>
        <p class="tz">微信红包跳转页</p>
    </div>
</div>
</body>
</html>