
<div class="panel-body">
    <form class="form-horizontal"name="formdk" ng-submit="Save()">
        <div class="form-group">
            <label for="UserName" class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-10">
                <input name="UserName"maxlength="30" id="UserName" type="text" class="form-control" required ng-model="UserModel.UserName" required/>
                <span ng-show="formdk.UserName.$error.required" class="tipshowcl" aria-hidden="false">*必填项</span>
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-10">
                <input name="Password"maxlength="30" id="Password" type="password" class="form-control" required ng-model="UserModel.Password" required/>
                <span ng-show="formdk.Password.$error.required" class="tipshowcl" aria-hidden="false">*必填项</span>
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="col-sm-2 control-label">手机号码：</label>
            <div class="col-sm-10">
                <input name="Phone"ng-pattern="/^1[3|4|5|7|8][0-9]\d{8}$/" id="Phone" type="text" class="form-control" required ng-model="UserModel.Phone" required/>
                <span ng-show="formdk.Phone.$error.required" class="tipshowcl" aria-hidden="false">*必填项</span>
                <div style="font-size: 15px;color: #FC3B4F" ng-show="formdk.Phone.$invalid&&formdk.Phone.$dirty">请正确输入手机号码</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button ng-disabled="formdk.Phone.$invalid&&formdk.Phone.$dirty" type="submit" class="md-btn md-raised m-b btn-fw green"><i class="glyphicon glyphicon-ok m-r-sm"></i>提交<div class="md-ripple-container"></div></button>
                <a ui-sref="page.CRM.DK.index"><button class="md-btn md-raised m-b btn-fw pink"><i class="fa fa-reply  m-r-sm"></i>返回<div class="md-ripple-container"></div></button></a>
            </div>
        </div>
    </form>
</div>