<!--买房楼盘详细-->
<!--required:../static/style/housesBuy.css-->
<div class="content-housesBuy cf" ng-controller="HousesBuyController">
    <div class="pic-housesBuy">
        <a href="#">
            <img src="http://img.yoopoon.com/{{brand.Parameters['图片banner']}}"  width="640" height="290"/>

            <div class="summary cf"><span class="zt fl">{{brand.Bname}}<br/><small>{{brand.SubTitle}} </small></span><span class="lp fr">楼盘<br/>详情</span></div>
            <div class="summaryBg"> </div>
        </a>
    </div>
    <div class="brand-btn">
       <a href="#"><button>户型</button></a>
       <a href="tel:{{brand.Parameters['来电咨询']}}">
        <button>咨询热线</button></a>
    </div>
</div>
