<!--合伙人列表-->
<!--required：../static/style/partner.css" rel="stylesheet-->
    <div class="content">
        <ul>
            <li><p>A</p></li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Angle</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
                </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">ababababa</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">abc</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
        </ul>
        <ul>
            <li><p>B</p></li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Abi锋</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">保利</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Bailey</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Began</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
        </ul>
        <ul>
            <li><p>C</p></li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">Called</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">曹飞燕</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">曹蓝</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">蔡飞燕</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
            <li><button class="partner"><span class="p_photo"><img src="../static/image/partner/photo.png"></span>
                <span class="name">陈金蓝</span>
                <span class="jiantou"><img src="../static/image/partner/jiantou.png"></span>
            </button>
            </li>
        </ul>
    </div>
