<!--合伙人列表-->
<!--required：../static/style/partner.css" rel="stylesheet-->
    <div class="list_content" ng-controller="partnerListController" >
        <ul>

            <li ng-repeat="item in list"><a href="#/app/partner_details?userId={{item.Id}}"> <button class="partner"><span class="p_photo"><img src="modules/partner_list/static/image/partner/photo.png"></span>
                <span class="name">{{item.PartnersName}}</span>
                <span class="jiantou"><img src="modules/partner_list/static/image/partner/jiantou.png"></span>
            </button>
            </a></li>

        </ul>
        <div class="addPartners">
              <p><a href="#/app/partner_insert">添加合伙人</a></p>
        </div>
    </div>
