.bord{
    border :1px solid #dbdbdb;

}
.diveven{
    background-color:#efefef ;

}
.divodd{
    background-color:#f6f6f7;
}
.divheard{
    background-color:#dbdee2;
}
.bordTop0px{
    border-top:0px;
}
.bordhtml{
    border :1px solid #dbdbdb;
}
.marginL{
    margin-left:0px;

}
.taskheader li{
    list-style:none;
    padding:0;
    margin:0;
    float:left;
    text-align:left;
    width:15%;
}
.taskheader1 li{
    list-style:none;
    padding:0;
    margin:0;
    float:left;
    text-align:left;
    width:25%;
}
.taskclear{
     padding:28px;
    font-weight:bolder;
    vertical-align:middle;

}
.taskcenter{

    border-top:0px ;
    padding:28px;

    vertical-align:middle;


}



.taskclear1{
     padding:28px;
font-weight:bolder;
    vertical-align:middle;



}
.taskcenter1{

border-top:0px ;
    padding:28px;

    vertical-align:middle;

}

.taskd{
   /* width:830px;*/

    padding:30px;
    text-align:left;

    height:200px;
border-left-style: none;
    border-right-style:none;
    margin-top:50px;

}
.divTaskD{
    background-color:white;

    text-align:left;



}
.spantask{
    margin-left:20px;margin-right:30px;color:#0088cc;
}
.taska{
    width:800px;
    background-color:white;
    text-align:center;

}

.ptaska{
    width:200px;
    margin-left:50px;
}
.ptaskConfiga{
    width:300px;

}
.taskCon{
    width:500px;
    background-color:white;
    text-align:center;
    margin-left:200px;
    margin-top:10px;
}
.txtwid{
    width:400px;
}
.divbt{
    margin-top:50px;margin-left:130px;
}
.vertical{
    width:19px; padding-left: 7px; height: 121px;
    border-right: 1px solid #ddd;
    color:red;
    FONT-SIZE: 20pt;
    FONT-FAMILY: "华文行楷";
}
.vertical1{
    width:19px; padding-left: 7px; height: 121px;
    border-right: 1px solid #ddd;
    color:red;
    FONT-SIZE: 10pt;

}
.positionTask{
    margin-left:700px;
    margin-top: -450px;
}
.positionType{
    margin-left:650px;
    margin-top:-1450px;
}
.positionTag{
    margin-left:650px;
    margin-top:230px;
}
.positionAward{
    margin-left:650px;
    margin-top:270px;
}
.positionPunish{
    margin-left:650px;
    margin-top:270px;
}
