<!--我要带客-->
<div class="groom">
    <form>
        <p class="client_choice">
            意向户型
        </p>
        <p>
            <input type="text" list="house_type" name="house_choose" class="client_information" placeholder="请选择户型">
            <datalist id="house_type">
                <option>别墅</option>
            </datalist>
        </p>


        <p class="client_choice">
            预约时间
        </p>
        <p><input type="" class="client_information" placeholder="请填写看房时间"/><br/></p>
        <p class="client_choice">
            客户姓名
        </p>
        <p><input type="" class="client_information" placeholder="请填写客户姓名"/><br/></p>
        <p class="client_choice">
            客户电话
        </p>
        <p> <input type="" class="client_information" placeholder="请填写客户电话"/><br/></p>
        <p><button class="submit_button">提交信息</button></p>
    </form>
</div>
