<div class="p-md" ng-app="App" ng-controller="BrandController">

    <link href="scripts/ext/uploadify-v3.1/uploadify.css" rel="stylesheet" type="text/css" />
    <script src="scripts/ext/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="scripts/ext/uploadify-v3.1/jquery.uploadify-3.1.min.js" type="text/javascript"></script>

    <div>
        <!--<button  onclick="WindowShow()" class="btn btn-info btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i>添加项目-->
        <!--</button>-->
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <a href="#/page/Trading/product/createbrand" access="superAdmin,admin">
            <button id="btntask" md-ink-ripple=""style="width:150px;margin-left: 150px;" class="md-btn md-raised m-b btn-fw indigo">添加品牌</button></a>
        <div class="line b-b m-v-md"></div>
        <!--<div class="alert alert-info" align="center">{{output}}</div>-->
    </div>
    <div class="panel panel-default" align="center">
        <div class="panel-heading">项目列表</div>
        <table st-table="rowCollectionPage" class="table table-striped" align="center">
            <thead>
            <tr >
                <th align="center">缩略图</th>
                <th align="center">项目名</th>
                <th align="center">项目ID</th>
                <th align="center">添加时间</th>
                <th align="center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list">
                <td align="center"><img width="40" height="40" src={{img+item.Bimg}}></td>
                <td align="center">{{item.Bname }}</td>
                <td align="center">{{item.Id }}</td>
                <td align="center">{{item.Addtime |dateFilter}}</td>
                <td align="center">
                    <button class="btn btn-info btn-sm"  ng-click="getBrandParameter(item.Id)" onclick="ParameterWindowShow();func()"><i class="fa fa-fw m-r-xs fa-edit" ></i>参数管理
                    </button>
                    <button ng-click='open(item.Id)' class="btn btn-info btn-sm"><i md-ink-ripple class="fa fa-fw m-r-xs fa-minus"></i> 删除
                    </button>
                   <a href="#/page/Trading/product/upProductBrand?brandId={{item.Id}}"> <button   class="btn btn-info btn-sm"><i md-ink-ripple class="fa fa-fw m-r-xs fa-minus"></i> 编辑
                    </button></a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center footable-visible">
                    <pagination boundary-links="true" total-items="totalCount" items-per-page="searchCondition.pageSize" ng-model="searchCondition.page" ng-change="getList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!--弹出层开始  -->
    <div id="modal-form" class="modal in" tabindex="-1" aria-hidden="false" style="display:none;">
        <div class="modal-dialog" style="padding-top:100px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="WindowClose()" class="close" data-dismiss="modal">×</button>
                    <h4 id="eidt-msg">请填写编辑信息</h4>
                </div>
                <div class="modal-body overflow-visible" >
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="space-4"></div>
                            <div class="form-group" style="text-align:center">
                                <label for="brandName">项目名称</label>
                                <input class="input-large" type="text" ng-model="brandName" id="brandName" placeholder="" value="">
                            </div>
                            <div class="form-group" style="text-align:center" >

                                <p class="help-block">主图</p>
                                <img height="100" width="100" id="Brandimg"/>
                                <form enctype="multipart/form-data">
                                    <input name="file" type="file" multiple="multiple" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-sm" ng-click="addBrand()">
                        <i class="fa fa-fw m-r-xs fa-plus"></i>
                        添加项目
                    </button>
                    <button class="btn btn-info btn-sm" data-dismiss="modal" onclick="WindowClose()">
                        <i class="icon-remove"></i>
                        取 消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--弹出层结束  -->
    <!--弹出层开始  -->
    <div id="modal-form-parameter" class="modal in" tabindex="-1" aria-hidden="false" style="display:none; ">
        <div class="modal-dialog" style="padding-top:100px ;width: 630px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="ParameterWindowClose()" class="close" data-dismiss="modal">×</button>
                    <h4 id="msg">请填写编辑信息</h4>
                </div>
                <div class="modal-body overflow-visible" style="overflow-y: scroll; height: 300px;">
                    <table st-table="rowCollectionPage" class="table table-striped" align="center" >
                        <thead>
                        <tr>
                            <th align="center">参数名</th>
                            <th align="center">参数值</th>
                            <th align="center">参数ID</th>
                            <th align="center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr ng-repeat="item in list">-->
                            <!--<td align="center">{{row.Bimg }}</td>-->
                            <!--<td align="center">{{row.Parametervaule }}</td>-->
                            <!--<td align="center">{{row.Id }}</td>-->
                            <!--<td align="center">-->
                                <!--<button ng-click='delBrandParameter(row.Id)' class="btn btn-info btn-sm"><i class="fa fa-fw m-r-xs fa-minus"></i> 删除-->
                                <!--</button></td>-->
                        <!--</tr>-->
                        <tr ng-repeat="item in rowCollectionParameter">
                            <td align="center">{{ item.Parametername}}</td>
                            <td align="center">{{item.Parametervaule }}</td>
                            <td align="center">{{item.Id }}</td>
                            <td align="center">

                                <button  ng-click='delBrandParameter(item.Id)' class="btn btn-info btn-sm"><i class="fa fa-fw m-r-xs fa-minus"></i> 删除
                                </button></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <!--<td colspan="5" class="text-center">-->
                                <!--<pagination boundary-links="true" total-items="totalCount" items-per-page="searchCondition.pageSize" ng-model="searchCondition.page" ng-change="getList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>-->
                            <!--</td>-->
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-sm" onclick="AddParameterWindowShow()">
                        <i class="fa fa-fw m-r-xs fa-plus"></i>
                        添加参数
                    </button>
                    <button class="btn btn-info btn-sm" data-dismiss="modal" onclick="ParameterWindowClose()">
                        <i class="icon-remove"></i>
                        取 消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--弹出层结束  -->
    <!--弹出层开始  -->
    <div id="modal-form-addParameter" class="modal in" tabindex="-1" aria-hidden="false" style="display:none;">
        <div class="modal-dialog" style="padding-top:100px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="AddParameterWindowClose()" class="close" data-dismiss="modal">×</button>
                    <h4 id="addmsg">添加项目参数</h4>
                </div>
                <div class="modal-body overflow-visible">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="space-4"></div>
                            <div class="form-group" style="text-align:center">
                                <div id="xxx">
                                    <label for="brandName">参数名称</label>
                                 <select onChange="change(this.value)" class="input-large" type="text" ng-model="brandParameterName" id="brandParameterName" placeholder="" style="width: 163px; height: 26px">
                                    <option value="最高优惠">最高优惠</option>
                                    <option value="来电咨询">来电咨询</option>
                                    <option value="占地面积">占地面积</option>
                                    <option value="所属城市">所属城市</option>
                                    <option value="图片banner">图片banner</option>

                                </select>

                            <div id="最高优惠" class="form-group" style="text-align:center; ">
                                <label >优惠金额</label>
                                <input class="input-large" type="number" ng-model="brandParameterValue"  placeholder="" value="">
                            </div>
                                    <div id="占地面积" class="form-group" style="display: none ">
                                        <label >面积大小</label>
                                        <input class="input-large" type="text" ng-model="brandParameterValue"  placeholder="" value="">
                                    </div>
                                    <div id="所属城市" class="form-group"  style="display: none ">
                                        <label >城市名称</label>
                                        <input class="input-large" type="text" ng-model="brandParameterValue"  placeholder="" value="">
                                    </div>

                            <div id="来电咨询" class="form-group" style="text-align:center;display: none">
                                <label >联系电话</label>
                                <input class="input-large" maxlength="12"  type="text" ng-model="brandParameterValue"  placeholder="" value="" name="iphon" required>
                                <span ng-show="iphon.$error.required" style="color: red;">*必填项</span>

                            </div>
                            <div id="图片banner" class="form-group" style="display: none; height:150px; text-align: center">
                                <label >图片地址</label> <input id="Url" name="Url" type="text" ng-model="brandParameterValue"  required>

                                <input type="file" nv-file-select="" uploader="uploader" />

                                <table  style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th style="width: 100px;">名字</th>
                                        <th style="width: 100px;" ng-show="uploader.isHTML5">大小</th>
                                        <th style="width: 100px;" ng-show="uploader.isHTML5">进程</th>
                                        <th style="width:100px; text-align: center">状态</th>
                                        <th >功能</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue" style="text-align: left">
                                        <td style="width:50px;"><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="uploader.isHTML5">
                                            <div >
                                                <div  role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center" >
                                            <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                上传
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                                                移除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                           </div>
                            <div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-sm" ng-click="addBrandParameter()">
                        <i class="fa fa-fw m-r-xs fa-plus"></i>
                        添 加
                    </button>
                    <button class="btn btn-info btn-sm" data-dismiss="modal" onclick="AddParameterWindowClose()">
                        <i class="icon-remove"></i>
                        取 消
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--弹出层结束  -->
    <script>
        function WindowClose() {
            $("#modal-form").hide();
        }
        function WindowShow() {
            $("#modal-form").show();

        }
        function ParameterWindowShow() {
            $(" #modal-form-parameter").show();
        }
        function ParameterWindowClose() {
            $(" #modal-form-parameter").hide();
        }
        function AddParameterWindowClose() {
            $("#modal-form-addParameter").hide();
        }
        function AddParameterWindowShow() {
            $("#modal-form-addParameter").show();

        }
        function change(a){
            var xxx = document.getElementById("xxx");
            var divArray = xxx.getElementsByTagName("div");
            for (var i=0;i<divArray.length;i++) {
                if (divArray[i].id == a) {
                    divArray[i].style.display='';
                }else {
                    divArray[i].style.display='none';
                }
            }
        }

    </script>
    <!--<div colspan="5" class="text-center footable-visible">-->
        <!--<pagination boundary-links="true" total-items="totalCount" items-per-page="searchCondition.pageSize" ng-model="searchCondition.page" ng-change="getList()" class="m-t-none m-b" previous-text="‹" next-text="›" first-text="«" last-text="»"></pagination>-->
    <!--</div>-->
    <script type="text/ng-template" id="myModalContent.html">
        <div ng-include="'views/partials/modal.html'"></div>
    </script>
</div>
</div>