<div ng-app="App" ng-controller="CreatProductController" ng-submit="addProduct()">
    <script type="text/javascript" charset="utf-8" src="../libs/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../libs/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="../libs/ueditor/lang/zh-cn/zh-cn.js"></script>

    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="../libs/ueditor/lang/zh-cn/zh-cn.js"></script>
    <div class="row">
        <form class="form-horizontal" role="form" name="form"
              enctype="multipart/form-data">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 商品名称 </label>

                <div class="col-sm-9">
                    <input type="text" ng-model="ProductName" name="ProductName" required ng-maxlength="20"/>
                    <span ng-show="form.ProductName.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                    <span ng-show="form.ProductName.$error.maxlength" style="font-size:20px;color: #ff0000">*输入字符长度20以内</span>
                </div>
            </div>

            <div class="form-group">
                <!--分类-->
                <label class="col-sm-3 control-label no-padding-right"> 商品分类 </label>

                <div class="col-sm-9">
                    <div>
                        <a>{{classifyMsg}}</a>
                        <select ng-model="classifys.selectClassifyId" id="classifySelectId"
                                ng-options="o.Id as o.label for o in classifys.optionsData"
                                ng-change="selectclassifyChange()" required>
                            <option value="">请选择分类</option>
                        </select>
                        <a>{{classifyMsg1}}</a>
                        <button ng-click="resetClassifySelect()">重置</button>
                    </div>
                </div>
            </div>


            <div class="form-group"  ng-repeat="row in parameterValueList">
                <label class="col-sm-3 control-label no-padding-right"> {{row.Name}} </label>
                <div class="col-sm-9">
                    <div  ng-repeat="v in row.ValueList">
                        <input type="radio" class="ace" name={{row.Name}} value={{v.Id}} ng-model="selectParameterValue" required/>
                        <span class="lbl" name={{row.Name}}>{{v.Value}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <!--分类-->
                <label class="col-sm-3 control-label no-padding-right"> 品牌项目</label>

                <div class="col-sm-9">
                    <div>
                        <select ng-model="brands.selectBrandVal" ng-options="o.Id as o.Bname for o in brands.optionsData"
                                ng-change="selectBrandChange()" required>
                            <option value="">请选择品牌</option>
                        </select>
                    </div>
                </div>
            </div>
            <div  class="form-group">
                <!--<p class="m-t-md">上传图片</p>-->
                <label class="col-sm-3 control-label no-padding-right">上传图片</label>
                <div class="col-sm-9"><input type="file" nv-file-select="" uploader="uploader" />
                    <span style="color: #ff0000">先上传小户型图，再上传大户型图，最后上传海景图</span>
                </div>
                <div class="col-sm-9 pull-right">
                    <!--<div class="p-md">-->
                        <!--<div class="m-b"><b class="badge bg-info pos-rlt m-r-xs"><i class="arrow right b-info pull-in"></i>{{ uploader.queue.length }}</b> file(s)</div>-->
                        <table class="table bg-white b-a">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th ng-show="uploader.isHTML5">大小</th>
                                <th ng-show="uploader.isHTML5">进度</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress progress-sm no-margin m-t-xs">
                                        <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        上传
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="deleteImg(item)">
                                        移除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    <!--</div>-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 商品图片(5张) </label>
                <div class="col-sm-9">
                    <div width="100">
                            <input name="file" type="file" multiple="multiple" />
                        <!--<input type="file" nv-file-select="" uploader="uploader" />-->
                     </div>
                    <div ng-repeat="item in images">
                        <img id="pimgs" alt="主图" title="主图"  height="100" width="100" src="http://img.yoopoon.com/{{item}}"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 商品单价 </label>

                <div class="col-sm-9">
                    <input type="number" ng-model="price" step="0.1" ng-min="1" name="price" required>元
                    <span ng-show="form.price.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                    <span ng-show="form.price.$error.min" style="font-size:20px;color: #ff0000">*必须大于一</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 推荐佣金 </label>

                <div class="col-sm-9">
                    <input type="number" ng-model="RecCommission" ng-min="1" step="0.1" name="commission" required>元
                    <span ng-show="form.commission.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                    <span ng-show="form.commission.$error.min" style="font-size:20px;color: #ff0000">*必须是大于一的整数</span>
                </div>
            </div>
           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> 带客佣金 </label>

            <div class="col-sm-9">
                <input type="number" ng-model="commission" ng-min="1" step="0.1" name="commission" required>元
                <span ng-show="form.commission.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                <span ng-show="form.commission.$error.min" style="font-size:20px;color: #ff0000">*必须是大于一的整数</span>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 库存 </label>

                <div class="col-sm-9">
                    <input type="number" ng-model="Stockrule" ng-min="1" name="Stockrule" required>个
                    <span ng-show="form.Stockrule.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                    <span ng-show="form.Stockrule.$error.min" style="font-size:20px;color: #ff0000">*必须是大于一的整数</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 成交佣金 </label>

                <div class="col-sm-9">
                    <input type="number" ng-model="dealCommission" ng-min="1" step="0.1" name="dealCommission" required>元
                    <span ng-show="form.dealCommission.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                    <span ng-show="form.dealCommission.$error.min" style="font-size:20px;color: #ff0000">*必须是大于零的整数</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 商品状态 </label>

                <div class="col-sm-9">
                    <div>
                        <input type="radio" class="ace" name="Status" ng-model="Status" value="0" required />
                        <span class="lbl" name="Status">上架</span>
                        <input type="radio" class="ace" name="Status" ng-model="Status" value="1" required/>
                        <span class="lbl">暂存</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 商家推荐 </label>

                <div class="col-sm-9">
                    <div>
                        <input type="radio" class="ace" name="Recommend" ng-model="Recommend" value="0" required/>
                        <span class="lbl" name="Status">推荐</span>
                        <input type="radio" class="ace" name="Recommend" ng-model="Recommend" value="1" required/>
                        <span class="lbl">一般</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 商品内容 </label>
                <div class="col-sm-9" >
                    <div class="ueditor" ng-model="productContent" width="600" heigth="1500"></div>
                </div>
            </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">商品副标题</label>
            <div class="col-sm-9" >
                <textarea class="form-control" ng-model="SubTitle" name="SubTitle"
                          style="width: 600px;height: 200px" required maxlength="100" placeholder="请输入不要超过100个字符"></textarea>
                <span ng-show="form.SubTitle.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">广告语</label>
            <div class="col-sm-9" >
                <textarea class="form-control" ng-model="ad1" name="ad1"
                          style="width: 600px;height: 200px" required maxlength="100" placeholder="请输入不要超过100个字符"></textarea>
                <span ng-show="form.ad1.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 售后说明 </label>
                <div class="col-sm-9" >
                    <textarea class="form-control" ng-model="Sericeinstruction" name="Sericeinstruction"
                              style="width: 600px;height: 200px" required maxlength="200" placeholder="请输入不要超过200个字符"></textarea>
                    <span ng-show="form.Sericeinstruction.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 联系电话 </label>
                <div class="col-sm-9" >
                    <input class="form-control" ng-model="ContactPhone" name="ContactPhone" required/>
                    <!--<input class="form-control" ng-model="ContactPhone" name="ContactPhone" required ng-pattern="/^1[3|4|5|7|8][0-9]\d{8}$/"/>-->
                    <span ng-show="form.ContactPhone.$error.required" style="font-size:20px;color: #ff0000">*必填项</span>
                    <!--<span ng-show="form.ContactPhone.$error.pattern" style="font-size:20px;color: #ff0000">*输入正确的号码</span>-->
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <!--<button class="btn btn-info" ng-click="addProduct()">-->
                        <!--<i class="icon-ok bigger-110"></i>-->
                        <!--提交-->
                    <!--</button>-->
                    <button class="btn btn-info" type="submit" ng-disabled="form.$invalid" aria-disabled="true" disabled="disabled">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>