<div class="chipDetail-content">
    <div class="detailContent">
    <div class="topical cf">
        <img class="fl" src="/modules/chipDetail/static/image/chipDetail/logo.png" alt="中天水云间" width="49px" height="49"/>
        <div class="fr item">中天&nbsp;·&nbsp;水云间</div>
    </div>
    <div class="chipIng"><a href="#/app/chipDetail"><img src="/modules/chipDetail/static/image/chipDetail/lp.png" alt="众筹中" width="640" height="280"/><span class="summary">众筹中</span></a></div>
    <div class="BriefIntroduction-chipDetail">
        <p>270-643m²,一环曲靖一中学位房，均价7000元/m²起；<br/>商业巨擘-西南家乐福旗舰店、欢乐影城、洲际品牌店全线入驻。</p>
    </div>
        <div class="Discount">
            <div class="number-days cf">
                <span class="fl">已有467人参与众筹</span>
                <span class="fr">剩余天数：6天</span>
            </div>
            <div class="favourable-nav">
                <span class="all Supplement">9折优惠<br/><small>众筹人数100人</small></span>
                <span class="all Supplement">8折优惠<br/><small>众筹人数200人</small></span>
                <span class="all Supplement">7折优惠<br/><small>众筹人数300人</small></span>
                <span class="half Supplement">5折优惠<br/><small>众筹人数500人</small></span>
            </div>
        </div>
    <div class="repay">参与回报：不但可以五折购房，还送厨具。</div>
    <div class="time-place">
        <p>活动时间：2015年05月29日-2015年05月29日<br/>活动地点：官渡古镇D-10区1幢-4号</p>
    </div>
    </div>
    <div class="picDetail">图文详情</div>
    <img src="/modules/chipDetail/static/image/chipDetail/twxq.png" alt="图文详情" width="640" height="821"/>
    <div class="partake">
        <a href=""><button class="Consultation">咨询热线</button></a>
        <a href="#/app/chipPartake"><button class="partIn-chip">参与众筹</button> </a>

    </div>
</div>