<!--英雄榜-->
<!--required:../static/style/hero.css-->
            <div class="pic-hero">
                <a href=""><img src="/modules/hero/static/image/hero/person.png" alt="英雄人物" width="620" height="126"/><div class="first">榜首英雄</div></a>
            </div>
           <div class="list" ng-controller="heroController">
            <ul>
            	<li class="cf">
                    <span class="jp fl cf">
                        <img class="fl img" src="/modules/hero/static/image/hero/jp1.png" alt="金牌" width="42" height="59"/>
                        <div class="intro">
                            <h2>{{item[0].Brokername}}&nbsp;&nbsp;<small>{{item[0].Agentlevel}}牌经济人</small></h2>
                            <p>获得佣金：{{item[0].Amount}}/元</p>
                        </div>
                    </span>
                    <span class="smIcon icon-1 fl"><a href="#"></a></span>
                </li>
                <li class="cf">
                    <span class="jp fl cf">
                        <img class="fl img" src="/modules/hero/static/image/hero/jp2.png" alt="金牌" width="42" height="59"/>
                        <div class="intro">
                            <h2>{{item[1].Brokername}}&nbsp;&nbsp;<small>{{item[1].Agentlevel}}牌经济人</small></h2>
                            <p>获得佣金：{{item[1].Amount}}/元</p>
                        </div>
                    </span>
                    <span class="smIcon icon-2 fl"><a href="#"></a></span>
                </li>
                <li class="cf">
                    <span class="jp fl cf">
                        <img class="fl img" src="/modules/hero/static/image/hero/jp3.png" alt="金牌" width="42" height="59"/>
                        <div class="intro">
                            <h2>{{item[2].Brokername}}&nbsp;&nbsp;<small>{{item[2].Agentlevel}}牌经济人</small></h2>
                            <p>获得佣金：{{item[2].Amount}}/元</p>
                        </div>
                    </span>
                    <span class="smIcon icon-3 fl"><a href="#"></a></span>
                </li>
            </ul>
                <div class="grow">成长之星</div>
            <ul class="star">
                <li class="cf" ng-repeat="x in com">
                    <span class="jp fl cf int">
                    	<p class="fl img" style="width: 75px;margin-top: -5px;font-size: 4em;">{{$index + 4}}</p>
                         <!--<img class="fl img" src="modules/hero/static/image/hero/int0.png" alt="金牌" width="42" height="59"/>-->
                        <div class="intro">
                            <h2>{{x.Brokername}}&nbsp;&nbsp;<small class="tong">{{x.Agentlevel}}牌经济人</small></h2>
                            <p>获得佣金：{{x.Amount}}/元</p>
                        </div>
                    </span>
                    <span class="smIcon icon-2 fl"><a href="#"></a></span>
                </li>
                
            </ul>
               </div>