<div class="panel panel-card ng-scope">
    <div class="tm">
        <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw cyan-900 add">新增条目<div class="md-ripple-container"></div></button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名称</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class=" text-danger"><i class="fa fa-circle text-xs"></i></span>&nbsp;&nbsp;信息传输</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td><span class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle text-xs"></i></span>&nbsp;&nbsp;电信</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class=" text-primary"><i class="fa fa-circle text-xs"></i></span>&nbsp;&nbsp;电视广播和微信传输服务</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class=" text-warning"><i class="fa fa-circle text-xs"></i></span>&nbsp;&nbsp;固定电信服务</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class=" text-warning"><i class="fa fa-circle text-xs"></i></span>移动电信服务</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class=" text-warning"><i class="fa fa-circle text-xs"></i></span>其他电信服务</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td><span class=" text-danger"><i class="fa fa-circle text-xs"></i></span>互联网和相关服务</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>

            </td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-success"><i class="fa fa-circle text-xs"></i></span>电信</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-success"><i class="fa fa-circle text-xs"></i></span>电信</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-success"><i class="fa fa-circle text-xs"></i></span>电信</td>
            <td>
                <span class="label bg-success" title="Active">编辑</span>
                <span class="label blue" title="Active">移动</span>
                <span class="label yellow" title="Active">删除</span>
            </td>

        </tr>
        </tbody>
    </table>
    <div colspan="5" class="text-center footable-visible">
        <ul class="pagination">
            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
            <li class="footable-page"><a data-page="1" href="#">2</a></li>
            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
        </ul>
    </div>
</div>