<form name="form" id="form" >
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="bottom" >
                <div class="revise"><label for="largeDate">修改 </label></div>
                <input id="largeDate" type="text" value="大数据">
            </div>

        <div>
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw green">确认<div class="md-ripple-container"></div></button>
            <a href="#/page/CMS/tag"><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw pink">取消<div class="md-ripple-container"></div></button></a>
        </div>

</form>