<div class="box-inner padding ng-scope" ui-view=""><!-- uiView:  --><div ui-view="" class="ng-scope">
    <div class="panel panel-default ng-scope">

        <div class="panel-body b-b b-light">
            <input type="text" class="form-control form-control-1   ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="请输入搜索条件" ng-model="contact.name" required="" tabindex="0" aria-required="true" aria-invalid="true">
            <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw indigo">搜索<div class="md-ripple-container"></div></button>
            <a href="#page/CMS/creat" ><button md-ink-ripple="" class="md-btn md-raised m-b btn-fw orange-200"style="float:right;;margin-right: 50px;">新建<div class="md-ripple-container"></div></button></a>

        </div>
        <div>
            <table class="table table-striped m-b-none tablet breakpoint footable-loaded footable" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                <tr>
                    <th data-toggle="true" class="footable-visible footable-first-column footable-sortable footable-sorted">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;标签名
                        <span class="footable-sort-indicator"></span></th>

                    <th data-hide="phone" class="footable-visible footable-last-column footable-sortable">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作
                        <span class="footable-sort-indicator"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大数据</td>
                    <td class="col-2">
                        <a href="#page/CMS/cms-edit1"><span class="label bg-success" title="Active">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <span class="label yellow" title="Active">删除</span>
                    </td>

                </tr>
                <tr>
                    <td class="col-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大数据</td>
                    <td class="col-2">
                        <a href="#page/CMS/cms-edit1"><span class="label bg-success" title="Active">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <span class="label yellow" title="Active">删除</span>
                    </td>

                </tr>
                <tr>
                    <td class="col-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大数据</td>
                    <td class="col-2">
                        <a href="#page/CMS/cms-edit1"><span class="label bg-success" title="Active">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <span class="label yellow" title="Active">删除</span>
                    </td>
                </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center footable-visible">
                        <ul class="pagination"><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div></div>