<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640px"/>
    <title>我要带客</title>
    <link href="../static/style/takeOff.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="window">
    <div class="bg">
        <div class="header">
            <h1>我要带客</h1>
        </div>
        <div class="content">
            <div class="lead"><a class="area" href="#">地区:<span class="icon"></span> </a><a class="style" href="#">户型:<span class="icon"></span> </a><a class="price" href="">价格:<span class="icon"></span></a> </div>
            <ul class="message">
                <li class="brand">
                    <a href="syj.html">
                        <img src="../static/image/takeOff/p1.png" alt="中天·水云间"/>
                        <div class="point">最高佣金：&nbsp;10000元/套</div><div class="pointBg"></div>
                        <div class="summary"><span class="city">[曲靖市&nbsp;中天&nbsp;·&nbsp;水云间</span><span>户型：138m²</span><span>总价：110万</span></div><div class="summaryBg"></div>
                    </a>
                    <div class="nav">
                        <a href="redPaper-1.html"> 红包</a>
                        <a href="#">带客佣金</a>
                        <a href="#">推荐佣金</a>
                        <a class="int" href="myInt.html">积分</a>
                    </div>
                </li>
                <li class="brand">
                    <a href="syj.html">
                        <img src="../static/image/takeOff/p2.png" alt="俊发·金尚国际"/>
                        <div class="point">最高佣金：&nbsp;18000元/套</div><div class="pointBg"></div>
                        <div class="summary"><span class="city">[昆明市&nbsp;俊发&nbsp;·&nbsp;金尚国际</span><span>户型：120m²</span><span>总价：90万</span></div><div class="summaryBg"></div>
                    </a>
                    <div class="nav">
                        <a class="hui" href="redPaper-1.html"> 红包</a>
                        <a  href="#">带客佣金</a>
                        <a  class="hui" href="#">推荐佣金</a>
                        <a class="int hui" href="myInt.html">积分</a>
                    </div>
                </li>
                <li class="brand">
                    <a href="syj.html">
                        <img src="../static/image/takeOff/p3.png" alt="实力·壹方城"/>
                        <div class="point">最高佣金：&nbsp;16000元/套</div><div class="pointBg"></div>
                        <div class="summary"><span class="city">[昆明市&nbsp;实力&nbsp;·&nbsp;壹方城</span><span>户型：135m²</span><span>总价：88万</span></div><div class="summaryBg"></div>
                    </a>
                    <div class="nav">
                        <a href="redPaper-1.html" class="hui"> 红包</a>
                        <a class="hui" href="#">带客佣金</a>
                        <a  href="#">推荐佣金</a>
                        <a class="int"  href="myInt.html">积分</a>
                    </div>
                </li>
                <li class="brand wk">
                    <a href="syj.html">
                        <img src="../static/image/takeOff/p4.png" alt="万科·云上城"/>
                        <div class="diamond">
                            <h2>钻石经纪人专区</h2>
                            <h3>可获得30%提拥</h3>
                            <h3>相当于21万提拥</h3>
                        </div>
                        <div class="diamondBg"></div>
                        <div class="summary"><span>[昆明市&nbsp;实力&nbsp;·&nbsp;壹方城</span><span class="small">户型：150m²</span><span class="small">总价：70万</span></div><div class="summaryBg"></div>
                    </a>
                </li>
            </ul>

        </div>
        <div class="foot">
            <a href="activity.html"><span class="act"> 活动</span></a>
            <a href="storeroom.html"><span class="house"> 房源库</span></a>
            <a href="broker.html"><span class="agent"> 经纪人专区</span></a>
            <a href="personal.html"> <span class="personal"> 个人中心</span></a>
        </div>
   </div>
</div>
</body>
</html>