<div class="luckPacket_content" >
    <div class="luckPacket_title cf">
        <img src="modules/luckPacket/static/image/qicailogo.png" alt="七彩俊园" class="title_logo fl">
        <div class="titleBar fl">
            <p>
                <span class="titleBar_JunFa">俊发·七彩俊园</span>
                <span cass="titleBar_tip">红包已结束</span>
            </p>
            <p class="titleBar_num">
                有29716人抢到红包
            </p>
        </div>
        <p class="titleHref fr">了解<br>楼盘</p>
    </div>
    <div class="luckPacket_center " >
        <p>送您的红包是</p>
        <img src="modules/luckPacket/static/image/wankelogo.png" alt="万科" class="center_wanke"><br>
        <img src="modules/luckPacket/static/image/jinyu.png" alt="万科·金钰缇香"/><br>
        <a href="#/app/sendPacket"><button class="luckPacket_time"><span class="bag_time">00:01:52后开始</span><br><span class="bag_people">已有49788人排队等抢</span></button></a>
        <p class="center_href">了解楼盘</p>
    </div>
    <div class="luckPacket_title cf">
        <img src="modules/luckPacket/static/image/wandalogo.png" alt="万达公馆" class="title_logo fl">
        <div class="titleBar fl">
            <p class="titleBar_num">
                万达公馆-提醒你：
            </p>
            <p class="wanda_next">
                下一轮将在两小时后开始
            </p>
        </div>
        <p class="titleHref fr">了解<br>楼盘</p>
    </div>
</div>
